@font-face {
	font-family: 'ALSRublRegular';
	src: url('../fonts/rouble.eot');
	src: local('ALS Rubl'), local('ALSRubl'), url('../fonts/rouble.woff') format('woff'), url('../fonts/rouble.ttf') format('truetype'), url('../fonts/rouble.svg#ALSRubl') format('svg');
}
s {text-decoration: none;}
s:before {content: 'a'; font-family: 'ALSRublRegular';}

body {background: none #F7F7F7; overflow-y: scroll; min-width: 1200px;}
.content-wrapper {background: #FFF; color: #6C7583; z-index: -10; min-height: 70%;}

textarea {overflow: auto !important;}
.cb {clear: both;}
.cp {cursor: pointer;}
.fl {float: left;}
.fr {float: right;}
.dn {display: none !important;}
.db {display: block !important;}
.bn {border: none;}
.capitalize {text-transform: capitalize;}
.cursor-default {cursor: default !important;}
.tdn {text-decoration: none !important;}
.tdn:HOVER {text-decoration: none !important;}
.collapse-all {float: right; margin-top: -15px;}
pre {font-family: inherit; white-space: pre-wrap; white-space: -moz-pre-wrap; white-space: -pre-wrap; white-space: -o-pre-wrap; word-wrap: break-word;}

.i-pass-toggler {font-size: 11px; padding: 9px 0px 0px 1px; height: 23px; width: 100%;}

.p-reg-form-item-mailoffer {display:none;}

.rf-msg {float: none !important; height: auto !important;}
.rf-msgs-err {background: none !important; padding-left: 0px !important;}
.rf-msg-err {background: none !important; padding-left: 0px !important;}

#p-reg-form-item-pw.blue dd {color: #003D4E;}
#p-reg-form-item-pw.blue dt span {background-image: linear-gradient(270deg, #003D4E 0%, #002534 100%);}

.chzn-container .chzn-results .highlighted {background: #f5f5f5;}

/*.rf-au-inp {background: white !important;}
.rf-au-lst-scrl {width: 298px !important; background: white !important;}
.rf-au-opt {padding: 6px 0px 6px 11px !important; border-top: 1px solid #EDEDED !important; font-size: 14px;}
.rf-au-opt-sel {padding: 6px 0px 6px 11px !important; border: none !important; border-top: 1px solid #EDEDED !important; font-size: 14px;}
.rf-au-itm {width: 287px;}  
.rf-au-itm-sel {width: 287px; background: #f5f5f5 !important;}*/
.rf-au-shdw > [class*="rf-au-shdw"] {display: none;}

#phoneNumberComponentId:focus {border: none;}

.p-main .rf-msgs-err {background: none !important; padding-left: 0px;}
.p-main .rf-msg-err {background: none !important; padding-left: 0px;}

.global-error-container {display: none; margin-top: -19px; margin-bottom: 15px;}
.global-error {padding: 17px 20px 13px 20px;}
.global-error-container i {display: block; width: 4px; height: 4px; font-size: 0px; background: url(../images/reg-form-error-corners.png) 0px 0px;}
.global-error-container i.arr {width: 14px; height: 7px; background: url(../images/global-error-arrows.png) 0px -14px; margin-left: 20px;}
.global-error p {font-size: 12px; padding-bottom: 4px;}
.global-error b.red {color: #DD5E5E;}
.global-error .rf-msgs-err {background: none !important; padding-left: 0px;}
.global-error .rf-msg-err {background: none !important; padding-left: 0px;}
.global-error .rf-msgs-wrn {display: none;}
.global-error .rf-msgs-wrn {display: none;}
.global-error .rf-msg-det {color: black;}
.p-main .rf-msgs-wrn {display: none;}
#javax_faces_developmentstage_messages {display: none;}

.info-red .rf-msgs-err {background: none !important; padding-left: 0px;}
.info-red .rf-msg-err {background: none !important; padding-left: 0px;}
.info-red .rf-msgs-wrn {display: none;}

#txListDataTable .rf-msgs-err {background: none !important; padding-left: 0px;}
#txListDataTable .rf-msg-err {background: none !important; padding-left: 0px;}
#txListDataTable td.type a, #cardTxList td.type a, #paymentOrdersDataTable td.type a {cursor: pointer;}
#txListDataTable td, #cardTxList td {vertical-align: middle;}
.p-main-transactions .sum-dbl {position: relative;}

.p-history-advanced-dates {display: block;}

#wrongSmsCodeMessage {font-size: 12px; color: #E04444; width: 290px; margin-top: 5px;}
span#sms .popup-reg-sms-form > dl {padding-bottom: 0;}

.placeholder {color: #999 !important;}
::-webkit-input-placeholder {color: #999 !important;}
:-moz-placeholder {color: #999 !important;}
::-moz-placeholder {color: #999 !important;}
:-ms-input-placeholder {color: #999 !important;}
:focus::-webkit-input-placeholder {color: transparent !important;}
:focus:-moz-placeholder {color: transparent !important;}
:focus::-moz-placeholder {color: transparent !important;}

#cityComponentIdItems div em {font-weight: bold; font-style: normal;}
.wallet-currency {text-decoration: none; cursor: text;}
.wallet-currency:hover {text-decoration: none;}

.p-history-nothing {width: auto;}
.p-history-nothing dt {margin-bottom: 16px;}
.p-history-searching {width: auto;}

.popup-transaction-fields li.id dfn, .p-profile-apisci-list-item .name {word-wrap: break-word;}

.wallet-red {background-color: #FCDDDD;}
.wallet-green {background-color: #F2F7F9;}
.wallet-grey {background-color: #F2F7F9;}
.wallet-red-hover {background-color: #FCDDDD !important;}
.wallet-green-hover {background-color: #E3E8EC !important;}

.info-green a {display: block; width: 16px; height: 16px; position: absolute; top: 19px; right: 20px;}
.info-red a {display: block; width: 16px; height: 16px; position: absolute; top: 19px; right: 20px;}

.p-inside-exchange-step .combobox-number-header input + a {height: 26px; background: transparent; margin: 1px 0 0 -28px;}
.p-inside-exchange-step .combobox-number-header input {background: url(../images/exchange-acc-number.png) no-repeat scroll 270px 0 transparent}
.p-inside-exchange-step .combobox-number-header input.active {background-position: 270px -28px;}
.p-inside-exchange-step .sum {padding: 0;}

.block-addwallet {margin: 0 23px 0 12px;}
.block-addwallet .link {margin-left: 8px;}
.block-personal .sum a:hover {text-decoration: none;}

.p-reg-form-item > dd input.passed {padding-right: 35px; width: 257px;}
.p-reg-form-item > dd input.declined {padding-right: 35px; width: 257px;}

.popup-lost-tx {width: 450px; left: 50%; margin-left: -185px; top: 30%; z-index: 9001 !important; position: fixed !important;}
.popup-lost-tx .popup-bug-form-submit {overflow: visible;}

.popup-bug-form-item .rf-msg {height: 5px;}
.popup-bug-form-item .rf-msg-err {background: none !important; padding-left: 0px;}
.popup-bug-form-item .rf-msgs-err {background: none !important; padding-left: 0px;}
.popup-bug-form-item .rf-msg-det {color: #E04444;}

.popup-addwallet-text-empty {color: #A6B1C1; font-size: 11px; margin: 0 17px; padding-bottom: 50px;}

.p-notify-tab-togglers {overflow: hidden; zoom: 1; padding-top: 24px;}
.p-notify-tab-togglers dl {float: left; margin-right: 21px; width:120px;}
.p-notify-tab-togglers dt {text-align: center; float: none; color: #4e4d4d; text-transform: uppercase; padding-bottom: 7px;}
.p-notify-tab-togglers dd ul {float: none; margin-bottom: 20px; overflow: hidden; zoom: 1;}
.p-notify-tab-togglers dd ul span {padding: 0px; width: 58px;}
.p-notify-tab-togglers > ul {font-size: 14px; font-weight: bold; padding-top: 27px;}
.p-notify-tab-togglers > ul li {padding-bottom: 33px;}

.p-inside-transactions-header-filter {letter-spacing: 0;}
.p-main-secbuttons-tabs, .p-inside-transactions-header-filter {float: left; background-color: #E3E8EC; padding: 2px; border-radius: 6px; font-size: 10px; line-height: 16px; font-weight: bold; position: relative;}
.p-main-secbuttons-tabs li, .p-inside-transactions-header-filter li {float: left; position: relative;}
.p-main-secbuttons-tabs li:first-child, .p-inside-transactions-header-filter li:first-child {z-index: 2;}
.p-main-secbuttons-tabs li a, .p-main-secbuttons-tabs li label, .p-inside-transactions-header-filter li a, .p-main-secbuttons-tabs li.disabled span span {color: #6C7583; cursor: pointer; border-radius: 4px; display: block; height: 32px; text-decoration: none; line-height: 32px; text-transform: uppercase; padding: 0 16px; white-space: nowrap;}
.p-main-secbuttons-tabs li.active a, .p-main-secbuttons-tabs li.active label, .p-inside-transactions-header-filter li.active a {background-color: #FFF;}
.p-main-secbuttons-tabs .p-settings-main-item-button-text {position: absolute; top: 100%; right: 0; white-space: nowrap;}

.verified {color: #289e13; font-size: 11px; line-height: 1; text-indent: 1px;}

.header-panel-user b {max-width: 200px; overflow: hidden;}
.header-panel-user b i {display: block; height: 16px; width: 25px; background: url(../images/personal-fader.png); position: absolute; top: 0px; right: -1px;}

.p-ip-sec-form-item-error {position: absolute; width: 290px; background: #FCDDDD; top: 11px; right: 0px; padding: 10px 20px 10px 20px; z-index: 1; height: 15px;}
.p-ip-sec-form-item-error i {display: block; width: 4px; height: 4px; font-size: 0px; position: absolute; background: url(../images/reg-form-error-corners.png) 0px 0px;}
.p-ip-sec-form-item-error i.tl {top: 0px; left: 0px;}
.p-ip-sec-form-item-error i.tr {background-position: -4px 0px; top: 0px; right: 0px;}
.p-ip-sec-form-item-error i.br {background-position: -4px -4px; bottom: 0px; right: 0px;}
.p-ip-sec-form-item-error i.bl {background-position: 0px -4px; bottom: 0px; left: 0px;}
.p-ip-sec-form-item-error p {font-size: 12px; padding-bottom: 4px;}
.p-ip-sec-form-item-error b.red {color: #DD5E5E;}

.p-settings-form-iprange input {width: 150px !important;}
.p-settings-form-iprange span {font-size: 12px; position: static; top: -4px;}
.p-settings-form-newline {position: relative; margin-top: 10px; height: 35px;}
.p-settings-form-newline a {position: absolute; background: url(../images/settings-newline-remove.png); right: 349px; top: 2px;}

.p-reg-form-slider-hint {display: block; width: 230px; height: 30px; background: url(../images/reg-slider-hint.png); top: -18px; left: 58px; position: absolute;}
.p-reg-form-slider-hint i {color: gray; font-size: 10pt; padding-left: 30px;}

#payPasswordCheckComponentId {display: block; float: left; width: 297px !important; padding: 3px 3px 3px 8px; font-weight: normal; font-size: 18px !important;}
.transaction-pass-input span {display: block; float: left; font-size: 11px; padding: 0px 0px 0px 10px;}

/*.p-reg-form-item.myask .combo {width: 297px !important;}*/

.unread-news {background-color: #F2F7F9 !important}

.p-main-news-item {padding-left: 10px;}

.p-main-news-item {padding-left: 10px;}
.popup-transaction-fields {font-size: 0 !important;}
.popup-transaction-fields li {font-size: 14px !important;}
.popup-transaction-fields li.id {width: 360px; padding: 0;}
.popup-transaction-fields li.from {width: 360px; padding: 24px 0px 0px 0px;}
.popup-transaction-fields li.inner-from {width: 235px; padding: 24px 0px 0px 0px;}
.popup-transaction-fields li.wall-from {width: 235px; padding: 24px 0px 0px 0px;}
.popup-transaction-fields li.wall-to {width: 120px; padding: 24px 0px 0px 0px;}
.popup-transaction-fields li.transfer {width: 110px; padding: 24px 0px 0px 0px;}
.popup-transaction-fields li.transfer.amount-to-be-credited {width: 130px;}
.popup-transaction-fields li.comission {width: 125px; padding: 24px 0px 0px 0px;}
.popup-transaction-fields li.enrolled {width: 120px; padding: 24px 0px 0px 0px;}
.popup-transaction-fields li.recieved {width: 145px;}
.popup-transaction-fields li.cashed {width: 140px; padding-bottom: 16px;}
.popup-transaction-fields li.cancel {width: 360px; padding: 36px 0px 0px 0px;}
.popup-transaction-fields li.protection {width: 360px; padding: 24px 0px 0px 0px;}
.popup-transaction-fields li.protection br {display: none;}
.popup-transaction-fields li.protection span.red {padding: 0;}
.popup-transaction-fields li.done {width: 128px;}
.popup-transaction-fields li.desc {width: 340px;}
.popup-transaction-fields li.coupon {word-wrap: break-word; word-break: break-all;}

#codeCardCheckComponentId {display: block; float: left; width: 149px; padding: 6px 0 5px 9px; border: 1px solid #e3e2e7; border-top: 1px solid #adadaf; font-weight:bold; font-size: 14px;}

.activity #activity-level i {font-weight: bold; font-style: normal; color: #A6B1C1;}

span.notverified {color: #E05F5F;}

.p-reg-form-item .inline-tip {position: relative; top: -2px; padding-left: 10px;}
.transaction-sms-tip .inline-tip {position: relative; top: -2px;}
.p-new-file-allowed {padding-top: 2px;}

.p-inside-transactions-body.exchange-step2 li.sum {width: 225px;}
.p-inside-transactions-body.exchange-step2 ul {overflow: hidden; zoom: 1; width: 400px; padding: 17px 0px 0px 3px;}
.p-inside-transactions-body.exchange-step2 li.sum span:first-child + b {width: auto; min-width: 44px;}

.myacc-link-en {display: block; height: 100%; background: url(../images/myacc_en.png);}
.myacc-link-ru {display: block; height: 100%; background: url(../images/myacc_ru.png);}

.popup-profile-data dd {min-height: 20px;}

.p-reg-form-item-error {z-index: 1; border-radius: 4px; -webkit-border-radius: 4px; -moz-border-radius: 4px; -khtml-border-radius: 4px; /*behavior: url(/css/PIE.htc);*/}
.p-reg-form-item-tip, .p-reg-form-item-tip-ip {border-radius: 4px; -webkit-border-radius: 4px; -moz-border-radius: 4px; -khtml-border-radius: 4px; /*behavior: url(/css/PIE.htc);*/}

.p-reg-form-item-error b {font-weight: normal;}
.p-main-transactions table {width: 100%;}
.p-main-transactions-loader {background: none; display: block; width: auto; height: auto; margin-bottom: 15px;}
.topnav td:not(.logout) a {width: 180px;}
.f-lost-transactions-head {border: 0 !important; margin: 0 !important;}
#paytype_income, #paytype_outcome {width: 271px;}
.p-transactions #num {width: 259px;}

.p-account .lang .chzn-search, .p-account .time-zone .chzn-search {position: absolute !important; margin-top: -25px !important; left: -9000px;}

.close-popup {position: absolute; top: 10px; right: 10px; z-index: 10; cursor: pointer;}

.rf-pp-shade {background: url("../images/popup-fader.png") !important; opacity: 1 !important; z-index: 1000 !important;}
.rf-pp-cntr {z-index: 1001 !important;}

span#enterPhoneNumber .p-reg-form-item-tip, span#enterPhoneNumber .p-reg-form-item-error {right: 27px;}

/*.p-support-items dl {padding-left: 71px !important;}
.p-support-items dl.tickets {background: url("../images/support_ticket.png") no-repeat 5px 20px;}
.p-support-items dl.faq {background: url("../images/support_faq.png") no-repeat 2px 20px;}
.p-support-items dl.forum {background: url("../images/support_forum.png") no-repeat 0 20px;}
.p-support-items dl.skype {background: url("../images/support_skype.png") no-repeat 0 20px;}
.p-support-items dl.jabber {background: url("../images/support_jabber.png") no-repeat 0 20px;}

.p-settings-main .intellect {background: url("../images/security_intellect.png") no-repeat -49px -34px;}
.p-settings-main .ip {background: url("../images/security_ip.png") no-repeat -9px 7px;}
.p-settings-main .password {background: url("../images/security_password.png") no-repeat 0 17px;}
.p-settings-main .code {background: url("../images/security_code.png") no-repeat 0 17px;}
.p-settings-main .sms {background: url("../images/security_sms.png") no-repeat 0 17px;}
.p-settings-main .token {background: url("../images/security_token.png") no-repeat 0 17px;}
 */
.p-profile-api-list td.delete {width: 20px; text-align: center;}
.p-profile-api-list td.delete a {background: url(../images/bin.png) no-repeat 50% 50%; display: inline-block;}
.rf-pp-cntr {border: none !important;}
.rf-pp-shdw {background-color: transparent !important;}
.popup-profile-text {text-align: center;}
#popup-merchant-delete_container {width: 450px;}
#popup-merchant-edit_container {width: 450px; position: absolute;}
.form .limit .chzn-search {position: absolute !important; margin-top: -25px !important; left: -9000px;}
#popup-merchant-edit_content_scroller, .popup-api-limit-body {overflow: visible !important;}
.p-profile-api-activation .form {width: auto !important;}
.form .clear-input {height: 26px;}

.error-tip {display: none; position: relative; width: 231px; background: #FCDDDD; padding: 17px 20px 13px 20px; margin-top: 12px; z-index: 1; border-radius: 4px; -webkit-border-radius: 4px; -moz-border-radius: 4px; -khtml-border-radius: 4px; /*behavior: url(/css/PIE.htc);*/}
.error-tip i {display: block; width: 4px; height: 4px; font-size: 0px; position: absolute; background: url(../images/reg-form-error-corners.png) 0px 0px;}
.error-tip i.tl {top: 0px; left: 0px;}
.error-tip i.tr {background-position: -4px 0px; top: 0px; right: 0px;}
.error-tip i.br {background-position: -4px -4px; bottom: 0px; right: 0px;}
.error-tip i.bl {background-position: 0px -4px; bottom: 0px; left: 0px;}
.error-tip i.arr {width: 14px; height: 7px; background: url(../images/error-tip-arr.png) 0px -7px; margin-left: 20px; top: -7px;}
.error-tip p {font-size: 12px; padding-bottom: 4px;}
.error-tip b.red {color: #DD5E5E;}

.p-profile-api-activation .error-tip {width: 261px;}
#merchant-edit-panel {display: block; padding: 0 45px;}
#merchant-edit-panel .error-tip {width: 231px;}
#limit-error .rf-msg-det {color: black;}
.p-profile-api-activation .spacer {width: 278px !important;}

.p-transactions #info {color: #000000;}

.p-inside-exchange-step dl.protection > dd {display: block !important;}
.p-inside-exchange-step dl.tip textarea {color: #000;}

.p-ref-link.blocked .p-ref-link-status {padding-left: 5px !important;}
.reflink {font-size: 14px !important; width: 500px !important;}
.reflink:focus {border: none !important;}

.p-inside-transactions-body.transaction-confirm li.activity span#activity-level {color: #A6B1C1;}

.p-inside-transactions .p-main-methods {margin-top: 34px;}
.p-inside-transactions .p-main-methods dl {width: 210px;}

.p-inside-transactions-body.transaction-confirm li {padding-top: 22px !important; padding-bottom: 0 !important;}
.p-inside-transactions-body.transaction-confirm li.invoice, .p-inside-transactions-body.transaction-confirm li.sum {padding-top: 0 !important;}
.p-inside-transactions-body.transaction-confirm li.note {width: 450px !important;}

#payment-template-list-table td {word-wrap: break-word; hyphens: auto;}
#payment-template-list-table th.date {width: 120px; max-width: 120px;}
#payment-template-list-table td.corr {width: 150px; max-width: 150px;}
#payment-template-list-table td.account-number {width: 120px; max-width: 120px;}
#payment-template-list-table td.manage {width: 100px; max-width: 100px;}
#popup-payment-template-edit_container {width: 450px; max-width: 450px;}
#popup-payment-template-edit_container .error-tip {width: 231px; max-width: 231px;}
#payment-template-edit-panel .form {padding-left: 45px;}
#popup-payment-template-edit_content_scroller {overflow: visible;}

.reg-footer-author {width: 120px;}
#recoveryPassword .p-sign-button {width: 315px;}
.secret-question {font-size: 18px;}
#emailSentPanel .p-sign-sendedsms .p-sign-button {width: 180px;}
#resendRecoveryPassword {display: table; float: none;}
#resendSmsCode, #resendPinCode {display: block; float: none; text-align: center;}
.recovery-pws-sms-sent {display: table; float: none; color: #A6B1C1;}
#resendRecoveryPassword {width: 180px;}
#resendPin {width: 180px;}

.personal-acctype {background: url(../images/account_personal.png) no-repeat scroll 20px 8px transparent;}
.business-acctype {background: url(../images/account_business.png) no-repeat scroll 14px 5px transparent;}
.partner-acctype {background: url(../images/account_partner.png) no-repeat scroll 20px 10px transparent;}

.popup-transaction-header a {width: 200px;}

.p-profile-verify-item-progress dt, .p-bug-verify-item-progress dt {text-transform: none;}

.p-main-methods dl.currency-exchange {background: url(../images/icon_currency_exchange.gif) no-repeat scroll 6px -2px transparent;}
.p-main-methods dl.inner-system {background: url(../images/icon_inner_system.gif) no-repeat scroll 6px -2px transparent;}
.p-main-methods dl.russia-adv-card {background-image: url(../images/advcards/ru-card-icon.svg);}
.p-main-methods dl.russia {background-image: url(../images/advcards/russia-card-icon.svg);}
.p-main-methods dl.ukraine {background-image: url(../images/advcards/ukr-card-icon.svg);}
.p-main-methods dl.kazakhstan {background-image: url(../images/advcards/kz-card-icon.svg);}
.p-main-methods dl.turkey {background-image: url(../images/advcards/tur-card-icon.svg);}
.p-main-methods dl.world {background-image: url(../images/advcards/world-card-icon.svg);}
.p-main-methods dl.SEPA {background-image: url(../images/flags/round/European_union.png);}
.p-main-methods dl.SWIFT {background-image: url(../images/p-input/cashless-swift.png);}
.p-main-methods dl.LOCAL_BRAZIL {background-image: url(../images/flags/round/Brazil.png);}
.p-main-methods dl.LOCAL_ARGENTINA {background-image: url(../images/flags/round/Argentina.png);}
.p-main-methods dl.LOCAL_CHILE {background-image: url(../images/flags/round/Chile.png);}
.p-main-methods dl.LOCAL_COLOMBIA {background-image: url(../images/flags/round/Colombia.png);}
.p-main-methods dl.LOCAL_MEXICO {background-image: url(../images/flags/round/Mexico.png);}
.p-main-methods dl.LOCAL_PERU {background-image: url(../images/flags/round/Peru.png);}
.p-main-methods dl.LOCAL_URUGUAY {background-image: url(../images/flags/round/Uruguay.png);}
.p-main-methods dl.LOCAL_CHINA {background-image: url(../images/flags/round/China.png);}
.p-main-methods dl.LOCAL_PHILIPPINES {background-image: url(../images/flags/round/Philippines.png);}
.p-main-methods dl.LOCAL_THAILAND {background-image: url(../images/flags/round/Thailand.png);}
.p-main-methods dl.LOCAL_VIETNAM {background-image: url(../images/flags/round/Vietnam.png);}
.p-main-methods dl.LOCAL_INDONESIA {background-image: url(../images/flags/round/Indonesia.png);}
.p-main-methods dl.LOCAL_AUSTRALIA {background-image: url(../images/flags/round/Australia.png);}
.p-main-methods dl.LOCAL_MALAYSIA {background-image: url(../images/flags/round/Malaysia.png);}
.p-main-methods dl.LOCAL_CANADA {background-image: url(../images/flags/round/Canada.png);}
.p-main-methods dl.LOCAL_UAE {background-image: url(../images/flags/round/UAE.png);}
.p-main-methods dl.SEPA, .p-main-methods dl.SWIFT, .p-main-methods dl[class^="LOCAL_"] {background-size: 64px;}

.p-main-methods dl.inactive, tr.inactive, label.inactive {opacity: 0.3;filter: alpha(opacity = 30);-webkit-filter: grayscale(100%);-moz-filter: grayscale(100%); -o-filter: grayscale(100%);-ms-filter: grayscale(100%); filter: grayscale(100%);}
tr.only-for-verified:hover td:last-child {background: rgba(237, 237, 237, 0.3);}
tr.only-for-verified td:not(:last-child) {opacity: 0.6;filter: alpha(opacity = 60);-webkit-filter: grayscale(100%);-moz-filter: grayscale(100%); -o-filter: grayscale(100%);-ms-filter: grayscale(100%); filter: grayscale(100%);}
.p-main-methods dl.inactive:hover, tr.inactive:hover, tr.only-for-verified:hover, tr.inactive .p2-button, label.inactive:hover {cursor: default;}

.p-profile-verify-item-desc dd.ok, .p-bug-verify-item-desc dd.ok {max-width: 440px; word-wrap: break-word; padding: 8px 14px 8px 36px; height: auto; line-height: normal;}
.file {overflow: inherit; position: inherit;}

.p-history-search .button.red {margin-left: 4px;}
.p-history-search .button input {width: 90px; height: 31px;}
.p-main-transactions .status a {margin-left: 25px;}

.popup-msg-text {text-align: center;}

.p-reg-title-tabs span {display: block; float: left; height: 51px; width: 160px;}
.p-profile-apisci-list {margin-bottom: 24px;}
.block-personal-limit .helper {right: 0px;}

.p-reg-form-item-tip-ip {position: absolute; width: 291px; background: #F2F7F9; top: 11px; right: 0px; padding: 15px 20px 13px 19px; display: none;}
.p-reg-form-item-tip-ip i {display: block; width: 4px; height: 4px; font-size: 0px; position: absolute; background: url(../images/exchange-protect-corners.png) 0px 0px;}
.p-reg-form-item-tip-ip i.tl {top: 0px; left: 0px;}
.p-reg-form-item-tip-ip i.tr {background-position: -4px 0px; top: 0px; right: 0px;}
.p-reg-form-item-tip-ip i.br {background-position: -4px -4px; bottom: 0px; right: 0px;}
.p-reg-form-item-tip-ip i.bl {background-position: 0px -4px; bottom: 0px; left: 0px;}
.p-reg-form-item-tip-ip p {font-size: 12px; padding-bottom: 4px;}
.p-reg-form-item-tip-ip .dotted {font-size: 11px;}

#p-reg-form-item-pw dt, #p-reg-form-item-pw dt span {height: 4px;}

.info_red_my {display: block; width: 720px; min-height: 36px; border: none !important; position: relative; z-index: 1000; margin: 0 auto 24px;}
.info_red_my a {color: currentColor;}
.content_info_red {float: left; padding-top: 10px; padding-bottom: 10px; padding-left: 18px;}
.wid_block {width: 720px;}
.wid_block_small {width: 360px !important; margin-bottom: 24px !important;}
.wid_text_small {width: 300px;} 

.info_green_my {display: block; width: 720px; min-height: 36px; background: #00AF7E; color: #FFF; border-radius: 4px; -webkit-border-radius: 4px; -moz-border-radius: 4px; -khtml-border-radius: 4px; position: relative; z-index: 999; margin: 0 auto;}
.info_green_my a, .info_green_my.info-security div.info-content {color: #FFF;}
.info_green_my a.krest {display: block; position: absolute; z-index: 5; top: 13px; right: 13px; width: 14px; height: 14px; background: url(../images/krest_small.png) 0 0 no-repeat;}

.sci-form .spacer {border: 0px; padding: 0px 0px 30px 0px;}
.sci-form .p-reg-form-item-error {right: -279px;}
.sci-form .p-reg-form-item-error {top: 23px;}
.sci-form .method .p-reg-form-item-error {top: 25px;}
.sci-form .spacer {height: 60px;}
.sci-form .spacer .p-reg-form-item-error {top: 10px;}
.sci-form .method input:focus {border: none;}
.sci-form .tip {width: 290px;}
.sci-form #p-reg-form-item-pw dt {width: 317px;}
.sci-form .combobox-account-header {width: 327px;}
.sci-form .combobox-account-list {width: 343px;}
.sci-form .combobox-account-list li {display: block;}
.sci-form .p-reg-form-item-tip {right: 20px;}

#ajax-status {position: absolute; display: none; z-index: 100000;}
.p-history-searching {margin-top: 26px;}

.history-export .all, .history-export .income, .history-export .outgoing {float: left; padding: 0; margin-left: 0; margin-right: 25px;}

.p-profile-sci-activation #i-pass {padding-left: 2px;}
.p-profile-sci-activation #i-pass input {width: 317px;}
.info-security {width: auto; margin: 18px 0px 10px 0px;}
.info-security div.info-content {color: #414750; width: 650px; font-size: 12px; line-height: normal; float: left; padding: 13px 0px 13px 18px;}
.p-inside-exchange-step .email input {width: 289px;}
.p-history-advanced-statuses span {width: 110px;}
.p-inside-exchange-step .sum input[type=text] {width: 129px;}
.p-inside-exchange-step dl.sum {width: 155px;}
.p-inside-transactions-body.transaction-confirm ul {width: 500px;}
.bin {width: 15px; height: 15px; margin-top: 6px; background: url(../images/bin.png) no-repeat 50% 50%;}
.p-settings-main-item .level i b {font-weight: normal; color: #A6B1C1;}
.p-ref-scheme input[type=text]:focus {border: none;}

.block-personal {border: none;}
.input-currency input:focus {border: none;}
label.save-data {float: left; display: inline-block; vertical-align: top; font-size: 11px; cursor: pointer;}
label.save-data input {margin: 0 3px 0 0;}
label.save-data span {color: #A6B1C1; display: inline-block;vertical-align: top;}
.p-transfer-form .sms {padding-top: 21px;}
.selector-recent-disabled, .selector-wallet-disabled, .selector-card-disabled {width: 30px; height: 30px; position: relative; display: inline-block; vertical-align: top; margin-left: 9px;}
.selector-recent-disabled > a {display: block; height: 100%; background: url(../images/selects2.png) -30px 0px; cursor: default !important;}
.selector-wallet-disabled > a {display: block; height: 100%; background: url(../images/selects2.png); cursor: default !important;}
.selector-card-disabled > a {display: block; height: 100%; background: url(../images/selects2.png) -60px 0px; cursor: default !important;}
.p-transfer .p-history-nothing {border: none;}
.p-transfer-form .f-item.currency-changer .input-currency input, .p-card-creating .f-item.currency-changer .input-currency input {width: 217px !important;}
.index-nothing {border: none; margin: 15px 0px 15px 0px;}
span#cityComponentId {display: inline;}
.p-main-topbuttons-tabs input {filter: alpha(opacity=1); -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)"; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=1);}
.p-preview dd.msg, .p-preview dd.theme {word-wrap: break-word;}
.footer-author {width: 120px;}
.deposit-funds-table tr:hover td {background: none !important;}
.partner-desc {font-size: 14px; line-height: 18px; color: #A6B1C1; padding: 0px 0px 4px 2px;}
#cardTxList .p-history-nothing, #cardTxList .p-history-nothing {border-top: none;}
#txForm .p-history-nothing {border-top: 1px solid #DBE2E7;}
.p-card-created-data dd {min-width: 210px;}
.p-card-created-data .virtual-card-additional-info dd {min-width: 90px; padding-left: 5px;}
.p-card-created-data .virtual-card-additional-info {padding-top: 5px;}
.ignore-gaps {background-color: #F9EDBE; padding: 10px; text-align: center; width: 20em; font-weight: bold; margin: 10px 0px;}
.ignore-gaps-label {font-size: 80%;margin-top: 8px;font-weight: normal;}
.p-card-created-data .card-pin, .p-card-created-data .p-profile-verify-item-fast, .p-card-created-data .card-error {padding: 28px 25px 0px 25px;}
.verify-chapters .declined a {cursor: default;}
.popup-regged {top: 10%;}
#cardChooserPanel {font-size: 12px; display: inline-block;}
.card-transfer-warning.p-transfer-comission {width: auto; margin-left: 0px; padding-top: 21px;}
#cardHolderPanel .card-transfer-warning.p-transfer-comission {padding-top: 0;}
.p-transfer-form .combobox-number-header input.selected {text-align: right;}
.popup {z-index: 1000;}
.p-main-transactions td.type span.api-sci {color: #999; font-weight: normal; font-size: 10px; line-height: 14px; letter-spacing: 0; position: absolute !important; top: -2px; margin-left: 5px;}
.p-main-transactions td.type .popup-transaction-header > a:first-child {position: relative;}
.p-main-transactions td.type .popup span.api-sci {margin-top: -1px;}
.popup-transaction-header a:hover span.api-sci {border-bottom: none;}
.p-transfer-tip .fee {width: 430px !important;}
.p-card-creating-address .rf-au-lst-scrl, .p-card-creating-address .rf-au-shdw {width: 205px !important;}
.p-card-creating-address .rf-au-itm {width: 189px !important;}  
.p-card-creating-address .rf-au-itm-sel {width: 189px !important; background: #f5f5f5 !important;}
.fee i {color: #A6B1C1;}
.block-cards-item-ballance strong.loading {background-image: url(../images/ajax-arrows-loader.gif); width: 15px; height: 15px; margin-left: 4px;}
.p-profile-verify-item-fast .city #cityComponentIdInput {width: 271px;}
.p-card-creating #cityComponentIdInput {width: 283px;}
.p-input-swift .p-transfer-comission {width: auto; /*margin-top: -15px;*/ margin-bottom: 15px; font-size: 13px;}
#operationSubtype .p-history-advanced-select {width: 180px;}
.p-history-search .cursor-default {opacity: 0.5;}
.ml50px {margin-left: 50px;}
.red {color: #E05F5F;}
.green {color: #00AF7E;}
.p-card-creating-submit .checkbox {display: flex; align-items: center;}
.p-card-creating-submit .checkbox input[type=checkbox] {margin: 0 3px 0 0;}
.p-card-creating-address > p {display: inline-block; vertical-align: middle; background-color: #F2F7F9; font-weight: bold; font-size: 14px; /*white-space: nowrap; line-height: 40px;*/ padding: 14px 14px 14px 19px; max-width: 460px;}
.btc-amount {text-align: right; font-weight: bold; font-size: 18px;}
.btc-amount span.green {color: #00AF7E;}
.btc-address {text-align: right; margin-top: -17px; font-size: 16px;}
.btc-timer {float: right; margin-top: 8px; font-size: 16px; height: 10px;}
.p-profile-sci-activation.create .payer {padding-top: 24px;}
.double.long {width: 400px !important;}
.form-buttons.sci {margin-top: 28px;}
#cardCurrencyPopup_content .p-profile-verify-item-fast {width: 230px;}
.p-profile-verify-item-fast .p-settings-main-item-button {float: left;}
.p-profile-verify-item-fast .p-settings-main-item-button li {padding: 0;}
.fast-bank-transfer .p-reg-form-item {padding-bottom: 15px;}
.fast-bank-transfer .p-input-swift-tabs {padding: 20px 0px 20px 51px;}
.fast-bank-transfer .p-input-swift-tabs td {width: auto;}
.fast-bank-transfer .p-input-swift-tabs tr > * {padding-bottom: 15px;}
.fast-bank-transfer .loading {display: inline-block; margin: -4px 0px 0px 20px;}
.fast-bank-transfer-note {padding-bottom: 19px; font-size: 12px;}
.fast-bank-transfer-note ul {list-style: initial; padding-left: 18px;}
.fast-bank-transfer-note ul li {list-style: initial;}
.p-input-method-nav .loader {display: inline-block; margin: 15px;}
.dob .chzn-search, .rt-service-list .chzn-search, #externalSystemWithdrawalType_chzn .chzn-search {position: absolute !important; margin-top: -25px !important; left: -9000px;}
.popup-reg-sms .p-profile-verify-item-fast label {padding-bottom: 0px;}
#externalSystemWithdrawalType_chzn .chzn-results {max-height: none; overflow: auto;}
.p-transfer-tip .desc b {color: inherit;}
.popup-reg-sms-body .p-card-creating-text {padding: 18px 26px 19px;}
.popup-reg-sms-body .p-card-creating-text ul {list-style: initial;}
.popup-reg-sms-body .p-card-creating-text ul li {list-style: initial; margin: 0px 0px 6px 16px;}
.swift-or-sepa-not-verified .p-history-nothing {display: block !important;}
.swift-or-sepa-not-verified .p-history-nothing dt {font-size: 20px;}
.swift-or-sepa-not-verified .p-history-nothing dd {padding: 0;}.popup-reg-sms-body .p-card-creating-text ul li {list-style: initial; margin: 0px 0px 6px 16px;}

.notification-popup .popup-controls .buttons {padding-left: 140px;}
.notification-popup .popup-controls .buttons .button {float: none;}

.notification-popup .token-notification {width: 100%; min-height: 140px; box-sizing: border-box; padding-left: 140px; background: url(../images/settings-security-token-2x.png) 10px 20px no-repeat;}
.notification-popup .popup-body .token-notification-message {padding: 16px 10px 16px 0;}
.remind-me-later-label span {border-bottom: 1px dotted #00AF7E; color: #00AF7E; display: inline-block; vertical-align: top;}
.remind-me-later-label:hover span {border-bottom-color: transparent;}
.p-history-advanced-dates input {width: 145px;}

.new-features-suggesstions {margin: 0 15px 0 15px;}
.advcash-icon {background: url(../images/p-input/emoney-advcash.png); float: left; height: 75px; width: 92px; margin: 0 15px 15px 0;}
.swift-icon {background: url(../images/p-input/cashless-swift.png); float: left; height: 66px; width: 66px; margin: 0 15px 0 0;}
.sepa-icon {background: url(../images/p-input/sepa.jpg); background-size: 116px 42px; background-repeat: no-repeat; float: left; width: 116px; height: 42px; margin: 14px 15px 12px 0;}
.card-icon {background: url(../images/card.png); background-repeat: no-repeat; float: left; height: 75px; width: 120px; margin: 0 20px 20px 0;}
.new-features-suggestions-message {font-size: 14px;}
#displayNewFeaturesRequestNotification .notification-popup {width: 580px;}
#displayNewFeaturesRequestNotification .notification-popup .popup-body {min-height: auto;}
#displayNewFeaturesRequestNotification .remind-me-later-label {display: block; float: none; margin: 12px 0px 0px 0px;}
#displayNewFeaturesRequestNotification textarea {width: 420px; height: 60px;}
#displayNewFeaturesRequestNotification .popup-controls .buttons .button {margin: 10px 0 0 15px;}
.p-profile .p-transfer-check-question {padding: 22px 0px 0px 0px}
.p-profile .p-transfer-check-benefits, .citizen .p-transfer-check-benefits.fl {padding: 0}
.p-profile .p-transfer-check-benefits li {padding: 0px 0px 20px 0px}
.citizen .p-transfer-check-question {padding: 22px 0px 0px 18px}
.citizen .p-transfer-check-benefits.fr {width: 200px}

.invoice-tab {background: none; padding: 0 0 37px 12px;}
.invoice-tab td {font-style: normal;}
.invoice-tab tr > * {padding-bottom: 0;}
.invoice {margin-top: 45px; padding: 0 0 28px 0;}
.invoice table {width: 100%;}
.invoice table td {vertical-align: top;}
.invoice table td:not(:last-child) {padding-right: 14px;}
.invoice-amount {margin-top: -45px; height: 100%}
.invoice-amount tr:nth-child(3) {height: 45px}
.invoice-header {margin-bottom: 75px;}
.invoice-bold {margin: 16px 0 8px;}
.invoice-amount tr:nth-child(1) {width: 100px; height: 165px; /*background: url(../images/invoice-logo.jpg) no-repeat 11px 0; background-size: 150px 100px;*/}
.invoice-amount tr:nth-child(1) td {text-align: c}
.invoice-amount tr:nth-child(2) {height: 12px; color: white; background-color: #00AF7E; border: 1px solid #00AF7E;}
.invoice-amount tr:nth-child(2) td {text-align: center;}
.invoice-amount tr:nth-child(3) {border: 1px solid #00AF7E; height: 70px;}
.invoice-amount img {float: right; height: auto; width: 100%;}
.total-amount {height: 30px; padding-top: 16px;}
.total-amount-due {text-align: right; padding: 8px;}
.invoice-summary {margin-top: 24px;}
.invoice-summary tr:nth-child(1) {font-weight: bold;}
.invoice-summary tr:nth-child(1) td {text-align: right;}
.invoice-summary tr:nth-child(1) td:nth-child(1) {text-align: left;}
.invoice-summary tr:nth-child(2) {border-top: 1px solid #DBE2E7; border-bottom: 1px solid #DBE2E7;}
.invoice-summary tr:nth-child(2) td {padding: 10px 0; text-align: right;}
.invoice-summary tr:nth-child(2) td:nth-child(1) {text-align: left;}
.invoice-total td {padding: 10px 0; width: 25%;}
.invoice-total tr:nth-child(1) td:nth-child(3), .invoice-total tr:nth-child(2) td:nth-child(3) {font-weight: bold;}
.invoice-total tr:nth-child(1) td:nth-child(4), .invoice-total tr:nth-child(2) td:nth-child(4) {text-align: right;}
.invoice-total tr:nth-child(2) td:nth-child(3), .invoice-total tr:nth-child(2) td:nth-child(4) {border-top: 1px solid #DBE2E7; border-bottom: 1px solid #DBE2E7; width: 25%;}
.invoice-requisite {margin-top: 100px; border-top: 1px solid #DBE2E7; padding-top: 24px;}
.invoice-requisite div {line-height: 24px;}
.invoice-requisite b {margin-right: 4px; white-space: nowrap;}
.invoice-requisite span {margin-right: 12px;}
.invoice-requisite span:last-child {margin-right: 0px;}
.cash-available-country {margin: 0 0 20px 58px; border: 1px solid #e04444; padding: 10px; font-size: 14px;}
.citizen .cash-available-country {margin: 0 0 20px 18px;}
.exchangers .p-transfer-form {padding: 10px 0 10px 28px;}

.overlay {opacity: 0.7; background: #ffffff none repeat scroll 0 0; display: block; height: 100%; left: 0; position: absolute; top: 0; width: 100%; z-index: 10000;}
.overlay .tbl {display: table; width: 100%; height: 100%;}
.overlay .tbl .td {color: #fbfbfb; display: table-cell; font-size: 16px; height: 100%; line-height: 22px; text-align: center; text-transform: uppercase; vertical-align: middle; width: 100%; font-weight: bold; letter-spacing: 1px;}
.overlay .tbl .td .loader {width: 32px; height: 32px; background: url('../images/loader.gif') top left no-repeat; margin: 0 auto 20px;}
.overlay .tbl .td .loader_big {width: 100px; height: 100px; background: url('../images/loader_big.gif') top left no-repeat; margin: 0 auto 20px;}

.p-input-method .popup-reg-sms-body .p-card-creating-text {padding: 0px 26px 0px;}
.swift-sepa-step2 .p-input-tabs li {margin-left: 112px}
.swift-sepa-step2 .transfer-type {padding: 14px 0px 12px;}
.swift-sepa-step2 .transfer-type .p-card-creating-text {font-size: 15px;}
.swift-sepa-step2 .transfer-rules {font-size: 13px; padding: 0;}
.swift-sepa-step2 .checkbox-agreement {padding: 8px 0 0 29px; font-size: 14px; font-weight: bold;}
.swift-sepa-step2 .p-input-method .popup-reg-sms-body .p-card-creating-text {padding: 20px 0 0 0;}
.swift-sepa-step2 .p-input-method .popup-reg-sms-body:last-child .p-card-creating-text {font-size: 15px; line-height: 1.5;}
.swift-sepa-step2 .p-confirmation-submit {padding: 28px 0 0 0;}
.swift-sepa-step2 .p-confirmation {width: auto; padding: 0px 0px 0px 28px}
.swift-sepa-step2 li.inactive span {cursor: default; -webkit-filter: grayscale(100%); -moz-filter: grayscale(100%); -o-filter: grayscale(100%); -ms-filter: grayscale(100%); filter: grayscale(100%);}
.swift-sepa-step2 .p-input-sum {padding: 15px 0px 6px 29px;}
.swift-sepa-step2 .p-input-tabs > ul > li > a, .swift-sepa-step2 .p-input-tabs > ul > li > del, .swift-sepa-step2 .p-input-tabs > ul > li > span {width: 170px;}
.p-swift-sepa-max-amount-limit {width: auto; height: 8px; font-size: 12px; padding-left: 29px; color: #E05F5F;}
tr.invoice {text-align: right;}
.p-input-swift-tabs-print.fr {margin: 11px 24px 0 0;}
#fileUpload {width: auto !important; margin-bottom: 0 !important;}
iframe[name=deposit_funds_iframe] {border: 0; width: 630px; height: 1540px; /*margin-top: -100px; margin-bottom: -794px;*/}
/*.deposit_funds_iframe_footer_wrapper {background: #faf9f6; position: absolute; width: 570px; height: 60px; overflow: hidden; padding: 0 30px;}
.deposit_funds_iframe_footer {background: #fff; box-shadow: 0 2px 10px rgba(0,0,0,0.25); border: 1px solid #e1e0dd; height: 30px; width: 570px; margin-top: -5px; padding: 0; border-top: none;}*/
.p2-payment__block-exchangers-logo img {max-width: 60px; max-height: 34px;}
.p2-payment__echelon1-var-form-field.uploading {background: url('../images/loader.gif') no-repeat center center;}
.p2-payment__echelon1-var-form-field img {width: 88px; height: 88px; display: none;}
.tick {position: absolute; margin: -102px 0px 0px -17px; width: 24px; display: block !important;}
.statement {font-size: 11px; margin: -10px 0 40px;}
.p-sign.verify {margin: 0 auto;}
h2.success {padding: 10px; border: 1px solid #00AF7E;}
h2.fail {padding: 10px; border: 1px solid #E05F5F;}
.p-sci-edit-header-title .p-transfer-tip {padding: 0}

#contryToAdd {display: flex; width: 317px; margin: 8px 0;}
#contryToAdd .chzn-container {min-width: 0;}
#contryToAdd > .button {margin-left: 8px; float: none;}
#contryToAdd > .button input {height: 31px;}
#contryToAdd ~ br {display: none;}
#addedCountries {display: block; margin: -4px;}
#addedCountries .chzn-drop {display: none !important;}
#addedCountries .search-field {display: none;}

#secureTokenNotificationPanel_container {width: 500px; margin-left: -250px; left: 50% !important;}

.bind_binance_account_wrapper {position: relative; float: left;}
.binance_buy_wrapper {position: relative; margin-left: auto; width: 98px;}
#expirationTimerWrapper {min-height: 16px;}
.p2-payment__block-contents .block-content {padding: 6px 0 12px 26px; font-size: 13px; line-height: 20px; letter-spacing: -0.35px; color: #6C7583; font-weight: normal;}