input.rf-au-inp {
	background-image: url(/rfRes/inputBackgroundImage.png.jsf?v=4.1.0.Final&db=eAFjZL!AwPj!PwMDAxMAEqoC2g__&ln=org.richfaces.images);
	background-position: 1px 1px;
	background-repeat: no-repeat;
	border: 0px;
	margin: 0px;
	padding: 0px;
	vertical-align: top;
	width: 182px;
}
.rf-au {
	border-width: 1px;
	border-style: solid;
	display: inline-block;
	background-image: url(/rfRes/autocompleteFieldGradient.png.jsf?v=4.1.0.Final&db=eAFjAAAAAQAB&ln=org.richfaces.images);
	background-repeat: repeat-x;
	background-position: top left;
	font-size: 1px;
}
.rf-au-fld-btn {
	display: inline-block;
	font-size: 1px;
	white-space: nowrap;
	vertical-align: top;
}
.rf-au-btn {
	background-image: url(/rfRes/autocompleteButtonGradient.png.jsf?v=4.1.0.Final&db=eAFjAAAAAQAB&ln=org.richfaces.images);
	background-repeat: repeat-x;
	background-position: top left;
	border-left-width: 1px;
	border-left-style: solid;
	display: inline-block;
	vertical-align: top;
}
.rf-au-btn-arrow, .rf-au-btn-arrow-dis {
	background-position: center;
	background-repeat: no-repeat;
	background-image: url(/rfRes/comboDownButton.png.jsf?v=4.1.0.Final&db=eAH7z8DAAAAEAAEA&ln=org.richfaces.images);
	cursor: pointer;
	width: 15px;
	height: 16px;
	display: inline-block;
}
.rf-au-btn-arrow-dis {
	background-image: url(/rfRes/comboDisabledDownButton.png.jsf?v=4.1.0.Final&db=eAH7f-TASQAIlQNN&ln=org.richfaces.images);
	cursor: default;
}
.rf-au-lst-cord {
	position: absolute;
	z-index: 10000;
	display: none;
}
.rf-au-lst-dcrtn {
	border-width: 1px;
	border-style: solid;
	padding: 0px;
}
.rf-au-lst-scrl {
	overflow: auto;
	overflow-x: hidden;
	width: 200px;
	max-height: 100px;
	min-height: 20px;
}
.rf-au-itm {
	cursor: default;
	padding: 2px;
}
.rf-au-itm-sel {
	border-width: 1px;
	border-style: dotted;
	padding: 1px;
}
.rf-au-opt {
	white-space: nowrap;
	list-style-type: none;
}
.rf-au-opt-sel {
	width: 100%;
}
.rf-au-shdw {
	border: 0px solid red;
	display: inline-block;
	position: absolute;
	float: left;
	padding: 6px 6px 6px 6px;
	top: -6px;
	left: -7px;
}
.rf-au-shdw-t {
	background-image: url(/javax.faces.resource/combo_list_shadow.png.jsf?ln=org.richfaces);
	background-position: top left;
	position: absolute;
	width: 6px;
	top: 0px;
	bottom: 6px;
	left: 0px;
}
.rf-au-shdw-l {
	background-image: url(/javax.faces.resource/combo_list_shadow.png.jsf?ln=org.richfaces);
	background-position: bottom left;
	position: absolute;
	height: 6px;
	bottom: 0px;
	left: 0px;
	right: 6px;
}
.rf-au-shdw-r {
	background-image: url(/javax.faces.resource/combo_list_shadow.png.jsf?ln=org.richfaces);
	background-position: bottom right;
	position: absolute;
	width: 6px;
	top: 6px;
	bottom: 0px;
	right: 0px;
}
.rf-au-shdw-b {
	background-image: url(/javax.faces.resource/combo_list_shadow.png.jsf?ln=org.richfaces);
	background-position: right top;
	position: absolute;
	height: 6px;
	top: 0px;
	left: 6px;
	right: 0px;
}
.rf-au-lst-ul {
	margin: 0px;
	padding: 0px;
}
.rf-au-tbl {
	border-spacing: 0px;
}
