
.p-card-creating-text {font-size: 12px; line-height: 18px; /* width: 500px; */ color: #000; padding: 20px 0px 19px; overflow: hidden;}
.p-card-creating-text i.location {display: block; float: left; width: 72px; height: 86px; background: url(../img/verify-chapters.png) -72px 0px; margin: 0px 0px 4px 0px;}
.p-card-creating-text .txt {margin-left: 95px;}
.p-card-creating-text p {padding-bottom: 18px;}
.p-card-creating-text + .p-profile-verify-item-file {margin-top: -15px; padding-top: 0;}

.p-card-creating-types {overflow: hidden; padding-top: 21px;}
.p-card-creating-card {float: left; width: 270px; text-align: center; padding: 0px 16px 0px 42px;min-height: 315px;}
.p-card-creating-card strong.small {font-size: 24px;}
.p-card-creating-types .p-card-creating-card.card-brand-selection strong.small {font-size: 14px;}

.p-card-creating-types .p-card-creating-card.card-brand-selection {width: 175px; margin: 0px; padding: 0px;}
.p-card-creating-types.card-brands-count-1 .p-card-creating-card.card-brand-selection,
.p-card-creating-types.card-brands-count-2 .p-card-creating-card.card-brand-selection {width: 345px;}
.p-card-creating-types.card-brands-count-3 .p-card-creating-card.card-brand-selection {width: 210px; }
.p-card-creating-types .p-card-creating-card .card-brand-img,
.p-card-creating-types .p-card-creating-card .card-order-block {width: 149px;float: left; display:block;}
.p-card-creating-types .p-card-creating-card .card-order-block {min-height: 90px;}
.p-card-creating-types .p-card-creating-card .card-order-block.verified-account {min-height: 110px;}
.p-card-creating-card.card-brand-selection .p2-payment__hr {float: left;margin: 10px 0;}
.p-card-creating-types .p-card-creating-card .card-brand-img img {width: 145px;}
.p-card-creating-card.card-brand-selection .card-order-block strong.small {padding: 4px 0px 4px;}
.p-card-creating-card.card-brand-selection .card-brand-img {padding: 0 15px 18px 0;}
.p-card-creating-types .p-card-creating-card .card-order-block .card-price{padding: 5px 0px 10px;color: #289e13;font-size: 14px;font-weight: bold;}
.p-card-creating-types .p-card-creating-card .card-order-block .notverified-refund-note {padding-bottom: 8px;}
.p-card-creating-types .p-card-creating-card .card-order-block .button {margin-top: 0px;margin-bottom: 10px;}
.p-card-creating-types .p-card-creating-card .card-order-block .temporarily-unavailable-note {color: #929292;}
.p-card-creating-types .p-card-creating-card .card-order-block .button-panel {margin-top:10px;min-height: 40px;}
.p-card-creating-types .p-card-creating-card .card-conditions-block {display: block;min-height: 50px; width: 100%; float: left;font-size: 10.5px;}
.p-card-creating-types .p-card-creating-card .card-conditions-block .card-conditions-header {display: block;height: 20px; width: 100%; float: left;color: #929292;margin-top: 5px;clear: both;display: inline-block;  white-space: nowrap;}
.p-card-creating-card .card-conditions-block .card-conditions-header::first-letter {text-transform: capitalize;}
.p-card-creating-types .p-card-creating-card .card-conditions-block .card-conditions-value {display: block;height: 20px;float: left;width: 100%;margin-top: 5px;}
.p-card-creating-types .p-card-creating-card .card-conditions-block .card-conditions-value.price-from-second-card {margin-top: 12px;/*width: 145px;*/width: auto; height: 45px;margin-right: 10px;}
.p-card-creating-types .p-card-creating-card .card-conditions-block .fees-and-details,
.p-card-creating .fees-and-details {color: #289e13; margin-top: 20px;float: left;height: 25px;}
.p-card-creating-types .p-card-creating-card .card-conditions-block .fees-and-details {float: none;}
.p-card-creating-types .p-card-creating-card .card-conditions-block .fees-and-details.public-offer {margin-top: 2px;}
.p-card-creating-types .p-card-creating-card .card-conditions-block .fees-and-details i.pdf,
.p-card-creating .fees-and-details i.pdf{background: url(../img/pdf_icon.png) no-repeat 0px 0px;background-size: auto;display: block;background-size: 15px;width: 15px; float: left;height: 20px; margin-top: -2px;margin-right: 8px;}
.p-card-creating-types .p-card-creating-card .card-conditions-block .fees-and-details i.web,
.p-card-creating .fees-and-details i.web{background: url(../img/web.png) no-repeat 0px 0px;background-size: auto;display: block;background-size: 15px;width: 15px; float: left;height: 20px; margin-top: -2px;margin-right: 8px;}
.card-payment-system-difference-link, .card-personalization-type-difference-link {padding-top: 10px;font-size: 11px;}
.card-payment-system-difference-link a, .card-personalization-type-difference-link a {cursor: pointer; text-decoration: none; border-bottom: 1px dotted #090;}
.card-payment-system-difference-link a:hover, .card-personalization-type-difference-link a:hover {border-bottom: none;}
.card-personalization-type-difference-link {padding-top: 5px;padding-left: 26px;font-size: 11px;}
.personalization-type-selection table td {padding: 5px 0;}
.personalization-type-selection table td label {font-size: 13px;}
.personalization-type-selection table td label span {padding-left: 26px;font-size: 11px;padding-top: 8px;display: block;}
.personalization-type-selection table td label span a {cursor: pointer;text-decoration: none;border-bottom: 1px dotted #090;}
.personalization-type-selection table td label span a:hover {border-bottom: none;}
.payment-system-selection .p-settings-main-item-button {margin-top: 15px;}

.p-card-creating-card.narrowed {padding: 0px 16px 0px 12px; width: 29%;}
.p-card-creating-card strong {display: block; font-size: 24px; padding: 29px 0px 26px;}
.p-card-creating-card p {color: #999; font-size: 12px; line-height: 18px; height: 75px; overflow: hidden; position: relative; margin-bottom: 11px;}
.p-card-creating-card.narrowed p {padding: 0 5px;}
.p-card-creating-card p span {color: #090;}
.p-card-creating-card .button {display: inline-block; vertical-align: top; float: none; margin-bottom: 25px;}
.p-card-creating-card .button input {width: 250px; font-size: 11px;}
.p-card-creating-card.narrowed .button input {width: auto;}
.p-card-creating-benefits {display: inline-block; vertical-align: top; width: 210px; background-color: #f5f5f5; border-radius: 5px; text-align: left; font-size: 12px; line-height: 18px; padding: 23px 15px 0px 25px;}
.p-card-creating-benefits b {font-weight: normal; color: #090;}
.p-card-creating-benefits li {padding-bottom: 18px;}
.p-card-creating-card.narrowed .p-card-creating-benefits {width: 75%;}
.p-card-creating-star {color: #999; font-size: 12px; line-height: 18px; padding: 30px 10px 0px; display: block;}
.p-card-creating-limit {margin-bottom: 37px; font-size: 14px; line-height: 18px;}
.p-card-creating-limit a {text-decoration: underline;}
.p-card-creating-limit a:hover {text-decoration: none;}

.p-card-creating .f-item {padding-bottom: 8px;}
.p-card-creating .bdate .chzn-container {margin-right: 17px;}
.p-card-creating .bdate .chzn-single {font-size: 14px; line-height: 22px;}
.p-card-creating .bdate .d {width: 72px;}
.p-card-creating .bdate .m {width: 110px;}
.p-card-creating .bdate .y {width: 72px;}
.p-card-creating .wallet .combobox-account-header {width: 293px; display: inline-block; vertical-align: middle;}
.p-card-creating .wallet .p-transfer-comission {vertical-align: middle; font-size: 12px;}
.p-card-creating .sum input {width: 127px;}
.p-card-creating .p-transfer-comission {width: auto; font-size: 11px; margin-left: 12px;}
.p-card-creating .address input {width: 283px; text-align: left;}
.p-card-creating .city input {width: 283px; text-align: left;}
.p-card-creating .postal input {width: 130px; text-align: left;}
.p-card-creating .country {width: 295px;}
.p-card-creating-submit {padding-top: 26px;}
.p-card-creating-submit .checkbox {margin-bottom: 45px;}
.p-card-creating-submit .button input {width: 180px;}

.p-card-creating-address {margin: 0px 0px 34px -18px;}
.p-card-creating-address > span {display: block; font-size: 12px; padding: 15px 20px;}
.p-card-creating-address > span a {text-decoration: none; border-bottom: 1px dotted #090;}
.p-card-creating-address > span a:hover {border-bottom-color: transparent;}
.p-card-creating-address-new {margin-left: 20px; display: none;}
.p-card-creating-address-new > p {font-size: 12px; padding-bottom: 10px;}
.p-card-creating-address-new dt {color: #666 !important;}
.p-card-creating-address > p {display: inline-block; vertical-align: middle; background-color: #e1f8de; font-weight: bold; font-size: 14px; /*white-space: nowrap; line-height: 40px;*/ padding: 14px 14px 14px 19px; max-width: 460px;}
.p-card-creating-address .p-transfer-input-link-helper {vertical-align: middle;}
.p-card-creating-address + .p-card-creating-text {margin-top: -35px;}
.p-transfer-input-link-helper + .p-card-creating-address-new {margin-top: 20px;}

.p-card-creating-sms {background-color: #f5f5f5; width: 563px; margin: 22px 0px 0px -18px; padding: 20px 0px 21px 19px;}
.p-card-creating-sms:after {content: ''; display: table; clear: both;}
.p-card-creating-sms .button {margin-top: 11px;}
.p-card-creating-sms .button input {width: 180px;}

.p-card-creating .f-item.delivery {padding: 5px 0px 64px;}
.p-card-creating .f-item.delivery li {position: relative; width: 191px;}
.p-card-creating .f-item.delivery p {width: 191px; position: absolute; top: 100%; text-align: center; color: #a2a2a2; font-size: 11px; padding-top: 9px;}
.p-card-tracking-info {color: #666; font-size: 11px; width: auto; margin-top: 8px;}
.ship-data {display: inline-block; margin-top: 20px;}
.ship-data p {font-size: 12px; padding-bottom: 8px; cursor: auto;}
.ship-data p:LAST-CHILD {padding: 0;}

.p-card-created-data {width: 369px; height: 215px; background: #f5f5f5 url(../img/card-created.png); margin: 3px 0px 62px 154px;}
.p-card-created-data dl {font-size: 14px; line-height: 30px; /*padding: 28px 0px 0px 34px;*/}
.p-card-created-data dt {display: inline-block; vertical-align: top;}
.p-card-created-data dd {font-weight: bold; display: inline-block; vertical-align: top; min-width: 150px;}

.p-card-created {overflow: hidden; text-align: center; font-size: 12px; line-height: 18px; padding-bottom: 58px;}
.p-card-created li {float: left; background-repeat: no-repeat; background-position: 50% 0px; padding-top: 57px;}
.p-card-created li.print {background-image: url(../img/card-ready-print.png); width: 190px;}
.p-card-created li.mail {background-image: url(../img/card-ready-mail.png); width: 185px; margin-left: 57px;}
.p-card-created li.phone {background-image: url(../img/card-ready-phone.png); width: 230px; margin-left: 40px;}
.p-card-created li.activation {background-image: url(../img/card-ready-activation.png); width: 180px; margin-left: 40px;}
.p-card-created li.activation b {font-size: 14px; line-height: 24px;}
.p-card-created.plastic li {height: 121px;}
.p-card-created.plastic li.activation {margin: 0px 143px 0px 86px;}
.p-card-created.plastic li.mail {margin: 0px 81px 0px 84px;}

.p-card-created-back {font-size: 12px; color: #090;}

.p-card-creating-card.disabled {opacity: 0.7;}
.p-card-creating-card.disabled .token-img, .p-card-creating-card.disabled strong.small {opacity: 0.5;}
.p-card-creating-card.disabled .p-card-creating-benefits {opacity: 0.7;}
.p-card-creating-card.disabled .disabled-msg {margin-top: -25px;margin-bottom: 15px;}