#keyboardInputMaster {
    position: absolute;
    border: 2px groove #dddddd;
    color: #000000;
    background-color: #dddddd;
    text-align: left;
    z-index: 1000000;
    width: auto;
}

#keyboardInputMaster thead tr th {
    text-align: left;
    padding: 2px 5px 2px 4px;
    background-color: inherit;
    border: 0px none;
}

#keyboardInputMaster thead tr th select,
#keyboardInputMaster thead tr th label {
    color: #000000;
    font: normal 11px Arial, sans-serif;

}

#keyboardInputMaster thead tr td {
    text-align: right;
    padding: 2px 4px 2px 5px;
    background-color: inherit;
    border: 0px none;
}

#keyboardInputMaster thead tr td span {
    padding: 1px 4px;
    font: bold 11px Arial, sans-serif;
    border: 1px outset #aaaaaa;
    background-color: #cccccc;
    cursor: pointer;
}

#keyboardInputMaster thead tr td span.pressed {
    border: 1px inset #999999;
    background-color: #bbbbbb;
}

#keyboardInputMaster tbody tr td {
    text-align: left;
    margin: 0px;
    padding: 0px 4px 3px 4px;
}

#keyboardInputMaster tbody tr td div {
    text-align: center;
    position: relative;
    height: 0px;
}

#keyboardInputMaster tbody tr td div#keyboardInputLayout {
    height: auto;
}

#keyboardInputMaster tbody tr td div#keyboardInputLayout table {
    height: 20px;
    white-space: nowrap;
    width: 100%;
    border-collapse: separate;
}

#keyboardInputMaster tbody tr td div#keyboardInputLayout table.keyboardInputCenter {
    width: auto;
    margin: 0px auto;
}

#keyboardInputMaster tbody tr td div#keyboardInputLayout table tbody tr td {
    vertical-align: middle;
    padding: 0px 5px 0px 5px;
    white-space: pre;
    font: normal 11px 'Lucida Console', monospace;
    border-top: 1px solid #e5e5e5;
    border-right: 1px solid #5d5d5d;
    border-bottom: 1px solid #5d5d5d;
    border-left: 1px solid #e5e5e5;
    background-color: #eeeeee;
    cursor: default;
}

#keyboardInputMaster tbody tr td div#keyboardInputLayout table tbody tr td.last {
    width: 99%;
}

#keyboardInputMaster tbody tr td div#keyboardInputLayout table tbody tr td.alive {
    background-color: #ccccdd;
}

#keyboardInputMaster tbody tr td div#keyboardInputLayout table tbody tr td.target {
    background-color: #ddddcc;
}

#keyboardInputMaster tbody tr td div#keyboardInputLayout table tbody tr td.hover {
    border-top: 1px solid #d5d5d5;
    border-right: 1px solid #555555;
    border-bottom: 1px solid #555555;
    border-left: 1px solid #d5d5d5;
    background-color: #cccccc;
}

#keyboardInputMaster tbody tr td div#keyboardInputLayout table tbody tr td.pressed,
#keyboardInputMaster tbody tr td div#keyboardInputLayout table tbody tr td.dead {
    border-top: 1px solid #555555;
    border-right: 1px solid #d5d5d5;
    border-bottom: 1px solid #d5d5d5;
    border-left: 1px solid #555555;
    background-color: #cccccc;
}

#keyboardInputMaster tbody tr td div var {
    position: absolute;
    bottom: 0px;
    right: 0px;
    font: bold italic 11px Arial, sans-serif;
    color: #6C7583;
}

.keyboardInputInitiator {
    margin-left: 3px;
    margin-top: -5px;
    vertical-align: middle;
    cursor: pointer;
}