.rf-msg, .rf-msgs {
	height: 18ex;
}
.rf-msg-err, .rf-msgs-err, .rf-msg-ftl, .rf-msgs-ftl, .rf-msg-inf, .rf-msgs-inf, .rf-msg-wrn, .rf-msgs-wrn, .rf-msg-ok, .rf-msgs-ok {
	display: block;
	padding-right: 2px;
	padding-left: 20px;
	vertical-align: middle;
	background-repeat: no-repeat;
	background-position: left center;
}
.rf-msg-err, .rf-msgs-err {
	background-image: url(/javax.faces.resource/error.png.jsf?ln=org.richfaces);
}
.rf-msg-ftl, .rf-msgs-ftl {
	background-image: url(/javax.faces.resource/fatal.png.jsf?ln=org.richfaces);
}
.rf-msg-inf, .rf-msgs-inf {
	background-image: url(/javax.faces.resource/info.png.jsf?ln=org.richfaces);
}
.rf-msg-wrn, .rf-msgs-wrn {
	background-image: url(/javax.faces.resource/warning.png.jsf?ln=org.richfaces);
}
.rf-msg-ok, .rf-msgs-ok {
	background-image: url(/javax.faces.resource/ok.png.jsf?ln=org.richfaces);
}
.rf-msg-sum, .rf-msgs-sum {
	display: inline;
}
.rf-msg-det, .rf-msgs-det {
	display: inline;
}
