

#balloon.top .popup-arrow {background-position: 0px -76px; width: 23px; height: 15px; left: 50%; margin-left: -11px; top: -7px; z-index: 3;}
#balloon.right .popup-arrow {background-position: -15px -38px; width: 15px; height: 23px; top: 50%; margin-top: -11px; right: -8px; z-index: 3;}
#balloon.bottom .popup-arrow {background-position: 0px -61px; width: 23px; height: 15px; left: 50%; margin-left: -11px; bottom: -7px; z-index: 3;}
#balloon.left .popup-arrow {background-position: 0px -38px; width: 15px; height: 23px; top: 50%; margin-top: -11px; left: -7px; z-index: 3;}

#balloon-deviation, #balloon-deviation-step1, #balloon-deviation-step2, 
#balloon-deviation-step3, #balloon-deviation-step4, #balloon-deviation-level6 {width: 235px; font-size: 11px; line-height: 14px; color: #666; padding: 7px 15px 0px 13px;}
#balloon-deviation p, #balloon-deviation-step1 p, #balloon-deviation-step2 p, 
#balloon-deviation-step3 p, #balloon-deviation-step4 p, #balloon-deviation-level6 p {padding-bottom: 7px;}
#balloon-deviation b, #balloon-deviation-step1 b, #balloon-deviation-step2 b, 
#balloon-deviation-step3 b, #balloon-deviation-step4 b, #balloon-deviation-level6 b {color: #000;}

#balloon-garanty {width: 335px; font-size: 11px; line-height: 14px; color: #666; padding: 10px 30px 10px 34px;}
#balloon-garanty p {padding-bottom: 7px;}
#balloon-garanty b {color: #000;}

#balloon-blockreason {width: 235px; font-size: 11px; line-height: 14px; color: #666; padding: 7px 15px 0px 13px;}
#balloon-blockreason p {padding-bottom: 7px;}
#balloon-blockreason b {color: #000;}

