.rf-pp-btn {
	outline-style: none;
	position: absolute;
	clip: rect(0px, 0px, 1px, 1px);
	height: 0px;
	width: 0px;
	left: 0px;
	top: 0px;
	z-index: -300;
	opacity: 0.1;
	filter: alpha(opacity=10);
}
.rf-pp-shade {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	background-color: rgb(208, 208, 208);
	opacity: 0.5;
	filter: alpha(opacity=50);
}
.rf-pp-shdw {
	background-color: rgb(0, 0, 0);
	opacity: 0.1;
	filter: alpha(opacity=10);
	position: absolute;
	top: 6px;
	left: 6px;
	bottom: -6px;
	z-index: -1;
}
.rf-pp-cntr {
	border: 1px solid ;
	z-index: 100;
}
.rf-pp-hdr {
	background: url(/rfRes/gradientA.png.jsf?v=4.1.0.Final&db=eAFjZJBjZDBiZBBhYGBgAgADawBq&ln=org.richfaces.images);
	repeat-x: top left ;
	position: relative;
	padding-left: 10px;
	cursor: move;
	padding: 2px;
}
.rf-pp-hdr-cnt {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	padding: 2px;
	padding-left: 10px;
}
.rf-pp-hdr-cntrls {
	position: absolute;
	top: 2px;
	right: 2px;
	white-space: nowrap;
	cursor: default;
	z-index: 100;
}
.rf-pp-cnt-scrlr {
	top: 0px;
	left: 0px;
	overflow: auto;
}
.rf-pp-cnt {
	padding: 10px;
}
.rf-pp-hndlr {
	background-image: url(/javax.faces.resource/spacer.gif.jsf);
	position: absolute;
	margin: -4px;
}
.rf-pp-hndlr-l {
	width: 7px;
	height: 100%;
	top: 0px;
	left: 0px;
	cursor: w-resize;
}
.rf-pp-hndlr-r {
	width: 7px;
	height: 100%;
	top: 0px;
	right: 0px;
	cursor: w-resize;
}
.rf-pp-ifr {
	position: absolute;
	left: 0px;
	top: 0px;
	background-color: white;
	overflow-y: hidden;
	z-index: -1;
}
.rf-pp-hndlr-t {
	width: 100%;
	height: 7px;
	top: 0px;
	left: 0px;
	cursor: n-resize;
}
.rf-pp-hndlr-b {
	width: 100%;
	height: 7px;
	bottom: 0px;
	left: 0px;
	cursor: n-resize;
}
.rf-pp-hndlr-tl {
	width: 10px;
	height: 10px;
	top: 0px;
	left: 0px;
	cursor: nw-resize;
}
.rf-pp-hndlr-tr {
	width: 10px;
	height: 10px;
	top: 0px;
	right: 0px;
	cursor: ne-resize;
}
.rf-pp-hndlr-bl {
	width: 10px;
	height: 10px;
	bottom: 0px;
	left: 0px;
	cursor: ne-resize;
}
.rf-pp-hndlr-br {
	width: 10px;
	height: 10px;
	bottom: 0px;
	right: 0px;
	cursor: nw-resize;
}
