 

.p-profile-tabs {border-top: 1px solid #e4e5df; border-bottom: 1px solid #e4e5df; overflow: hidden; zoom: 1; margin-top: 10px; padding: 8px 0px 2px 0px; width: 702px;}
.p-profile-tabs li {float: left; width: 234px; text-transform: uppercase; font-weight: bold; padding: 6px 0px 5px 0px;}
.p-profile-tabs a {text-decoration: none; padding: 13px 0px 14px 47px; display: block;}
.p-profile-tabs a:hover {text-decoration: underline;}
.p-profile-tabs li.active a {color: #000;}
.p-profile-tabs li.personal {background: url(../img/profile-personal.png) no-repeat 0px 1px;}
.p-profile-tabs li.pass {background: url(../img/profile-pass.png) no-repeat 0px 7px;}
.p-profile-tabs li.templates {background: url(../img/profile-templates.png) no-repeat 0px 7px;}
.p-profile-tabs li.verify {background: url(../img/profile-verify.png) no-repeat 0px 4px;}
.p-profile-tabs li.notify {background: url(../img/profile-notify.png) no-repeat 0px 4px;}
.p-profile-tabs li.api {background: url(../img/profile-api.png) no-repeat 0px 4px;}
.retina .p-profile-tabs li {background-size: 40px auto !important;}
.retina .p-profile-tabs li.personal {background: url(../img/profile-personal@2x.png) no-repeat 0px 1px;}
.retina .p-profile-tabs li.pass {background: url(../img/profile-pass@2x.png) no-repeat 0px 7px;}
.retina .p-profile-tabs li.templates {background: url(../img/profile-templates@2x.png) no-repeat 0px 7px;}
.retina .p-profile-tabs li.verify {background: url(../img/profile-verify@2x.png) no-repeat 0px 4px;}
.retina .p-profile-tabs li.notify {background: url(../img/profile-notify@2x.png) no-repeat 0px 4px;}
.retina .p-profile-tabs li.api {background: url(../img/profile-api@2x.png) no-repeat 0px 4px;}

.p-profile-verify-faq-toggler a.with-icon:before {content: ""; display: block; position: absolute; top: 6px; left: 15px; background: url("../img/support-faq.png"); width: 32px; height: 32px; -webkit-background-size: cover; -o-background-size: cover; background-size: cover;}
.p-profile-verify-faq-toggler a.with-icon {margin-left: 46px;}


.p-profile-verify-faq-toggler {border: 1px solid #f8dda1; background: #fff4c9; height: 45px; text-indent: 19px; line-height: 45px; margin: 25px 0px 1px 0px; font-size: 12px; font-weight: bold; text-transform: uppercase; position: relative;}
.p-profile-verify-faq-toggler.active {background-position: 100% 0px;}
.p-profile-verify-faq-toggler a {color: #000; text-decoration: none; border-bottom: 1px dotted #000;}
.p-profile-verify-faq-toggler a:hover {border-bottom-color: #fff4c9;}
.p-profile-verify-faq-toggler .close {cursor: pointer; width: 10px; height: 10px; background: url(../img/profile-verify-toggler-close.png); display: block; position: absolute; top: 18px; right: 13px; border: 0px !important;}
.p-profile-verify-faq-search input[type="text"] {width: 100%; font-size: 18px; padding-left: 8px; margin: 30px 0 10px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
.faq-search-hidden {display: none !important;}
.faq-search-visible {display: block !important;}
.p-profile-verify-faq-toplevel .highlight {background-color: #fff4c9; font-weight: bold;}
.p-profile-verify-faq-toggler ~ .p-main-topbuttons {padding-top: 20px;}
.p-profile-verify-faq-toplevel {display: none;}
.p-profile-verify-faq-toplevel.active {display: block;}
.p-profile-verify-faq-toplevel-handler {border-bottom: 3px solid #e4e5df; padding: 15px 0;}
.p-profile-verify-faq-toplevel-handler a {color: #000; font-weight: bold; font-size: 16px; text-decoration: none; border-bottom: 1px dotted #000;}
.p-profile-verify-faq-toplevel-handler a:hover,
.p-profile-verify-faq-toplevel-handler.active a {border-bottom-color: transparent;}
.p-profile-verify-faq-write-us {font-size: 12px; line-height: 15px; padding: 20px 0 5px;}


.p-profile-verify-faq {display: none; padding: 4px 0px 3px 0px;}
.p-profile-verify-faq.active {display: block;}
.p-profile-verify-faq dl {border-bottom: 1px solid #e4e5df; padding: 13px 0px 16px 0px!important;text-align: inherit!important;}
.p-profile-verify-faq dt a {font-size: 14px; font-weight: bold; text-decoration: none; border-bottom: 1px dotted #00539e; color: #00539e;}
.p-profile-verify-faq dt a:hover,
.p-profile-verify-faq dl.active dt a {border-bottom-color: #fff;}
.p-profile-verify-faq dd {font-size: 12px; line-height: 15px; padding-top: 12px; display: none;}
.p-profile-verify-faq dl.active dd {display: block;}

.p-profile-verify-item {border-top: 1px solid #e4e5df; padding: 24px 0px 25px 0px;}
.p-profile-verify-item:first-child {border: 0px;}
.p-profile-verify-item-left {width: 500px; display: inline-block; *display: inline; zoom: 1; vertical-align: top;}
.p-profile-verify-item-status {float: right; width: 154px; text-align: center; text-transform: uppercase; font-size: 10px; font-weight: bold; margin-top: 20px; padding: 11px 0px; line-height: 13px;}
.p-profile-verify-item-status.red {background: #fedad9; color: #b40010;}
.p-profile-verify-item-status.ok {background: #e7f6e5 url(../img/profile-verify-ok.png) no-repeat; color: #090; text-indent: 20px;}
.p-profile-verify-item-status.gray {background: #e8e8e8; color: #666;}
.p-profile-verify-item-status.declined {padding: 0px;}
.p-profile-verify-item-status.declined a {background: #fedad9 url(../img/profile-verify-declined.png) no-repeat; color: #b40010; padding: 11px 0px 11px 50px; width: 104px; text-align: left; text-decoration: none; display: block;}
.p-profile-verify-item-status.declined a span {color: #b40010; text-decoration: none; border-bottom: 1px dotted #b40010;}
.p-profile-verify-item-status.declined a:hover span {border-bottom-color: #fedad9;}

.p-profile-verify-item-desc dt, .p-bug-verify-item-desc dt {font-size: 12px; text-transform: uppercase; font-weight: bold; line-height: 12px;}
.p-profile-verify-item-desc dt span, .p-bug-verify-item-desc dt span {color: #737373;}
.p-profile-verify-item-desc dd, .p-bug-verify-item-desc dd {font-size: 11px; line-height: 14px; color: #666; padding-top: 9px;}
.p-profile-verify-item-desc dd.garanty, .p-bug-verify-item-desc dd.garanty {padding: 13px 0px 2px 0px;}
.p-profile-verify-item-desc dd.garanty a, .p-bug-verify-item-desc dd.garanty a {color: #00539e; text-decoration: none; border-bottom: 1px dotted #00539e;}
.p-profile-verify-item-desc dd.garanty a:hover, .p-bug-verify-item-desc dd.garanty a:hover {border-bottom-color: #fff;}
.p-profile-verify-item-desc dd.error, .p-bug-verify-item-desc dd.error {color: #b40010; font-weight: bold; text-transform: uppercase; padding: 18px 0px 5px 0px;}
.p-profile-verify-item-desc dd.ok, .p-bug-verify-item-desc dd.ok {color: #090; background: #e7f6e5 url(../img/profile-verify-ok.png) no-repeat -1px -2px; height: 32px; padding: 0px 14px 0px 36px; line-height: 32px; border-top: 22px solid #fff; font-size: 12px; display: inline-block; *display: inline; zoom: 1; vertical-align: top;}
.p-profile-verify-item-file, .p-bug-verify-item-file {padding-top: 14px;}
.p-profile-verify-item-file input[type="submit"], .p-bug-verify-item-file input[type="submit"] {width: 94px;}

.p-bug-verify-item-desc dd.ok {width: 300px;}
.p-bug-verify-item-desc dd.ok b {color: #090; text-shadow: none;}

.p-profile-verify-item-phone {padding-top: 17px;}
.p-profile-verify-item-phone select {width: 125px;}
.p-profile-verify-item-phone .chzn-single {font-size: 14px !important; line-height: 20px !important;}
.p-profile-verify-item-phone + .button {margin-top: 14px;}
.p-profile-verify-item-phone .phone-prefix {margin-left: -1px;}

.p-profile-verify-item-social {padding-top: 12px;}
.p-profile-verify-item-social dt {font-size: 11px; line-height: 14px; color: #090; padding: 19px 150px 0px 0px; background: url(../img/profile-social-verify.png) no-repeat 64px 0px; margin-top: -1px; position: relative;}
.p-profile-verify-item-social dd {border: 1px solid #dfdfdf; padding: 0px 0px 15px 15px; display: inline-block; *display: inline; zoom: 1; vertical-align: top;}
.p-profile-verify-item-social-list {overflow: hidden; zoom: 1; padding-top: 15px;}
.p-profile-verify-item-social-list li {float: left; font-size: 11px; padding-right: 18px;}
.p-profile-verify-item-social-list li i {margin: -1px 7px 0px 0px;}
.p-profile-verify-item-social-list li i[class*="vk"] + span {color: #204e79; border-bottom-color: #204e79;}
.p-profile-verify-item-social-list li i[class*="fb"] + span {color: #4367a5; border-bottom-color: #4367a5;}
.p-profile-verify-item-social-list li i[class*="tw"] + span {color: #45b3c7; border-bottom-color: #45b3c7;}
.p-profile-verify-item-social-list li i[class*="li"] + span {color: #0074a6; border-bottom-color: #0074a6;}
.p-profile-verify-item-social-list a {text-decoration: none;}
.p-profile-verify-item-social-list a:hover span {border-bottom: 1px solid;}
.p-profile-verify-item-social-list a span {line-height: 14px;}

/* .p-profile-verify-item-fast {padding-top: 25px;} */
.p-profile-verify-item-fast form {padding-top: 15px;}
.p-profile-verify-item-fast li {padding-bottom: 17px;}
.p-profile-verify-item-fast li:last-child {padding-bottom: 0px;}
.p-profile-verify-item-fast label {display: block; color: #999; text-transform: uppercase; padding-bottom: 9px;}
.p-profile-verify-item-fast .chzn-container {margin-right: 4px;}
.p-profile-verify-item-fast .chzn-container * {font-size: 14px;}
.p-profile-verify-item-fast .chzn-single span {color: #666;}
.p-profile-verify-item-fast #day {width: 79px;}
.p-profile-verify-item-fast #month {width: 104px;}
.p-profile-verify-item-fast #year {width: 80px;}
.p-profile-verify-item-fast #doc {width: 190px;}
.p-profile-verify-item-fast input[type="text"] {color: #666; font-size: 14px; padding: 5px 0px 6px 5px; width: 183px;}
.p-profile-verify-item-fast .long input {width: 300px;}
.p-profile-verify-item-fast .city input {width: 300px;}
.p-profile-verify-item-fast .postal input {width: 100px;}
.p-profile-verify-item-fast .country select {width: 307px;}

.p-profile-verify-item-progress dt, .p-bug-verify-item-progress dt {overflow: hidden; zoom: 1; width: 303px; padding: 4px 0px 7px 0px;}
.p-profile-verify-item-progress dt span, .p-bug-verify-item-progress dt span {display: block; font-size: 11px; color: #666; float: right;}
.p-profile-verify-item-progress dt span:first-child, .p-bug-verify-item-progress dt span:first-child {float: left;}
.p-profile-verify-item-progress dd, .p-bug-verify-item-progress dd {overflow: hidden; zoom: 1;}
.p-profile-verify-item-progress .bar, .p-bug-verify-item-progress .bar {position: relative; width: 303px; height: 17px; background: url(../img/profile-progress.png); float: left;}
.p-profile-verify-item-progress .bar *, .p-bug-verify-item-progress .bar * {display: block; width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; background: url(../img/profile-progress.png) 100% -17px; z-index: 2;}
.p-profile-verify-item-progress .bar > i, .p-bug-verify-item-progress .bar > i {background: url(../img/progress.gif); z-index: 1;}
.p-profile-verify-item-progress dd a, .p-bug-verify-item-progress dd a {display: block; float: left; margin: 1px 0px 0px 11px; width: 12px; height: 12px; background: url(../img/popup-close.png) !important;}

.p-profile-notify-text {/*border-top: 1px solid #e4e5df;*/ border-bottom: 1px solid #e4e5df; padding: 6px 0px;}
.p-profile-notify-text p {font-size: 12px; line-height: 14px; color: #666; padding: 7px 2px;}
.p-profile-notify-text a {color: #00539e;}

.p-profile-notify-tabs {border-bottom: 1px solid #e4e5df; padding: 22px 0px 0px 2px; height: 27px;}
.p-profile-notify-tabs li {float: left; text-transform: uppercase; font-size: 10px; position: relative;}
.p-profile-notify-tabs i {display: none; position: absolute; top: -1px; right: -1px; background: url(../img/notify-tabs.png) -3px 0px; width: 3px; height: 3px;}
.p-profile-notify-tabs i:first-child {left: -1px; right: auto; background-position: 0px 0px;}
.p-profile-notify-tabs a {color: #00539e; text-decoration: none; display: block; padding: 7px 8px 9px 10px; line-height: 1;}
.p-profile-notify-tabs a span {border-bottom: 1px dashed #00539e;}
.p-profile-notify-tabs a:hover span {border-bottom-color: #fff;}
.p-profile-notify-tabs .active {border: 1px solid #e4e5df; border-bottom-color: #fff;}
.p-profile-notify-tabs .active a {color: #4e4d4d;}
.p-profile-notify-tabs .active a span {border-bottom-color: #fff;}
.p-profile-notify-tabs .active i {display: block;}

.p-profile-notify-tab {padding: 12px 0px 14px 3px;}
.p-profile-notify-tab-text {font-size: 11px; font-weight: bold;}
.p-profile-notify-tab .p-inside-exchange-step .account {padding-bottom: 0px;}

.p-profile-notify-tab-titles {overflow: hidden; zoom: 1; padding-top: 23px;}
.p-profile-notify-tab-titles li {text-align: center; color: #4e4d4d; text-transform: uppercase; padding-bottom: 7px; width: 117px; float: left; line-height: 10px; padding-right: 21px;}

.p-profile-notify-options dl {overflow: hidden; zoom: 1; padding-bottom: 21px;}
.p-profile-notify-options dt {float: left; font-size: 14px; font-weight: bold; padding-top: 9px;}
.p-profile-notify-options .toggler {float: left; margin: 0px 21px 0px 0px;}
.p-profile-notify-options .button {margin-top: 17px;}

.p-profile-changepass {padding: 24px 48px 0px 2px;}

.p-profile-api-nothing-text {padding-top: 30px; text-align: center;}
.p-profile-api-nothing-text p {font-size: 18px; line-height: 21px;}
.p-profile-api-nothing-text .button {display: inline-block; *display: inline; zoom: 1; vertical-align: top; float: none; margin-top: 33px;}
.p-profile-api-nothing-examples {border-top: 1px solid #e4e5df; text-align: center; font-size: 14px; margin-top: 40px; padding-top: 32px;}

.p-profile-api-formheader {font-size: 18px; padding-top: 16px;}
.p-profile-api-activation .form {width: 400px;}
.p-profile-api-activation .form li {width: 400px;}
.p-profile-api-activation input[type="text"], .p-profile-api-activation input[type="password"] {width: 286px;}
.p-profile-api-activation #wallet + .button, .p-profile-api-activation #wallet + * + .button {display: inline-block; *display: inline; zoom: 1; vertical-align: top; float: none; margin-left: 12px;}
.p-profile-api-activation #wallet {width: 202px;}
.p-profile-api-activation .spacer {border-top: 1px solid #e4e5df; width: 702px; padding: 7px 0px 0px 0px; margin-top: 25px;}
.p-profile-api-activation li.hidden {display: none !important;}

.p-profile-api-createline {overflow: hidden; zoom: 1; border-bottom: 1px solid #e4e5df; padding-bottom: 17px;}
.p-profile-api-createline li {float: right; font-size: 14px; margin: 22px 1px 0px 0px;}
.p-profile-api-createline li.button {float: left; margin: 15px 0px 0px 1px;}
.p-profile-api-listheader {font-size: 24px; padding-top: 19px;}

.p-profile-api-list {margin: 21px 0px 35px 1px;}
.p-profile-api-list tr {vertical-align: top;}
.p-profile-api-list th {text-transform: uppercase; color: #999; text-align: left; padding-bottom: 7px;}
.p-profile-api-list td {border-top: 1px solid #ebebeb; padding: 10px 0px;}
.p-profile-api-list .date {width: 133px; padding-left: 8px;}
.p-profile-api-list td.date {font-size: 11px; color: #666; padding-left: 10px; width: 99px; line-height: 20px;}
.p-profile-api-list td.name {color: #000; font-size: 14px; font-weight: bold; width: 213px;}
.p-profile-api-list td.name a {color: #00539e; text-decoration: none;}
.p-profile-api-list td.name a:hover {text-decoration: underline;}
.p-profile-api-list td.status {padding: 7px 0px; width: 210px;}
.p-profile-api-list td.corr {padding: 12px 0px 8px 0px; width: 210px; font-size: 11px; color: #666;}
.p-profile-api-list td.manage {width: 110px; padding: 12px 0px 8px 0px;}
.p-profile-api-list td.manage a {color: #00539e; font-size: 11px; text-decoration: none; border-bottom: 1px dashed #00539e;}
.p-profile-api-list td.manage a:hover {border-bottom-color: #fff;}
.p-profile-api-list td.delete a {display: block; width: 20px; height: 20px; background: url(../img/profile-api-delete.png) no-repeat 50% 50%;}
.p-profile-api-list tr:hover td {background: #f5f5f5;}

.popup-api-delete {width: 411px; left: 50%; margin-left: -206px; top: 30%; z-index: 9001 !important; position: fixed !important;}
.popup-api-delete-body {overflow: hidden; zoom: 1; padding: 14px 20px;}
.popup-api-delete-title {font-weight: bold; font-size: 14px; line-height: 14px; text-align: center;}
.popup-api-delete-text {font-size: 13px; line-height: 14px; padding: 17px 20px 13px 20px; text-align: center;}
.popup-api-delete-button {text-align: center; padding: 5px 0px 3px 0px;}
.popup-api-delete-button .button {display: -moz-inline-box; display: inline-block; *zoom: 1; *display: inline; word-spacing: normal; vertical-align: top; float: none; margin: 0px 7px;}
.popup-api-delete-button .button input {padding: 0px; width: 64px;}

.popup-api-limit {width: 532px; left: 50%; margin-left: -266px; top: 130px; z-index: 9001 !important; position: absolute !important;}
.popup-api-limit-body {overflow: hidden; zoom: 1; padding: 19px 20px;}
.popup-api-limit-title {font-weight: bold; font-size: 24px; line-height: 24px; text-align: center;}
.popup-api-limit-button {text-align: center; padding: 23px 0px 3px 0px;}
.popup-api-limit-button .button {display: -moz-inline-box; display: inline-block; *zoom: 1; *display: inline; word-spacing: normal; vertical-align: top; float: none; margin: 0px 7px;}
.popup-api-limit-button .button input {padding: 0px; width: 94px;}
.popup-api-limit form {text-align: center; padding: 9px 0px 0px 32px;}
/*.popup-api-limit .p-profile-api-activation li {width: 291px; padding-bottom: 4px;}
.popup-api-limit form input[type="text"],
.popup-api-limit form input[type="password"] {width: 259px; text-align: center;}
.popup-api-limit .p-profile-api-activation .checkboxes label {padding-left: 77px; text-align: left; white-space: nowrap;}
.popup-api-limit .p-profile-api-activation #wallet {width: 194px;}
.popup-api-limit .p-profile-api-activation #wallet_chzn * {text-align: left;}
.popup-api-limit .p-profile-api-activation #wallet_chzn + .button {margin-left: 0px;}
.popup-api-limit .p-profile-api-activation .checkbox-tip {width: 231px; min-width: 0px; max-width: 9999px; text-align: left; margin: 2px 0px 0px 11px; padding: 13px 20px 13px 19px; display: none;}
.popup-api-limit .p-profile-api-activation .checkbox-tip p {font-size: 11px; line-height: 14px;}
.popup-api-limit textarea {width: 266px; height: 50px;}*/
.popup-api-limit-body .p-profile-api-activation li {width: 368px; padding-bottom: 4px;}
.popup-api-limit-body form input[type="text"],
.popup-api-limit-body form input[type="password"] {width: 259px;}
.popup-api-limit-body .p-profile-api-activation .checkboxes label {text-align: left; white-space: nowrap;}
.popup-api-limit-body .p-profile-api-activation #wallet {width: 194px;}
.popup-api-limit-body .p-profile-api-activation #wallet_chzn * {text-align: left;}
.popup-api-limit-body .p-profile-api-activation #wallet_chzn + .button {margin-left: 0px;}
.popup-api-limit-body .p-profile-api-activation .checkbox-tip {width: 231px; min-width: 0px; max-width: 9999px; text-align: left; padding: 13px 20px 13px 19px; display: none;}
.popup-api-limit-body .p-profile-api-activation .checkbox-tip p {font-size: 11px; line-height: 14px;}
.popup-api-limit-body textarea {width: 266px; height: 50px;}

.p-proflie-tpl-header {font-size: 24px; padding-top: 26px;}
.p-proflie-tpl-nothing {font-size: 12px; line-height: 14px; color: #666; padding: 12px 0px 0px 1px;}
.p-proflie-tpl-selector {border-bottom: 1px solid #e4e5df; margin-top: -16px; min-height: 31px;}
.p-proflie-tpl-selector dt {float: right; background: #e4e5de url(../img/profile-tpl-selector.png) no-repeat;}
.p-proflie-tpl-selector dt a {display: block; height: 31px; background: url(../img/profile-tpl-selector.png) no-repeat 100% 100%; color: #666; text-decoration: none; text-transform: uppercase; line-height: 30px; padding: 0px 28px 0px 17px;}
.p-proflie-tpl-selector dd {clear: both; background: #e4e5de; padding: 12px 0px 18px 23px; display: none;}
.p-proflie-tpl-selector dd label {display: block; color: #666; text-transform: uppercase; padding-bottom: 8px;}
.p-proflie-tpl-selector dd select {width: 310px;}

/* api sci */

.p-profile-apisci-title {text-align: center; font-size: 24px; padding: 20px 0px 4px 0px;}
.p-profile-apisci-title i {display: inline-block; *display: inline; zoom: 1; vertical-align: top; width: 25px; height: 24px; background: url(../img/profile-apisci-arrows.png) -25px 0px; margin: 14px 10px;}
.p-profile-apisci-title i:first-child {background-position: 0px 0px;}
.p-profile-apisci-about {overflow: hidden; zoom: 1; padding-bottom: 64px;}
.p-profile-apisci-about li {float: left; width: 340px;}
.p-profile-apisci-about li:first-child {padding-right: 22px;}
.p-profile-apisci-about p {font-size: 12px; line-height: 18px; color: #666; padding: 0px 0px 4px 2px;}
.p-profile-apisci-about .button {margin-top: 20px; width: 160px;}

.p-profile-apisci-list ul {overflow: hidden; zoom: 1; border-bottom: 1px solid #ebebeb;}
.p-profile-apisci-list li {float: left;}
.p-profile-apisci-list .date {width: 121px; padding: 0px 11px;}
.p-profile-apisci-list .name {width: 260px; padding-right: 13px;}
.p-profile-apisci-list .status {width: 130px;padding-right: 13px;min-height: 30px;}
.p-profile-apisci-list .status a img {margin-top: 6px;}
.p-profile-apisci-list .status a.re-submit-sci-request {margin-left: 10px;}
.p-profile-apisci-list .state {width: 140px;}
.p-profile-apisci-list-header {text-transform: uppercase; color: #999; padding-bottom: 7px;}
.p-profile-apisci-list-item {padding: 15px 0px 14px 0px;}
.p-profile-apisci-list-item .date {font-size: 13px; color: #666; padding-top: 5px;}
.p-profile-apisci-list-item .name {padding-top: 4px;}
.p-profile-apisci-list-item .name b {font-size: 14px; color: #090;}
.p-profile-apisci-list-item .name a {text-decoration: none;}
.p-profile-apisci-list-item .name a:hover {text-decoration: underline;}
.p-profile-apisci-list-item .name span {position: relative; color: #999; font-size: 9px; top: -6px;}

.p-sci-edit-header {border-bottom: 1px solid #ebebeb; overflow: hidden; zoom: 1; padding-bottom: 10px;}
.p-sci-edit-header-title {float: left;}
.p-sci-edit-header .button {float: right; margin: 18px 0px 0px 10px;}

.p-profile-sci-activation .form {width: 400px;}
.p-profile-sci-activation .form > li {width: 400px;}
.p-profile-sci-activation .form > li.method {*position: static;}
.p-profile-sci-activation input[type="text"], .p-profile-sci-activation input[type="password"] {width: 317px;}
.p-profile-sci-activation #wallet + .button, .p-profile-sci-activation #wallet + * + .button {display: inline-block; *display: inline; zoom: 1; vertical-align: top; float: none; margin-left: 12px;}
.p-profile-sci-activation #wallet {width: 202px;}
.p-profile-sci-activation .spacer {border-top: 1px solid #e4e5df; width: 702px; padding: 7px 0px 0px 0px; margin-top: 25px;}
.p-profile-sci-activation li.hidden {display: none !important;}
.p-profile-sci-activation label span {display: inline-block; *display: inline; zoom: 1; vertical-align: top; width: 247px;}
.p-profile-sci-activation .select-input {width: 325px;}
.p-profile-sci-activation .select-input input {width: 230px;}
.p-profile-sci-activation .select-input dl {width: 77px; float: right;}
.p-profile-sci-activation .select-input ul {background: #fff;}
.p-profile-sci-activation .select-input li {padding: 0px; display: block;}

.p-profile-sci-activation .label {font-size: 10px; color: #999; text-transform: uppercase; padding-bottom: 8px;}

.p-profile-sci-activation .systems {font-size: 14px; padding: 20px 0px;}
.p-profile-sci-activation .systems li {padding-bottom: 5px;}
.p-profile-sci-activation .systems input {display: inline-block; vertical-align: middle; cursor: pointer;}
.p-profile-sci-activation .systems span {vertical-align: middle; padding-left: 10px; width: 160px; cursor: pointer;}
.p-profile-sci-activation .systems i {vertical-align: middle; color: #999; font-size: 12px; padding-left: 30px;}

.p-profile-sci-activation .payer ul {overflow: hidden; padding-bottom: 20px;}
.p-profile-sci-activation .payer li {float: left; font-size: 14px; padding-right: 50px;}
.p-profile-sci-activation .payer label {cursor: pointer;}
.p-profile-sci-activation .payer input {display: inline-block; vertical-align: middle;}
.p-profile-sci-activation .payer span {width: auto; display: inline-block; vertical-align: middle; padding-left: 10px;}

/* v2 */

.verify {width: 701px;}

.verify-chapters {overflow: hidden; zoom: 1; text-align: center; padding-top: 53px; position: relative; z-index: 2; margin-bottom: -1px;}
.verify-chapters a {color: #000; font: bold 12px/18px Arial, Helvetica, sans-serif; text-transform: uppercase; text-decoration: none;}
.verify-chapters .declined a {color: #B40010; font: inherit; text-transform: uppercase; text-decoration: underline;}
.verify-chapters li {float: left; padding-bottom: 28px; width: 154px;}
.verify-chapters li.active {background: url(../img/verify-chapters-active.png) no-repeat 50% 100%;}
.verify-chapters li:first-child {margin-left: 0px !important;}
.verify-chapters i {display: inline-block; *display: inline; zoom: 1; vertical-align: top; width: 72px; height: 86px; background: url(../img/verify-chapters.png); margin: 42px 0px 34px 0px;}
.verify-chapters i.name {background-position: 0px 0px;}
.verify-chapters i.location {background-position: -72px 0px;}
.verify-chapters i.phone {background-position: -144px 0px;}
.verify-chapters i.license {background-position: -216px 0px;}
.verify-chapters i.id {background: url(../img/verify-id.png); width: 123px; height: 125px; margin-top: 28px;}
.verify-chapters i.relationToTheCompany {background: url(../img/relation_to_the_company.png) no-repeat;height: 86px; width: 84px;/*margin: 24px 0px 34px 0px;*/}
.verify-chapters .status {height: 35px; line-height: 35px; text-align: center; text-transform: uppercase;}
.verify-chapters .status.red {background: #fedad9; color: #b40010;}
.verify-chapters .status.gray {background: #e8e8e8; color: #666;}
.verify-chapters .status.green {background: #e7f6e5 url(../img/profile-verify-ok.png) no-repeat 2px 0px; color: #2f992f; text-indent: 20px;}
.verify-chapters .status.yellow {background: #fff4c9; color: #f2a801;}
.verify-chapters.normal li {margin-left: 119px;}
.verify-chapters.business li {margin-left: 20px;}
/* .verify-chapters.normal + .verify-desc {margin-right: 68px;} */
.verify-chapters.business li {margin-left: 28px;}

.verify-desc {border: 1px solid #e1e1e1; padding: 11px 19px;}
.verify-desc-text dt {color: #000; text-transform: uppercase; font-size: 12px; line-height: 18px; padding-bottom: 6px;}
.verify-desc-text dd {color: #666; font-size: 11px; line-height: 1.2;}
.verify-desc-text .garanty {padding: 17px 0px 0px 0px;}
.verify-desc-text .garanty a {color: #00539e; text-decoration: none; border-bottom: 1px dotted #00539e;}
.verify-desc-text .garanty a:hover {border-bottom-color: #fff;}
.verify-desc .p-profile-verify-item-phone + .button, .verify-desc .transaction-pass + .button {float: none; display: inline-block; *display: inline; zoom: 1; vertical-align: top;}
.verify-desc .p-inside-transactions-body input[type="text"] + span {padding-top: 6px;}
.verify-desc .p-inside-transactions-body.transaction-pass {padding-left: 0px; border: 0px; margin-top: 0px;}
.verify-desc .verification-phone {padding-bottom: 14px;}

.verify-success {overflow: hidden; zoom: 1; padding-top: 11px;}
.verify-success-file {float: left; height: 31px; background: #e7f6e5 url(../img/profile-verify-ok.png) no-repeat -2px -1px; color: #2f992f; font-size: 12px; line-height: 31px; padding: 0px 15px 0px 35px; margin-right: 30px;}
.verify-success i {display: inline-block; *display: inline; zoom: 1; vertical-align: top; height: 14px; margin: 1px 7px 0px 0px;}
.verify-success i.cancel {width: 14px; background: url(../img/verify-cancel.png);}
.verify-success i.speedup {width: 17px; background: url(../img/verify-speedup.png);}
.verify-success li {float: left; font-size: 11px; padding-top: 9px;}
.verify-success li:first-child {padding-right: 30px;}
.verify-success li a {color: #406932; text-decoration: none;}
.verify-success li a span {border-bottom: 1px dotted #406932;}
.verify-success li a:hover span {border-bottom: 1px dotted #fff;}
.verify-success div.error {color: #b40010; font-weight: bold; text-transform: uppercase; padding: 8px 0px 5px 0px;}

.popup-speedup {width: 484px; left: 50%; margin-left: -242px; top: 30%; z-index: 9001 !important; position: fixed !important;}
.popup-speedup .p-profile-verify-item-fast {padding: 11px 10px 12px 14px;}
.popup-speedup .button {float: none; display: inline-block; *display: inline; zoom: 1; vertical-align: top; margin-top: 4px;}
.popup-speedup .close {display: block; position: absolute; top: 6px; right: 15px; width: 12px; height: 12px; background: url(../img/verify-speedup-close.png);}