/* Headlines */
.p-sign-header h1,
.p-reg-title dt,
.popup-regged-title,
.p-main-news-title,
.p-inside-transactions-header,
.p-history-nothing dt,
.p-profile-verify-item-desc dt,
.p-bug-verify-item-desc dt,
.p-profile-api-nothing-text,
.p-profile-apisci-title,
.popup-reg-sms-title,
.p-main-topbuttons-title,
.p-card-creating-card strong.small,
.p-ref-list-header,
.invoice-header,
.total-amount,
.p-history-searching,
.p2-payment__verify-title,
.p-settings-form-centered-msg p,
.popup-reg-sms-connected-title,
.p-confirmation h1,
.p-transfer-check-question p,
.reg2__section-head h1,
.popup-reg-sms-title,
.p-proflie-tpl-header,
.popup-api-limit-title,
ul.p-card-creating-card-pro-form-notice li.card-pro-notice span.card-pro-notice-title {
  font-size: 24px;
  line-height: 32px;
  font-weight: normal;
  color: #414750;
  letter-spacing: -1.3px;
}

/* Secondary text */
.p-sign-header p,
.p-reg-title dd,
.popup-regged-subtext,
.popup-regged-steps dd p,
.p-main-news-text,
.p2-payment__block-text,
.p2-payment__block-phones-info,
.p2-payment__block-phones-fee,
.p2-payment__block-cash-table td,
.p2-payment__block-cash-terms,
.p2-payment__block-cash-contacts dd,
.p-profile-verify-faq dd,
.verify-desc-text dd,
.file .file-tip,
.p-profile-verify-item-desc dd,
.p-bug-verify-item-desc dd,
.p-profile-notify-tab-text,
.p-profile-notify-text,
.p-profile-apisci-about p,
.p-inside-transactions-sub,
.form .checkboxes label span,
.form-buttons .back,
#emailLinkPanel .popup-reg-sms-form > dl > dt,
.popup-reg-sms-subtext,
.popup-msg-text,
.p-ticket-title,
.p-ticket-text,
.p-inbox-cap dd,
.p-settings-main-item p,
.inline-tip,
.search-choice,
.p-main-secbuttons-tabs .p-settings-main-item-button-text,
.p-card-creating-card p,
.p-card-creating-benefits,
#tokenPanel,
.block-operations .wallet span,
.block-personal-user-verify .popup p,
.p-ref-list-nothing,
.p-ref-scheme dd,
.p-input-tabs del.helper b,
.p-profile-sci-activation .payer,
.p-profile-sci-activation .systems,
.p2-payment__block-card-tip,
.p-card-creating-text,
.popup-reg-sms-form.popup-content p,
.p-transfer-comission,
.p-transfer-method-unavailable,
.p-input-sum dt,
.invoice-info,
.invoice-requisite,
.total-amount-due,
.p-input-swift-tabs td,
.p-input-swift-tabs-print a,
.p-transfer-tip .processing,
.p-transfer-note p,
.p-history-nothing dd,
.notification-popup .popup-body .token-notification,
.p-history-advanced-statuses span,
.p-history-advanced-select dd span,
.p-support-items dd,
.p-main-loadtransactions,
.p2-payment__echelon2-field-info,
.p-ref-text,
.p-ref-logo,
.p-card-creating .f-item.delivery p,
.p-settings-main-item-button-text,
.p-transfer-input-helper,
.p-transfer-form-tip,
.combobox-card-header del,
#balloon-garanty p,
.popup-api-delete-text,
.p-sign-text,
.p-sign-sendedsms dd,
.popup-reg-sms-connected-text,
.p-transactions-msg p,
.p-profile-api-nothing-examples,
.p-sign-error p,
.p-confirmation-msg,
.p-inside-transactions-body.exchange-step2 li.sum span:first-child + b + span,
.p-inside-transactions-body.transaction-confirm li.sum span:first-child + b + span,
.p-inside-transactions-body.transaction-confirm li.lifetime span:first-child + b + span,
.p-inside-transactions-body.transaction-confirm li.note span:first-child + span,
.p-inside-transactions-body.transaction-confirm li.data span:first-child + b + span,
.p-inside-transactions-buttons .save-data,
.p-transfer-check-benefits,
.p-inside-transactions-time,
.p-card-creating-star,
.p-main-methods dd.desc,
.p-main-methods dd.time,
.p-main-methods dd.fee,
.countriesPopup.popup .popup-body,
.p-card-creating-types .p-card-creating-card .card-conditions-block,
.p-card-creating-submit .checkbox,
.personalization-type-selection table td label,
.p-card-order-submitted ul.p-card-order-info li.p-card-order-info-text,
.block-cards-popup-wrap > .popup.action > .popup-content > .popup-body,
.block-cards-item-data,
.p-card-creating-limit,
.reg2__section-warning,
.bav__legend p,
.control__label-caption,
.warning p,
.txt,
.uploader__error,
.popup-transfer-confirm-form dt,
.wid_block_small,
ul.p-card-creating-card-pro-form-notice li.card-pro-notice span.card-pro-notice-text,
.walletSelectorForPinRetrievalPopup .popup-profile-body p,
.notification-popup .notification-message {
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: -0.2px;
  color: #6C7583;
}

.p-settings-main-item p.recommend,
.p-transfer-comission,
.p-transfer-method-unavailable,
.total-amount-due,
.p-inside-transactions-body.exchange-step2 li.sum span:first-child + b + span,
.p-inside-transactions-body.transaction-confirm li.sum span:first-child + b + span,
.p-inside-transactions-body.transaction-confirm li.lifetime span:first-child + b + span,
.p-card-creating-star,
.p-card-creating-types .p-card-creating-card .card-conditions-block .card-conditions-header,
.block-cards-item-data {
  color: #A6B1C1;
}

.p-main-methods dd.desc,
.p-main-methods dd.time,
.p-main-methods dd.fee {
  color: #414750;
}

/* Sub Headlines */
.popup-regged-steps dt,
.p2-payment__block-title,
.p2-payment__block-cash-contacts dt,
.p-profile-verify-faq dt,
.verify-chapters a,
.verify-desc-text dt,
.popup-msg-title,
.p-ticket-title b,
.p-inbox-cap dt,
.p-settings-main-item .title,
.block-personal-user b,
.block-operations .sum b,
.popup-bug-header,
.popup-addwallet-header b,
.p-ref-scheme dt,
.p-input-tabs > ul > li > a, 
.p-input-tabs > ul > li > del,
.p-input-tabs > ul > li > span,
.p-confirmation-info dd,
.invoice-bold,
.invoice-amount tr:nth-child(2) td,
.notification-popup .popup-body .notification-title,
.p-support-items dt,
.progressbar__point-title,
.p-transfer-methods dt a:first-child,
#balloon-garanty b,
.popup-api-delete-title,
.p-sign-sendedsms dt,
.p-profile-api-formheader,
.p-input-swift-tabs-handler a,
.p-inside-transactions-body.exchange-step2 li.number span:first-child + b,
.p-inside-transactions-body.exchange-step2 li.invoice span:first-child + span,
.p-inside-transactions-body.exchange-step2 li.sum span:first-child + b,
.p-inside-transactions-body.exchange-step2 li.rate span:first-child + b,
.p-inside-transactions-body.transaction-success li.check span:first-child + b,
.p-inside-transactions-body.transaction-confirm li.invoice span:first-child + b,
.p-inside-transactions-body.transaction-confirm li.sum span:first-child + b,
.p-inside-transactions-body.transaction-confirm li.number span:first-child + b,
.p-inside-transactions-body.transaction-confirm li.code span:first-child + b,
.p-inside-transactions-body.transaction-confirm li.lifetime span:first-child + b,
.p-inside-transactions-body.transaction-confirm li.regdate span:first-child + b,
.p-inside-transactions-body.transaction-confirm li.data span:first-child + b,
.p-main-methods dt,
.p-card-creating-card strong.small,
#panel h2,
.p-card-creating h2,
.p-card-creating h3,
.p-card-creating-text h2,
.p-card-creating-text h3,
.p-profile-verify-item-fast h2,
.block-cards-item-ballance .card-brand,
.block-cards-item-ballance strong,
.adv-card-verification-notice-title,
.bav__fieldset-legend {
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: -0.65px;
  color: #414750;
}

.popup-regged-steps dt,
.popup-bug-header,
.popup-addwallet-header b,
.p-ref-scheme dt {
  display: block;
  margin-bottom: 16px;
}

.invoice-amount tr:nth-child(2) td {
  color: #FFF;
}

/* Page headers */
.p-sci-edit-header,
.p-sign-header {
  border-bottom: 1px solid #DBE2E7;
  overflow: hidden;
  padding-bottom: 16px;
}
.p-inside-transactions-sub {
  padding-top: 4px;
}

/* Table headlines */
.p2-payment__block-table th,
.p2-payment__block-cash-table th,
.invoice-summary tr:nth-child(1) td {
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: -0.2px;
  color: #A6B1C1;
  padding-bottom: 11px;
  text-align: left;
}

.p-inbox th:first-child,
.p-ticket-chain-header td:first-child {
  padding-left: 16px;
}
.p-inbox th:last-child,
.p-ticket-chain-header td:last-child {
  padding-right: 16px;
}

.p-inbox th,
.p-profile-apisci-list-header li,
.p-main-transactions th,
.p-ref-list th,
.p-profile-api-list th {
  text-transform: uppercase;
  padding: 8px;
  color: #A6B1C1;
  font-weight: normal;
  font-size: 10px;
  line-height: 13px;
  letter-spacing: -0.1px;
  text-align: left;
}
.p-ticket-chain-header td,
.p-profile-apisci-list-item li,
.p-main-transactions td,
.p-ref-list td,
#payment-template-list-table td {
  padding: 12px 8px;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: -0.2px;
  color: #6C7583;
}
.p-ticket-chain-header a,
.p-profile-apisci-list-item a,
.p-main-transactions td.type > div > a,
.popup-transaction-header a:first-child,
.history-export a,
.p-ref-list td.name,
.p-profile-api-list td.name a {
  color: #00AF7E;
  font-weight: 500;
  letter-spacing: -0.09px;
  text-decoration: none;
}

/* Form fields */
.popup-bug-form li,
.popup-addwallet-adder dd .combo,
.p-account dl,
.p-reg-form-item,
.p-profile-sci-activation .payer,
.form > li,
.f-item,
.popup-reg-sms-form > dl {
  margin-bottom: 24px;
}

/* Form Labels */
.form label:first-child,
.form .label,
.p-reg-form-item > dt,
.p2-payment__main-field-label,
.p2-payment__block-finder th,
.p-inside-transactions-speedbar,
.transaction-pass-title,
.p-profile-verify-item-fast label,
.p-account dt,
.p-profile-notify-tab-titles li,
.p-inside-exchange-step dt,
.p-new dt,
.popup-bug-form-title,
.popup-addwallet-adder dt,
.p-profile-sci-activation .label,
.p-confirmation-info dt,
.p2-payment__block-card-field-label,
.f-item dt,
.popup-transaction-fields span,
.p-history-advanced-statuses dt,
.p-history-advanced-select-name,
.p-history-search > dt,
.p2-payment__echelon1-var-body-examples-item p,
.p2-payment__echelon1-var-title,
.popup-reg-sms-form > dl > dt,
.p-input-swift-tabs th,
.p-inside-transactions-body.exchange-step2 li span:first-child,
.p-inside-transactions-body.transaction-confirm li span:first-child,
.p-proflie-tpl-selector label {
  display: block;
  color: #6C7583;
  font-weight: 300;
  font-size: 10px;
  line-height: 13px;
  min-height: 13px;
  letter-spacing: -0.1px;
  text-transform: uppercase;
  padding-bottom: 8px;
  text-align: left;
}

.p2-payment__block-finder th {
  display: table-cell;
  white-space: nowrap;
}

/* Form Inputs */ 
.form input[type="text"],
.form input[type="password"],
.p-reg-form-item > dd input[type="text"],
.p-reg-form-item > dd input[type="password"],
.p2-payment__block-finder-reserve input,
.chzn-container-single .chzn-single,
.chzn-container-single .chzn-search input,
.p-reg-form-item-phone input,
.phone-input-container input,
.p-transfer-form.bank-card #cityComponentIdInput input,
.p-inside-transactions-body input[type="text"],
.p-profile-verify-item-fast li > input[type="text"],
.p-profile-verify-item-fast .city #cityComponentIdInput,
.p-account input[type="text"],
.p-new dd input[type="text"],
.p-profile-verify-faq-search input[type="text"],
.combo-header,
.p2-combobox > input,
.input-currency > input,
.p2-combobox-select,
.input-currency > span,
.p2-select,
.combobox-account-header,
.p2-payment__block-phones-input .input,
.popup-bug-form input[type="text"],
.p2-payment__block-card-field input[type="text"],
.select-input dt a,
.p-history-advanced-select dt a,
.p-history-search .select-input input,
.popup-reg-sms-form > dl > dd > input,
.p-transfer-form .combobox-number-header input,
.combobox-card-header,
.p-inside-exchange-step input[type="text"],
.p-transfer-form fieldset .column dd input[type="text"],
.p-transfer-form .select-currency,
.p-history-advanced-dates input,
.popup-transaction-fields .code-input input[type="text"],
textarea {
  display: inline-block;
  width: 100%;
  box-sizing: border-box;
  font: 500 15px/29px Gerbera, Arial, sans-serif;
  letter-spacing: -0.84px;
  padding: 0 12px 1px;
  height: 31px;
  color: #414750;
  border: 1px solid #DBE2E7 !important;
  text-decoration: none;
  background-color: #FFF;
}

textarea {
  line-height: 20px;
  padding-top: 6px;
  padding-bottom: 6px;
  min-height: 34px;
}

.form input[type="text"][disabled],
.form input[type="password"][disabled],
.p-reg-form-item > dd input[type="text"][disabled],
.p-reg-form-item > dd input[type="password"][disabled],
textarea[disabled] {
  background: #F2F7F9;
  cursor: not-allowed;
}

.form input[type="text"]:focus,
.form input[type="password"]:focus,
.p-reg-form-item > dd input[type="text"]:focus,
.p-reg-form-item > dd input[type="password"]:focus,
.p2-payment__block-finder-reserve input:focus,
.chzn-container-active .chzn-single,
.chzn-container-single .chzn-search input:focus,
.p-reg-form-item-phone input:focus,
.phone-input-container input:focus,
.p-inside-transactions-body input[type="text"]:focus,
.p-profile-verify-item-fast li > input[type="text"]:focus,
.p-profile-verify-item-fast .city #cityComponentIdInput:focus,
.p-account input[type="text"]:focus,
.p-new dd input[type="text"]:focus,
.p-profile-verify-faq-search input[type="text"]:focus,
.p2-combobox > input:focus,
.input-currency > input:focus,
.combobox-account-header.active,
.popup-bug-form input[type="text"]:focus,
.p2-payment__block-card-field input[type="text"]:focus,
.p-history-search .select-input input:focus,
.popup-reg-sms-form > dl > dd > input:focus,
.p-transfer-form .combobox-number-header input:focus,
.p-inside-exchange-step input[type="text"]:focus,
.p-history-advanced-dates input:focus,
.popup-transaction-fields .code-input input[type="text"]:focus,
textarea:focus {
  border-color: #00AF7E !important;
}

.p2-combobox > input {
  min-width: 0;
}

/* Form Buttons */
.button {
  position: relative;
}
.p-reg-form-buttons input[type="submit"],
.p-reg-form-buttons input[type="button"],
.button input[type="submit"],
.button input[type="button"],
.button a,
.p-main-topbuttons-create a,
.reg2__types-item button {
  display: block;
  position: relative;
  flex: 0 0 auto;
  height: 38px;
  background-image: linear-gradient(90deg, #00AB80 0%, #00C99C 100%);
  color: #fff;
  font: bold 12px Gerbera, Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  letter-spacing: 1.09px;
  border-radius: 4px;
  border: 0;
  padding: 0 16px;
}
.button.red input[type="submit"],
.button.red input[type="button"] {
  background: #E05F5F;
}
.p-reg-form-buttons input[disabled],
.button.disabled input,
.button input[disabled] {
  background: #DBE2E7;
}

.button a,
.p-main-topbuttons-create a {
  line-height: 38px;
  text-decoration: none;
}

/* Form Select */
.chzn-container-single .chzn-single div b,
.combo-header:before,
.p2-combobox-select:before,
.p2-select:before,
.combobox-account-header:before,
.select-input dt a:before,
.input-currency > span.changer:before,
.p-history-advanced-select dt a:before,
.combobox-card-header:before {
  content: "";
  display: block;
  position: absolute;
  right: 11px;
  top: 50%;
  margin-top: -2px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 4px 4px 0 4px;
  border-color: #414750 transparent transparent;
}

.p2-select,
.combobox-account,
.combobox-account-header {
  position: relative;
}
.p2-select-value {
  padding-right: 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.p2-combobox,
.input-currency {
  display: flex;
}
.p2-combobox-select,
.input-currency > span {
  position: relative;
  width: 74px;
  box-sizing: border-box;
  border-left-color: transparent !important;
  background-color: #F2F7F9;
  font-size: 14px;
  padding-left: 10px;
  padding-right: 20px;
}
.p2-combobox-select:before,
.input-currency > span:before,
.combobox-account-header:before {
  right: 7px;
}
.input-currency > span:not(.changer) {
  padding-right: 10px;
  text-align: center;
}

.chzn-container .chzn-drop,
.combobox-account-list,
.select-input dd,
.p-history-advanced-select dd {
  position: absolute;
  z-index: 2002;
  background-color: #FFF;
  border: 1px solid #00AF7E;
  /*box-sizing: border-box;*/
}

.combo li,
.chzn-container .chzn-results li,
.select-input dd li,
.p-history-advanced-select dd li,
#cityComponentIdInputList .rf-au-opt {
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: -0.65px;
  padding: 8px 11px;
  color: #414750;
  cursor: pointer;
  text-decoration: none;
  margin: 0;
  background-color: #FFF;
}

.combo li:hover,
.chzn-container .chzn-results li:hover,
.select-input dd li:hover,
.p-history-advanced-select dd li:not(.is-category):hover,
#cityComponentIdInputList .rf-au-opt:hover {
  background-color: #F2F7F9;
}

.combo li.selected,
.chzn-container .chzn-results li.result-selected,
.select-input dd li.active,
#cityComponentIdInputList .rf-au-itm-sel {
  color: #00AF7E;
}

.chzn-container-single .chzn-search {
  padding: 11px 11px 8px;
}
.chzn-container-single .chzn-search input {
  width: 100% !important;
  background: url("../images/search.svg") calc(100% - 8px) center no-repeat;
}

.p-history-advanced-select dd li div.inactive {
  opacity: 0.5;
  pointer-events: none;
}

/* Auth */
.p-sign-header p,
.p-reg-title dd {
  margin-top: 6px;
}

.p-sign,
.p-reg-body {
  margin: 0px auto;
  background: #FFF;
  box-shadow: 0 2px 6px 0 rgba(0,0,0,0.30);
  padding: 26px 24px;
}

/* Phone Combobox */
.phone-toggler dd {
  display: flex;
  flex-wrap: wrap;
}
.phone-toggler .chzn-container {
  max-width: 153px;
  width: 153px;
  margin-right: 2px;
}

/* Crosses */
.info_red_my a.krest,
.popup-regged-close a,
.popup-transfer-confirm-close a,
.close-popup,
.remove-document,
.popup-reg-sms-close a,
.chzn-container-multi .chzn-choices .search-choice .search-choice-close,
.popup-addwallet-header a,
.notification-popup-close a,
.popup-transaction-header a:last-child,
.p-transfer-additional-info .prohibitedCountries.popup .popup-body a.close,
.countriesPopup.popup .popup-body a.close,
.plasticLimitsDialog.popup .popup-body a.close,
.virtualLimitsDialog.popup .popup-body a.close {
  display: block;
  width: 13px;
  height: 13px;
  background: url("../images/cross-big-green.svg") 50% 50% no-repeat;
  background-size: contain;
}

.popup-regged-close,
.notification-popup .notification-popup-close a,
.popup-transaction-header a:last-child,
.info_red_my a.krest,
.p-transfer-additional-info .prohibitedCountries.popup .popup-body a.close,
.countriesPopup.popup .popup-body a.close,
.plasticLimitsDialog.popup .popup-body a.close,
.virtualLimitsDialog.popup .popup-body a.close {
  position: absolute;
  top: 16px;
  right: 16px;
}

/* Infoboxes */
.transaction-sms-tip,
.p-reg-form-item-tip,
.checkbox-tip {
  background-color: #F2F7F9;
  color: #6C7583;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: -0.2px;
  padding: 12px 17px;
  border-radius: 3px;
}

.info_red_my,
.global-error {
  color: #414750;
  font-weight: normal;
  background: #FCDDDD;
  -webkit-border-radius: 4px;
  -khtml-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  font-weight: normal;
  font-size: 12px;
  line-height: normal;
}

.info_red_my *,
.global-error * {
  font-weight: normal;
}

.transaction-sms-tip p:not(:last-child),
.p-reg-form-item-tip p:not(:last-child),
.checkbox-tip p:not(:last-child) {
  padding-bottom: 4px;
}

.transaction-sms-tip i:not(.arr),
.p-reg-form-item-tip i:not(.arr),
.checkbox-tip i:not(.arr) {
  display: none;
}

/* Tip arrows */
#tip > i.arr,
.p-reg-form-item-tip i.arr,
.p-reg-form-item-error i.arr,
.popup-reg-sms-form-hint i.arr,
.p-reg-form-item-tip-ip i.arr,
.p-ip-sec-form-item-error i.arr {
  position: absolute;
  top: 17px;
  left: -7px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 7px 7px 7px 0;
  border-color: transparent;
}
.checkbox-tip i.arr {
  position: absolute;
  bottom: 100%;
  left: 17px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 7px 7px 7px;
  border-color: transparent;
}
#tip > i.arr,
.p-reg-form-item-tip i.arr,
.popup-reg-sms-form-hint i.arr,
.p-reg-form-item-tip-ip i.arr {
  border-right-color: #F2F7F9;
}
.checkbox-tip i.arr {
  border-bottom-color: #F2F7F9;
}
.p-reg-form-item-error i.arr,
.p-ip-sec-form-item-error i.arr {
  border-right-color: #FCDDDD;
}

/* Popup arrows */
.popup-arrow {
  display: block;
  position: absolute;
  z-index: 2;
  font-size: 0;
  line-height: 0;
}
.popup-arrow:before,
.popup-arrow:after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-color: transparent;
}
.popup-arrow:before {
  position: absolute;
  filter: blur(1px);
}
.popup-arrow:after {
  position: relative;
  z-index: 2;
}

  /* TopВ */
  .header-buglink .popup-arrow,
  .selector-recent .popup-arrow {
    bottom: 100%;
  }
  .header-buglink .popup-arrow:before,
  .header-buglink .popup-arrow:after,
  .selector-recent .popup-arrow:before,
  .selector-recent .popup-arrow:after {
    border-width: 0 8.5px 8px 8.5px;
  }
  .header-buglink .popup-arrow:before,
  .selector-recent .popup-arrow:before {
    top: -1px;
    left: 0;
    border-bottom-color: rgba(0, 0, 0, 0.1);
  }
  .header-buglink .popup-arrow:after,
  .selector-recent .popup-arrow:after {
    border-bottom-color: #FFF;
  }
  /* Bottom*/
  #balloon .popup-arrow {
    top: 100%;
  }
  #balloon .popup-arrow:before,
  #balloon .popup-arrow:after {
    border-width: 8px 8.5px 0 8.5px;
  }
  #balloon .popup-arrow:before {
    top: 1px;
    left: 0;
    border-top-color: rgba(0, 0, 0, 0.1);
  }
  #balloon .popup-arrow:after {
    border-top-color: #FFF;
  }
  /* Left */
  .add-wallet-popup .popup-arrow,
  .block-personal-user-verify .popup-arrow,
  .block-cards-item .popup-arrow {
    right: 100%;
  }
  .add-wallet-popup .popup-arrow:before,
  .add-wallet-popup .popup-arrow:after,
  .block-personal-user-verify .popup-arrow:before,
  .block-personal-user-verify .popup-arrow:after,
  .block-cards-item .popup-arrow:before,
  .block-cards-item .popup-arrow:after {
    border-width: 8px 8.5px 8px 0;
  }
  .add-wallet-popup .popup-arrow:before,
  .block-personal-user-verify .popup-arrow:before,
  .block-cards-item .popup-arrow:before {
    top: 0;
    left: -1px;
    border-right-color: rgba(0, 0, 0, 0.1);
  }
  .add-wallet-popup .popup-arrow:after,
  .block-personal-user-verify .popup-arrow:after,
  .block-cards-item .popup-arrow:after {
    border-right-color: #FFF;
  }

/* Rest */
hr {
  border: none;
  background: #DBE2E7;
  padding: 0;
  height: 1px;
}