

.p-ref {width: 680px; padding: 17px 0px 0px 28px;}

.p-ref-text {font-size: 11px; line-height: 13px; padding: 14px 0px 0px 2px;}
.p-ref-text strong {font-size: 18px;}

.p-ref-link {overflow: hidden; zoom: 1; margin: 16px 0px 0px 1px; *padding-bottom: 6px;}
.p-ref-link input[type="text"] {display: block; float: left; font-size: 18px; font-weight: bold; border: 0px; margin: 8px 0px 9px 14px; letter-spacing: -0.2px; width: 480px; background: none;}
.p-ref-link-status {float: right; font-weight: bold; text-transform: uppercase; font-size: 10px;}
.p-ref-link.ok {border: 1px solid #f8dda1; background: #fff4c9;}
.p-ref-link.ok .p-ref-link-status {color: #090; background: url(../img/profile-verify-ok.png) no-repeat 0px 5px; padding: 16px 17px 10px 40px;}
.p-ref-link.blocked {border: 1px solid #fbc4c4; background: #fedbda;}
.p-ref-link.blocked .p-ref-link-status {color: #b40010; padding: 16px 17px 10px 40px;}
.p-ref-link.blocked .p-ref-link-status i {display: inline-block; *display: inline; zoom: 1; vertical-align: top; width: 16px; height: 16px; background: url(../img/main-status.png) 0px -32px; margin: -1px 10px 0px 0px;}
.p-ref-link.blocked .p-ref-link-status a {text-decoration: none; border-bottom: 1px dotted #b40010; color: #b40010;}
.p-ref-link.blocked .p-ref-link-status a:hover {border-bottom-color: #fedbda;}

.p-ref-list-header {font-size: 24px; padding-top: 20px;}
.p-ref-list-nothing {font-size: 12px; color: #666; padding-top: 11px;}

.p-ref-list {margin: 20px 0px 26px 2px;}
.p-ref-list tr:hover td {background: #f5f5f5;}
.p-ref-list .date {width: 98px; padding-left: 10px;}
.p-ref-list .name {width: 192px; padding-left: 10px;}
.p-ref-list .type {width: 153px; padding-left: 10px;}
.p-ref-list .level {width: 141px; text-align: center;}
.p-ref-list .status {width: 46px; padding-left: 18px; text-align: center;}
.p-ref-list th {text-transform: uppercase; color: #999; text-align: left; padding-bottom: 7px;}
.p-ref-list td {height: 40px; border-top: 1px solid #ebebeb;}
.p-ref-list td.date, .p-ref-list td.type {color: #666; font-size: 11px;}
.p-ref-list td.name {font-size: 14px; font-weight: bold;}
.p-ref-list td.name a {color: #000; text-decoration: none;}
.p-ref-list td.name a:hover {text-decoration: underline;}
.p-ref-list .level .bl {margin-right: 4px;}
.p-ref-list .status a {display: block; width: 16px; height: 16px; background: url(../img/main-status.png); margin-left: 17px; *margin-left: 2px; cursor: help;}
.p-ref-list .status.ok a {background-position: 0px 0px;}
.p-ref-list .status.canceled a {background-position: 0px -32px;}

.p-ref-lang {padding-top: 17px;}
.p-ref-lang label {display: block; color: #999; text-transform: uppercase; padding-bottom: 6px;}
.p-ref-lang select {width: 320px;}

.p-ref-banners {padding-top: 17px; width: 370px;}
.p-ref-banners dl {padding-top: 10px;}
.p-ref-banners dt {font-weight: bold; font-size: 12px; padding-bottom: 10px;}
.p-ref-banners dd {display: inline-block; *display: inline; zoom: 1; vertical-align: top; padding: 0px 7px 15px 1px;}
.p-ref-banners img {display: block;}

.p-ref-scheme {width: 714px; height: 957px; background: url(../img/ref-scheme.png) no-repeat; margin: 28px 0px 0px -59px; position: relative;}
.p-ref-scheme input[type="text"] {border: 0px; padding: 7px 3px; margin: 0px; position: absolute; top: 56px; left: 111px; width: 215px; display: block; color: #2b2b2b;}
.p-ref-scheme-button {position: absolute; top: 105px; right: 425px; border-radius: 5px; overflow: hidden; zoom: 1;}
.p-ref-scheme-button input[type="submit"] {width: 140px; padding: 0;}
.p-ref-scheme dl {width: 320px; height: 180px;}
.p-ref-scheme dt {text-transform: uppercase; font-weight: 900; font-size: 14px; padding-bottom: 7px;}
.p-ref-scheme dd {font-size: 12px; line-height: 16px; color: #5e5e5e; font-style: italic;}
.p-ref-scheme .link {padding: 56px 0px 0px 379px;}
.p-ref-scheme .clients {padding: 45px 0px 0px 84px;}
.p-ref-scheme .percent {padding: 84px 0px 0px 379px;}
.p-ref-scheme .cool {padding: 69px 0px 0px 84px;}

.referrals-invite__page {width: 385px; padding-top: 46px;}
.referrals-invite__page .about {padding-bottom: 31px;}
.referrals-invite__page .about dt {font-size: 24px; color: #010101; padding-bottom: 13px;}
.referrals-invite__page .about dd {font-size: 12px; line-height: 14px; color: #5e5e5e;}
