

.p-support {width: 702px; padding: 17px 0px 0px 28px;}

.p-support-items {padding-top: 10px;}
.p-support-items dl {border-top: 1px solid #e4e5df; padding: 20px 0px 8px 76px;}
.p-support-items dt {font-size: 14px; line-height: 14px; font-weight: bold; color: #090;}
.p-support-items dt a {text-decoration: none;}
.p-support-items dt a:hover {text-decoration: underline;}
.p-support-items dd {font-size: 12px; line-height: 15px; padding: 4px 100px 13px 0px;}
.p-support-items dd span {font-size: 11px; display: inline-block; *display: inline; zoom: 1; vertical-align: top; padding-right: 23px;}
.p-support-items dd span img {vertical-align: middle; margin: -1px 9px 0px 0px;}
.p-support-items dd span b {font-size: 12px;}
.p-support-items .jabber dt + dd {padding-bottom: 6px;}
.p-support-items .jabber dd span {padding-right: 34px;}
.p-support-items .tickets {background: url(../images/support-tickets.png) no-repeat 1px 15px;}
.p-support-items .token {background: url(../images/settings-security-token.png) no-repeat 1px 15px;}
.p-support-items .faq {background: url(../images/support-faq.png) no-repeat 2px 16px;}
.p-support-items .forum {background: url(../images/support-forum.png) no-repeat 1px 15px;}
.p-support-items .chat {background: url(../images/support-chat.png) no-repeat 1px 17px;}
.p-support-items .online-chat {background: url(../images/online-chat.png) no-repeat 5px 15px; background-size: 60px auto;}
.p-support-items .phone-support {background: url(../images/phone-support.png) no-repeat 1px 17px; background-size: 65px auto;}
.p-support-items dd span.phone-number {padding-right: 5px;}

.retina .p-support-items dl {background-size: 64px auto !important;}
.retina .p-support-items .tickets {background: url(../images/support-tickets@2x.png) no-repeat 1px 15px;}
.retina .p-support-items .faq {background: url(../images/support-faq@2x.png) no-repeat 2px 16px;}
.retina .p-support-items .forum {background: url(../images/support-forum@2x.png) no-repeat 1px 15px;}
.retina .p-support-items .chat {background: url(../images/support-chat@2x.png) no-repeat 1px 17px;}

.p-support-start {border-top: 1px solid #e4e4df; margin-top: 16px; padding-bottom: 21px;}
.p-support-start dl {text-align: center; padding: 37px 0px 28px 0px;}
.p-support-start dt {font-size: 18px; line-height: 20px;}
.p-support-start dd {font-size: 14px; line-height: 24px;}
.p-support-start-button {text-align: center;}
.p-support-start-button .button {display: inline-block; *display: inline; zoom: 1; vertical-align: top; float: none; width: 180px;}