/*
* @package Advcash
* @section transfer
* @author Alexander CSR <need@verstka.pro>
* @link <www.verstka.pro>
*/

.p-transfer {width: 727px;}

.p-transfer-nav {border-bottom: 1px solid #DBE2E7; height: 69px; width: 100%; margin: -15px 0 30px;}
.p-transfer-nav td {text-align: center; font-weight: 500; font-size: 14px; line-height: 18px; letter-spacing: -0.65px; width: 1px; padding: 0px 5px; cursor: pointer; min-width: 48px;}
.p-transfer-nav td.grayed:hover {background-color: #F2F7F9;}
.p-transfer-nav td:hover {background-color: #F2F7F9;}
.p-transfer-nav td:last-child {white-space: nowrap;}
.p-transfer-nav a {text-decoration: none;}
.p-transfer-nav .active {background-color: #F2F7F9 !important;}
.p-transfer-nav .active a {color: #414750 !important; font-weight: bold; text-decoration: none !important; cursor: default !important;}

.p-transfer-tip {overflow: hidden; padding: 2px 0px 30px 40px;}
.p-transfer-tip p {float: left;}
.p-transfer-tip b, .p-payment-nav b {color: #00AF7E; font-weight: bold;}
.p-transfer-tip .desc {width: 100%; font-size: 12px; line-height: 18px; padding-top: 6px;}
.p-transfer-tip .desc.half {width: 33%;}
.p-transfer-tip .fee {width: 143px; font-size: 11px; color: #A6B1C1; font-weight: bold; padding-left: 14px;}

.p-transfer-form {width: 496px; padding: 0px 0px 0px 40px;}
.p-transfer-form + .p-transfer-form {display: none;}
.p-transfer-form fieldset {background-color: #F2F7F9; margin-bottom: 20px; padding: 20px 12px 5px 52px; border-radius: 5px; position: relative;}
.p-transfer-form .f-item .p-reg-form-item-error {position: absolute; left: 100%; top: 50%; margin: -24px 0px 0px 15px; color: #5d1717;}
.p-transfer-form .f-item .p-reg-form-item-error .arr {background-image: url(../images/reg-tip-arrow-left.png);}
.p-transfer-form .combobox-account {width: 294px;}
.p-transfer-form .combobox-card {width: 294px;}
.p-transfer-form .input-currency input {width: 125px;}
.p-transfer-form .f-item.currency-changer .input-currency input {width: 119px;}
.p-transfer-form .f-item.long input {width: 275px;}

.p-transfer-form-tip {position: absolute; width: 170px; color: #A6B1C1; top: 0; left: 100%; padding: 46px 0px 0px 29px;}

.p-transfer-form .combobox-number {*position: relative;}
.p-transfer-form .combobox-number-header-placeholder {font-size: 14px; line-height: 1; font-weight: bold; position: absolute; margin-top: 1px; padding: 5px 5px 0px 9px; display: none; overflow: hidden !important; max-width: 140px; box-sizing: border-box; white-space: nowrap;}
.p-transfer-form .combobox-number-header-placeholder * {color: #A6B1C1;}
.p-transfer-form .combobox-number-header-placeholder:after {content: ""; display: block; position: absolute; top: 0; right: 0; bottom: 0; width: 20px; background: linear-gradient(to right, transparent, #FFF);}
.p-transfer-form .combobox-number-header input {width: 271px !important; display: block; float: left;}
.p-transfer-form .combobox-number-header input + a {display: block; float: left; width: 28px; height: 28px; background: url(../images/exchange-acc-number.png) no-repeat 0px 0px; margin: 1px 0px 0px -29px;}
.p-transfer-form .combobox-number-header input + a.active {background-position: 0px -28px;}
.p-transfer-form .combobox-number-big {width: 307px;}
.p-transfer-form .combobox-number-big.select-recipient .popup-content {padding: 16px;}
.p-transfer-form select {width: 294px;}

.p-transfer-form .sms .default input {width: 174px;}

.p-transfer-form.bank-card .p-transfer-submit {min-height: 30px;}
.p-transfer-form.bank-card .p-transfer-submit .save-data {margin-top: 0px;}

.p-transfer-protection {padding-top: 21px; display: none;}
.p-transfer-protection .f-item {display: inline-block; vertical-align: top; padding-top: 0 !important; padding-right: 15px;}
.p-transfer-protection .default input {width: 98px;}
.p-transfer-protection-label {display: inline-block; vertical-align: top; font-size: 11px; cursor: pointer; margin: 4px 0px 0px 66px;}
.p-transfer-protection-label input {display: inline-block; vertical-align: top; margin: 2px 7px 0px 0px !important;  cursor: pointer !important;}
.p-transfer-protection-label span {border-bottom: 1px dotted #00AF7E; color: #00AF7E; display: inline-block; vertical-align: top;}
.p-transfer-protection-label:hover span {border-bottom-color: transparent;}

.p-transfer-submit {text-align: right; padding-top: 25px; display: flex; align-items: center; justify-content: space-between;}
.p-transfer-submit .button {display: inline-block; vertical-align: top; float: none;}
.p-transfer-submit .button input {width: 180px;}

.p-transfer-input-link-helper {display: inline-block; vertical-align: top; font-size: 11px; padding: 4px 0px 0px 13px; position: relative;}
.p-transfer-input-link-helper > a {text-decoration: none; border-bottom: 1px dotted #00AF7E;}
.p-transfer-input-link-helper > a:hover {border-bottom-color: transparent;}
.p-transfer-input-link-helper .popup-body {padding: 15px 19px; font-size: 11px; color: #000; width: 228px; line-height: 14px;}
.p-transfer-input-link-helper .popup {left: 100%; top: 50%; margin-left: 10px;}
.p-transfer-input-link-helper .popup a.ajax {text-decoration: none; border-bottom: 1px dotted #00AF7E;}
.p-transfer-input-link-helper .popup a.ajax:hover {border-bottom-color: transparent;}
.p-transfer-input-link-helper .popup p + p {padding-top: 10px;}
.p-transfer-input-link-helper .popup .popup-arrow {background-position: 0px -36px; width: 15px; height: 24px; top: 50%; margin-top: -9px; margin-right: -8px; right: 100%; z-index: 3;}

.p-transfer-comission, .p-transfer-method-unavailable {display: inline-block; vertical-align: middle; width: 220px; margin-left: 12px;}
.p-transfer-comission span, .maxAllowedTransferAmountStatement, .p-transfer-method-unavailable span {color: #E05F5F;}
.p-transfer-comission span.green {color: #00AF7E;}
.p-transfer-method-unavailable {margin-left: 0px; padding-top: 8px; width: 100%;}
.p-transfer-method-unavailable p {padding-bottom: 10px; color: #6C7583;}

.p-transfer-methods {padding: 2px 0px 31px 0px;}
.p-transfer-methods dl {display: inline-block; vertical-align: top; padding-left: 42px;}
.p-transfer-methods dl + dl {border-left: 1px solid #e7e7e3; width: 300px; margin-left: 48px; padding-left: 50px;}
.p-transfer-methods dt {padding-bottom: 12px;}
.p-transfer-methods dt a:first-child {text-decoration: none; border-bottom: 1px dotted #00AF7E;}
.p-transfer-methods dt a:hover {border-bottom-color: transparent;}
.p-transfer-methods dd {font-size: 11px; line-height: 18px; color: #b2b2b2;}
.p-transfer-methods dd a {color: #b2b2b2; text-decoration: none; border-bottom: 1px dotted #b2b2b2;}
.p-transfer-methods dd a:hover {border-bottom-color: transparent;}
.p-transfer-methods .active dt a:first-child {font-weight: bold; color: #6C7583; border-bottom-color: transparent; cursor: default;}
.p-transfer-methods .active dd {color: #A6B1C1;}
.p-transfer-methods .active dd b {color: #00AF7E;}
.p-transfer-methods .active dd a {color: #00AF7E; border-bottom: 1px dotted #00AF7E;}
.p-transfer-methods .active dd a:hover {border-bottom-color: transparent;}

.p-transfer-input-helper {display: inline-block; vertical-align: middle;}
.p-transfer-input-helper a {text-decoration: none; border-bottom: 1px dotted #00AF7E;}
.p-transfer-input-helper a:hover {border-bottom-color: transparent;}

.p-transfer-check-benefits {padding: 0 0px 0px 40px; width: 400px;}
.p-transfer-check-benefits li {position: relative; padding: 0px 0px 20px 19px;}
/*.p-transfer-check-benefits li:before {content: 'вЂ”'; position: absolute; top: 0; left: 0;}*/

.p-transfer-check-question {padding: 14px 0px 0px 58px;}
.p-transfer-check-question p {padding-bottom: 22px;}
.p-transfer-check-question input {width: 120px !important;}
.p-transfer-check-question .button {margin-right: 23px;}


.p-confirmation {width: 530px; padding: 1px 0px 0px 40px;}
.p-confirmation:first-child {padding-top: 20px;}
.p-confirmation h1 {padding-bottom: 24px;}
.p-confirmation h1 + .p-confirmation-msg {margin-top: -10px;}
.p-confirmation h1:before {content: ''; display: inline-block; vertical-align: top; width: 24px; height: 21px; background: url(../images/payment-confirmation.png); margin: 3px 11px 0px 17px;}
.p-confirmation h1.success:before {height: 22px; background: url(../images/exchange-success.png);}
.p-confirmation h1.fail:before {height: 22px; background: url(../images/fail.png);}
.p-confirmation > .f-item {padding-bottom: 25px;}

.p-confirmation-msg {width: 686px; padding-left: 53px;}

.p-confirmation-info {background-color: #F2F7F9; border-radius: 5px; padding: 51px 0px 20px 54px; margin-bottom: 16px;}
.p-confirmation-info li {overflow: hidden;}
.p-confirmation-info dl {float: left; padding-bottom: 11px;}
.p-confirmation-info dl.double {width: 155px; padding-right: 7px;}
.p-confirmation-info dl.single {width: 100%;}
.p-confirmation-info dl.comission dd {color: #E05F5F;}
.p-confirmation-info dl.success dd {color: #00AF7E; font-size: 18px;}
.p-confirmation-info dl.green dd {color: #00AF7E;}
.p-confirmation-info dl.red dd {color: #E05F5F;}
.p-confirmation-info dl.adv {width: 100%;}
.p-confirmation-info dl.adv dd {font-weight: normal;}
.p-confirmation-info dl.adv dd > * {height: 21px; display: inline-block; vertical-align: top; line-height: 21px;}
.p-confirmation-info dl.adv dd .verify {width: auto; font-size: 12px; padding-top: 2px; letter-spacing: -0.2px;}
.p-confirmation-info dl.adv dd .verify.green {color: #00AF7E;}
.p-confirmation-info dl.adv dd .verify.red {color: #E05F5F;}
.p-confirmation-info dd {height: 38px; overflow: hidden; position: relative; -ms-word-wrap: break-word; word-wrap: break-word;}

.p-confirmation-submit {text-align: right; padding-top: 10px; overflow: hidden;}
.p-confirmation-submit .back {color: #00AF7E; font-size: 11px; margin-top: 11px; float: left;}
.p-confirmation-submit .back del {font-family: "Times New Roman", Times, serif;}
.p-confirmation-submit .button {display: block; float: right;}


.p-input-sum {padding: 15px 0px 63px 29px; display: flex; align-items: center;}
.p-input-sum dt {padding-right: 8px;}
.p-input-sum input {width: 125px;}

.p-input-method {padding-left: 29px;}
.p-input-method > p {font-size: 14px; color: #A6B1C1; padding-bottom: 18px;}
.p-input-method-nav {border-bottom: 1px solid #e5e6e1; overflow: hidden; font-size: 14px; line-height: 18px; text-align: center; margin-bottom: 26px;}
.p-input-method-nav li {float: left;}
.p-input-list table tbody tr.inactive:hover, .p-input-tabs ul li.inactive span:hover, table.p-transfer-nav tr td.inactive:hover {cursor: not-allowed;}
table.p-transfer-nav tr td.inactive {color: rgba(130, 130, 130, 0.39);}
table.p-transfer-nav tr td.inactive:hover {background-color: #F2F7F9; cursor:not-allowed;}

.p-input-method-nav li.inactive div {display: block; padding: 0px 15px; height: 69px;color: rgba(130, 130, 130, 0.39);}
.p-input-method-nav li.inactive div span {display: inline-block; vertical-align: middle;}
.p-input-method-nav li.inactive div:before {content: '';display: inline-block;vertical-align: middle;height: 100%;}
.p-input-method-nav li.inactive:hover {background-color: #F2F7F9;cursor:not-allowed;}
.p-input-method-nav li.inactive:hover div span {color: rgba(144, 144, 144, 0.38);}
.p-input-method-nav a {display: block; padding: 0px 15px; height: 69px;}
.p-input-method-nav a:hover {color: #fff; background-color: #00AF7E;}
.p-input-method-nav a:before {content: ''; display: inline-block; vertical-align: middle; height: 100%;}
.p-input-method-nav span {display: inline-block; vertical-align: middle;}
.p-input-method-nav .active a {color: #3a3a3a; text-decoration: none; background-color: #F2F7F9; font-weight: bold; cursor: default;}

.p-input-tabs {padding-top: 24px;}
.p-input-tabs > ul {position: relative; display: none;}
.p-input-tabs > ul.active {display: block;}
.p-input-tabs > ul:after {content: ''; display: table; clear: both;}
.p-input-tabs > ul > li {float: left;}
.p-input-tabs > ul > li input {display: block; position: absolute; opacity: 0.01; top: -9999px; left: -9999px;}
.p-input-tabs > ul > li > a, .p-input-tabs > ul > li > del, .p-input-tabs > ul > li > span {display: block; width: 160px; height: 170px; padding: 6px; text-align: center; text-decoration: none;}
.p-input-tabs > ul > li > a:hover, .p-input-tabs > ul > li.inactive > span:hover {background-color: #fff; box-shadow: 0 2px 6px 0 rgba(0,0,0,0.30);}
.p-input-tabs > ul > li > a i, .p-input-tabs > ul > li > del i, .p-input-tabs > ul > li > span i {display: block; text-align: center; height: 100px; margin-top: 5px;}
.p-input-tabs > ul > li > a i:before, .p-input-tabs > ul > li > del i:before, .p-input-tabs > ul > li > span i:before {content: ''; display: inline-block; vertical-align: middle; height: 100%;}
.p-input-tabs > ul > li > a i > img, .p-input-tabs > ul > li > del i > img, .p-input-tabs > ul > li > span i > img {display: inline-block; vertical-align: middle;}
.p-input-tabs > ul > li > a span span, .p-input-tabs > ul > li > del span span {font-size: 12px; display: block; padding-top: 4px;}
.p-input-tabs > ul > li > a > span > br {display: none;}
.p-input-tabs > ul > li.unavailable > * {color: #f21c24;}
.p-input-tabs > ul > li.unferified > * {color: #c4c4c4;}
.p-input-tabs > ul > li.active a {border: 1px solid #00AF7E !important;}
.p-input-tabs.checkboxes > ul > li > a, .p-input-tabs.highlight > ul > li > a {border: 1px solid #fff; width: 148px; height: 158px; margin-right: 16px;}
.p-input-tabs del.helper {position: relative; vertical-align: 1px; margin-left: 2px;}
.p-input-tabs del.helper b {display: none; position: absolute; font-weight: normal; top: 0; left: 50%; white-space: nowrap; background-color: #fff; width: 250px; margin-left: -170px; padding: 10px; box-shadow: 0 2px 6px 0 rgba(0,0,0,0.30);}
.p-input-tabs del.helper:hover b {display: block;}

.p-input-tabs > ul > li:nth-child(4n) .p-input-list {left: 481px;}
.p-input-tabs > ul > li:nth-child(4n) .p-input-list:before {left: 551px;}
.p-input-tabs > ul > li:nth-child(4n-1) .p-input-list {left: 653px;}
.p-input-tabs > ul > li:nth-child(4n-1) .p-input-list:before {left: 379px;}
.p-input-tabs > ul > li:nth-child(4n-2) .p-input-list {left: 825px;}
.p-input-tabs > ul > li:nth-child(4n-2) .p-input-list:before {left: 207px;}
.p-input-tabs > ul > li:nth-child(4n-3) .p-input-list {left: 997px;    z-index: 100;}
.p-input-tabs > ul > li:nth-child(4n-3) .p-input-list:before {left: 35px;}

.p-input-list {width: 687px; display: none; position: relative; margin: 18px 0px 0px -1000px; padding: 15px 0px 0px 0px; background-color: #fff; box-shadow: 0px 3px 8px rgba(0, 0, 0, .32); border-radius: 5px;}
.p-input-list:before {content: ''; display: block; position: absolute; bottom: 100%; width: 94px; height: 50px; background: url(../images/big-arrow.png); margin-bottom: -2px;}
.p-input-list .close {display: block; width: 17px; height: 17px; cursor: pointer; margin: 0px 0px 20px 655px; background: url(../images/close.png);}
.p-input-list .close:hover {background-position: 0px -17px;}
.p-input-list .unavailable {color: #f21c24;}
.p-input-list th {text-align: left; font-weight: normal; text-transform: uppercase; color: #A6B1C1; padding-bottom: 35px;}
.p-input-list td {font-size: 14px; line-height: 18px; padding-bottom: 35px;}
.p-input-list td.logo {width: 158px; text-align: center;}
.p-input-list td.name {width: 180px; padding-right: 10px;}
.p-input-list td.name a {font-weight: bold; color: #00AF7E; text-decoration: none;}
.p-input-list td.name a:hover {text-decoration: underline;}
.p-input-list td.name span {display: block; font-size: 12px; padding-top: 2px;}
.p-input-list td.fee {width: 187px; padding-right: 10px;}
.p-input-list td.duration {width: 142px;}

.p-input-swift {width: 696px; padding: 21px 29px;}
.p-input-swift-tabs-handler {overflow: hidden; border-bottom: 1px solid #e5e6e1; margin-bottom: 31px;}
.p-input-swift-tabs-handler li {float: left; width: 50%;}
.p-input-swift-tabs-handler a {display: block; text-decoration: none; padding: 18px 5px 15px 18px;}
.p-input-swift-tabs-handler .active a {font-weight: 500; text-decoration: none; cursor: default; background-color: #F2F7F9;}
.p-input-swift-tabs-handler a:hover {background-color: #00AF7E; color: #fff;}
.p-input-swift-tabs {border-radius: 5px; background-color: #F2F7F9; padding: 24px; margin-bottom: 32px;}
/*.p-input-swift-tabs > div {display: none;}
.p-input-swift-tabs > div.active {display: block;}*/
.p-input-swift-tabs tr > * {padding-bottom: 35px;}
.p-input-swift-tabs th {text-align: left; width: 180px; padding-right: 11px; font-weight: normal;}
.p-input-swift-tabs td {width: 420px;}
.p-input-swift-tabs-print a {text-decoration: none;}
.p-input-swift-tabs-print a:hover {text-decoration: underline;}
.p-input-swift-tabs-print a::before {content: ''; display: inline-block; vertical-align: top; width: 25px; height: 22px; background: url(../images/print.png); margin: -7px 11px 0px 0px;}
.p-input-swift-tabs .commission-container {background-color: rgb(244, 244, 244); padding: 10px; display: block; width: 250px; margin-bottom: 20px;}

.p-input-swift-note {color: #00AF7E; font-size: 14px; line-height: 18px; position: relative; padding: 0px 0px 0px 50px;}
.p-input-swift-note:before {content: ''; display: block; position: absolute; top: -1px; left: 2px; width: 34px; height: 34px; background: url(../images/swift-note.png);}

.p-transfer-cash .p-main-topbuttons {padding: 9px 40px 30px;}
.p-input-method .p-transfer-tip, .p-input-method .p-main-topbuttons {padding-left: 0;}
.p-transfer-tips {overflow: hidden; font-size: 11px; font-weight: bold; color: #A6B1C1;}
.p-transfer-tips-left {float: left; width: 50%;}
.p-transfer-tips-right {float: left; width: 50%;}
.p-transfer-tips p {float: none;}
.other .desc {padding: 0;}
/*.p-transfer-form dl.f-item dd .receiver-phone-number .country-selector {width: 120px;float: left;padding-right: 2px;}
.p-transfer-form dl.f-item dd .receiver-phone-number .country-selector .chzn-drop {width: 130px!important;}
.p-transfer-form dl.f-item dd .receiver-phone-number .phone-input-container {border: 1px solid #e3e2e7; border-top: 1px solid #adadaf; font-size: 14px; line-height: 28px; width: 170px; overflow: hidden; zoom: 1; position: relative; }
.p-transfer-form dl.f-item dd .receiver-phone-number .phone-input-container div.phone-code {float: left; color: #999; width: 50px; text-align: center; font-size: 14px; line-height: 28px;}
.p-transfer-form dl.f-item dd .receiver-phone-number .phone-input-container input.phone-number {margin: 0 !important; display: block; float: left; width: 113px !important; border: none !important; padding-left: 4px !important; font-size: 16px !important; line-height: 1.3;}
.p-transfer-form dl.f-item dd .receiver-phone-number .country-selector .chzn-drop {width: 130px;}*/