/*
* @package Advcash
* @section transactions
* @author Alexander CSR <need@verstka.pro>
* @link <www.verstka.pro>
*/

.p-transactions {width: 702px; padding: 17px 0px 0px 28px;}

.p-transactions-msg {border-top: 1px solid #DBE2E7; padding: 8px 0px 32px 0px; margin-top: 16px;}
.p-transactions-msg p {padding: 8px 0;}

.p-transactions form {border-top: 1px solid #e3e4df; margin-top: 10px;}
.p-transactions .form {width: 290px;}
.p-transactions #type,
.p-transactions #paytype,
.p-transactions #time {width: 271px;}
.p-transactions #sum {width: 121px;}
.p-transactions #currency {width: 133px;}
.p-transactions #sender {width: 259px;}
.p-transactions .datepicker {width: 118px; margin-right: 7px;}
.p-transactions #info {padding: 5px 9px; color: #414750; font-size: 11px; width: 251px; height: 62px;}
.p-transactions #info.focus {color: #000;}

.p2-combobox.disabled,
.p2-select.disabled,
.p2-autocomplete.disabled .chzn-single {
	pointer-events: none;
	background-color: #dadada;
}
.p2-select select,
.p2-combobox select {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 0.01;
	border: none;
	padding: 0;
	margin: 0;
	z-index: 2;
	width: 100%;
	height: 100%;
	cursor: pointer;
	font-size: 16px;
}

.p2-button {
	background: linear-gradient(90deg, #00AB80 0%, #00C99C 100%);
	height: 38px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	color: #fff;
	text-transform: uppercase;
	font-size: 12px;
	line-height: 38px;
	letter-spacing: 1.09px;
	text-decoration: none;
	display: block;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	text-align: center;
	border: none;
	cursor: pointer;
	position: relative;
	font-weight: bold;
}
.p2-button[disabled], .p2-button.disabled-button {
	pointer-events: none;
	background: #DBE2E7;
}

.p2-payment {padding: 25px 0 0 30px; width: 691px;}
.p2-payment__main {font-size: 0; padding-bottom: 30px;}
.p2-payment__main-field {display: inline-block; vertical-align: top; width: 220px; margin-right: 17px;}
.p2-payment__main .p-reg-form-item-error {color: #E05F5F;}

.p2-payment__login {width: 308px;}

.p2-payment__lastused {padding-bottom: 4px;}
.p2-payment__lastused b {font-size: 14px; display: inline-block; vertical-align: middle; margin-right: 8px;}
.p2-payment__lastused-button {display: inline-block; vertical-align: middle; border: 1px solid #00AF7E; -webkit-border-radius: 5px; border-radius: 5px; height: 36px; padding: 0 20px; line-height: 36px; text-decoration: none; font-size: 12px; color: #00AF7E; position: relative;}
.p2-payment__lastused-button img {display: inline-block; vertical-align: middle; margin-right: 5px;}
.p2-payment__lastused-button span {display: inline-block; vertical-align: middle;}

.p2-payment__deposit-withdrawal-switch-button {display: inline-flex; align-items: center; vertical-align: middle;text-align: center;border: 1px solid #00AF7E; -webkit-border-radius: 5px; border-radius: 5px; height: 28px; padding: 0 10px; line-height: 28px; text-decoration: none; font-size: 12px; color: #00AF7E; position: relative;}
.p2-payment__main-deposit-withdrawal-switcher {display: inline-block; vertical-align: top; margin-right: 17px;}

.p2-payment__hr {width: 100%; height: 1px; background-color: #DBE2E7; margin: 23px 0 22px;}
.p2-payment__hr-dotted {border-color: #DBE2E7 !important;}
.p2-payment__block-title {position: relative; cursor: pointer; margin: 22px 0;} 
.p2-payment__block-title i {
	display: inline-block;
	vertical-align: middle;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 4px 4px 4px;
	border-color: transparent transparent #000 transparent;
	margin-left: 3px;
	-webkit-transition: transform 250ms;
	-moz-transition: transform 250ms;
	-ms-transition: transform 250ms;
	-o-transition: transform 250ms;
	transition: transform 250ms;
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
	position: absolute;
	top: 7px;
	right: 9px;
}

.p2-payment__block.active .p2-payment__block-title i {
	-webkit-transform: none;
	-moz-transform: none;
	-ms-transform: none;
	-o-transform: none;
	transform: none;
}
.p2-payment__block:not(.active) .p2-payment__block-contents {display: none;}

.p2-payment__block-table {font-size: 12px; width: 100%;}
.p2-payment__block-table th.center {text-align: center;}
.p2-payment__block-table th.right {text-align: right;}
.p2-payment__block-table td {padding-top: 10px; padding-bottom: 10px;}
.p2-payment__block-table td:first-child {}
.p2-payment__block-table td:last-child {padding-right: 10px;}
.p2-payment__block-table tr:hover td {background-color: #F2F7F9;}
.p2-payment__block-table tr:not(:hover) .p2-button, .p2-payment__block-table tr.inactive:hover .p2-button {background: #F2F7F9;}
.p2-payment__block-table .green {color: #00AF7E;}
.p2-payment__block-table-action {width: 104px; padding-left: 18px;}
.p2-payment__block-table-action .p2-button {width: 120px;}

.p2-payment__block-systems-logo {text-align: center; width: 0px; padding-right: 15px; width: 52px;}
.p2-payment__block-systems-logo img {display: inline-block;}
.p2-payment__block-systems-title {color: #6C7583; width: 120px; padding-right: 5px;}
.p2-payment__block-systems-title.-wide {width: 253px;}
.p2-payment__block-systems-percent {color: #6C7583; width: 95px; padding-right: 3px;}
.p2-payment__block-systems-comission {text-transform: uppercase; width: 85px; padding-right: 3px; white-space: nowrap;}
.p2-payment__block-systems-time {width: 120px; white-space: nowrap;}
.p2-payment__block-systems-sum {padding-left: 25px; width: 95px; text-align: right; text-transform: uppercase; white-space: nowrap;}

.p2-payment__block-phones {margin: 0 0px 24px;}
.p2-payment__block-phones-item {cursor: pointer; display: inline-flex; vertical-align: top; margin-right: 40px; height: 89px; text-align: center; -webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column; -webkit-justify-content: flex-end; justify-content: flex-end; -webkit-align-items: center; align-items: center;}
.p2-payment__block-phones-item img {display: block; margin-bottom: 10px;}
.p2-payment__block-phones-item u {flex: 0 0 auto; display: inline-block; -webkit-border-radius: 50%; border-radius: 50%; border: 1px solid #DBE2E7; background-color: #fff; padding: 2px; width: 12px; height: 12px;}
.p2-payment__block-phones-item input {position: absolute; z-index: -1; opacity: 0.01;}
.p2-payment__block-phones-item input:checked + u:before {content: ""; display: block; width: 100%; height: 100%; -webkit-border-radius: 50%; border-radius: 50%; background-color: #00AF7E;}

.p2-payment__block-phones-info {padding-bottom: 20px;}
.p2-payment__block-phones-info li {display: inline-block; vertical-align: top; padding-right: 4px;}
.p2-payment__block-phones-info span {color: #00AF7E;}

.p2-payment__block-phones-input {display: flex; align-items: center; padding-bottom: 8px;}
.p2-payment__block-phones-input .input {width: 200px !important; display: flex !important;}
.p2-payment__block-phones-input .input .prefix {flex: 0 0 auto; padding-right: 10px;}
.p2-payment__block-phones-input .input input {border: none; background: none; height: 100%; font: inherit; letter-spacing: inherit; color: inherit; width: 100%; padding: 0;}
.p2-payment__block-phones-input .p2-button {padding: 0 16px; margin-left: 17px;}
.p2-payment__block-phones-fee {padding-bottom: 2px;} 

.p2-payment__block-text {padding-top: 16px;}
.p2-payment__block-text p {padding-bottom: 16px;}

.p2-payment__alert {width: 500px; -webkit-align-items: center; align-items: center; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; border: 1px solid #E05F5F; display: flex; margin: 21px 0 47px; padding: 5px 17px 7px; color: #414750 !important;}
.p2-payment__alert i {width: 29px; height: 27px; position: relative; opacity: 0.7; flex: 0 0 auto;}
.p2-payment__alert i:before {content: ""; display: block; position: absolute; top: 0; left: 0; width: 0; height: 0; border-style: solid; border-width: 0 14.5px 27px 14.5px; border-color: transparent transparent #EC1E1E transparent;}
.p2-payment__alert i:after {content: "!"; display: block; position: absolute; top: 0; left: 0; width: 100%; text-align: center; color: #fff; font-size: 20px; line-height: 34px; font-style: normal;}
.p2-payment__alert p {font-size: 12px; line-height: 16px; padding-left: 16px;}

.p2-payment__block-finder {margin-bottom: 38px;}
.p2-payment__block-finder th, .p2-payment__block-finder td {padding-right: 17px;}
.p2-payment__block-finder-system .p2-select {width: 220px;}
.p2-payment__block-finder-currency .p2-select, .p2-payment__block-finder-wallet .p2-select {width: 75px;}
.p2-payment__block-finder-button {width: 100px;}

.p2-payment__block-exchangers-logo {width: 60px; text-align: center; padding-right: 3px;}
.p2-payment__block-exchangers-logo img {display: inline-block;}
.p2-payment__block-exchangers-name {color: #414750; font-size: 12px; line-height: 14px; width: 150px;}
.p2-payment__block-exchangers-rate {width: 105px;}
.p2-payment__block-exchangers-reserve {text-transform: uppercase; width: 114px;}
.p2-payment__block-exchangers-type {text-align: center;}
.p2-payment__block-exchangers-action {width: 104px;}
.p2-payment__block-exchangers-action .button {width: 104px;}

.p2-payment__block-cash-tabs {margin-bottom: 24px;}
.p2-payment__block-cash-tabs li {display: inline-block; vertical-align: top;}
.p2-payment__block-cash-tabs a {display: block; padding: 0 20px; height: 36px; line-height: 38px; text-decoration: none; color: #4e4d4d; text-transform: uppercase; font-size: 10px; font-weight: bold; -webkit-border-radius: 5px; border-radius: 5px;}
.p2-payment__block-cash-tabs a:hover {color: #00AF7E;}
.p2-payment li.active a {
	color: #fff !important;
	background: linear-gradient(90deg, #00AB80 0%, #00C99C 100%);
}
.p2-payment__block-cash-tabs-item:not(.active) {display: none;}
.p2-payment__block-cash-tabs-item .p2-payment__block-text {padding-top: 0;}

.p2-payment__block-cash-table {margin-bottom: 38px;}
.p2-payment__block-cash-table td {padding-bottom: 8px;}
.p2-payment__block-cash-table td:not(:last-child) {padding-right: 10px;}
.p2-payment__block-cash-table-currency {width: 184px;}
.p2-payment__block-cash-table-comission {width: 180px;}
.p2-payment__block-cash-table-time {width: 166px;}

.p2-payment__block-cash-terms p {padding-bottom: 16px;}

.p2-payment__block-cash-contacts {display: flex; color: #A6B1C1; -webkit-justify-content: space-between; justify-content: space-between;}
.p2-payment__block-cash-contacts dl:nth-child(1) {width: 253px;}
.p2-payment__block-cash-contacts dl:nth-child(2) {width: 160px;}
.p2-payment__block-cash-contacts dl:nth-child(3) {width: 277px;}
.p2-payment__block-cash-contacts dt {padding-bottom: 8px;}

.p2-payment__headalert .p2-payment__alert {margin: 0; width: 430px;}

.p2-payment__block-card {position: relative; width: 345px; height: 216px; margin: 12px 0 68px;}
.p2-payment__block-user-agreement {position: relative; width: 380px; min-height: 60px; margin: 5px 0 25px; font-size: 12px;}
.p2-payment__block-user-agreement label span {float: left; margin-top: 5px;width: 90%;}
.p2-payment__block-user-agreement label input {float: left;	margin: 6px 9px 0px 2px;}
.p2-payment__block-user-agreement label {width: 100%; min-height: 45px;	display: block;}
.p2-payment__block-user-agreement label span.address {margin-left: 28px; height:35px;}
.p2-payment__block-card-side {
	width: 100%;
	height: 100%;
	-webkit-border-radius: 15px;
	border-radius: 15px;
	border-style: solid;
	border-width: 1px;
	background-color: #fff;
}
.p2-payment__block-card.visa .p2-payment__block-card-side {border-color: #018ffe;}
.p2-payment__block-card.visa .p2-payment__block-card-heading {background-color: #018ffe;}
.p2-payment__block-card.visa .p2-payment__block-card-heading-logo {width: 61px; height: 20px; background-image: url("../images/payment/card-visa.png");}
.p2-payment__block-card.visa .p2-payment__block-card-side[data-side="b"]:before {background-color: #018ffe;}
.p2-payment__block-card.mastercard .p2-payment__block-card-side {border-color: #000000;}
.p2-payment__block-card.mastercard .p2-payment__block-card-heading {background-color: #000000;}
.p2-payment__block-card.mastercard .p2-payment__block-card-heading-logo {width: 113px; height: 20px; background-image: url("../images/payment/card-mastercard.png");}
.p2-payment__block-card.mastercard .p2-payment__block-card-side[data-side="b"]:before {background-color: #000;}
.p2-payment__block-card.mir .p2-payment__block-card-side {border-color: #026848;}
.p2-payment__block-card.mir .p2-payment__block-card-heading {background-color: #026848;}
.p2-payment__block-card.mir .p2-payment__block-card-heading-logo {width: 90px; height: 25px; background-image: url("../images/payment/card-mir-white.png"); background-size: cover;}
.p2-payment__block-card.mir .p2-payment__block-card-side[data-side="b"]:before {background-color: #026848;}
.p2-payment__block-card-side[data-side="a"] {position: relative; z-index: 2;}
.p2-payment__block-card-side[data-side="b"] {position: absolute; top: 30px; left: 92px; z-index: 1;}
.p2-payment__block-card-side[data-side="b"]:before {content: ""; display: block; position: absolute; top: 47px; width: 100%; height: 40px; left: 0;}
.p2-payment__block-card-heading {display: flex; padding: 20px 18px 17px 22px; color: #fff; -webkit-border-radius: 13px 13px 0 0; border-radius: 13px 13px 0 0; -webkit-justify-content: space-between; justify-content: space-between; -webkit-align-items: center; align-items: center;}
.p2-payment__block-card-heading-text {text-align: right; font-size: 11px; line-height: 15px; position: relative; top: 2px;}
.p2-payment__block-card.diners-club .p2-payment__block-card-side {border-color: #1c76b1;}
.p2-payment__block-card.diners-club .p2-payment__block-card-heading {background-color: white;}
.p2-payment__block-card.diners-club .p2-payment__block-card-heading-logo {width: 74px; height: 25px; background-image: url("../images/payment/card-diners-club.png");}
.p2-payment__block-card.diners-club .p2-payment__block-card-side[data-side="b"]:before {background-color: #1c76b1;}
.p2-payment__block-card.jcb .p2-payment__block-card-side {border-color: #c61a35;}
.p2-payment__block-card.jcb .p2-payment__block-card-heading {background-color: white;}
.p2-payment__block-card.jcb .p2-payment__block-card-heading-logo {width: 74px; height: 25px; background-image: url("../images/payment/card-jcb.png");}
.p2-payment__block-card.jcb .p2-payment__block-card-side[data-side="b"]:before {background-color: #c61a35;}
.p2-payment__block-card.american-express .p2-payment__block-card-side {border-color: #016fd0;}
.p2-payment__block-card.american-express .p2-payment__block-card-heading {background-color: #016fd0;}
.p2-payment__block-card.american-express .p2-payment__block-card-heading-logo {width: 84px; height: 35px; background-image: url("../images/payment/card-amex.png"); background-size: 84px 35px;}
.p2-payment__block-card.american-express .p2-payment__block-card-side[data-side="b"]:before {background-color: #016fd0;}



.p2-payment__block-card-body {padding: 11px 22px; display: flex; -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap;}
.p2-payment__block-card-field-label span {color: #E05F5F;}
.p2-payment__block-card-field input[type="text"] {width: 160px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; position: relative;}
.p2-payment__block-card-field input[type="text"].error {background-color: #ffa5a5; border-color: #E05F5F !important;}

.p2-payment__block-card-field {padding-bottom: 16px;}
.p2-payment__block-card-field.number {width: 100%;}
.p2-payment__block-card-field.number .p2-payment__block-card-field-value {display: flex; -webkit-justify-content: space-between; justify-content: space-between;}
.p2-payment__block-card-field.number input {width: 68px !important; text-align: center;}
.p2-payment__block-card-field.name {width: 134px; margin-right: 10px;}
.p2-payment__block-card-field.name input {width: 164px;}
.p2-payment__block-card-field.valid {width: 157px;}
.p2-payment__block-card-field.valid .p2-payment__block-card-field-value {display: flex; -webkit-justify-content: space-between; justify-content: space-between;}
.p2-payment__block-card-field.valid .p2-select:first-child {width: 70px;}
.p2-payment__block-card-field.valid .p2-select:last-child {width: 80px;}
.p2-payment__block-card-field.cvv {position: absolute; width: 51px; bottom: 20px; right: 20px;}
.p2-payment__block-card-field.cvv input {width: 100%; text-align: center;}

.p2-payment__block-card-tip {position: absolute; white-space: nowrap; bottom: -1px; margin-left: 37px; left: 100%;}
.p2-payment__block-card-tip span {color: #E05F5F;}

.p2-payment__block-submit {display: flex; -webkit-justify-content: space-between; justify-content: space-between; width: 440px; -webkit-align-items: center; align-items: center;}
.p2-payment__block-submit-back {font-size: 11px;}
.p2-payment__block-submit .p2-button {height: 40px; line-height: 40px; padding: 0 16px;}
.p2-payment__block-submit-continue {position: relative;}

.p2-payment__verify-title {padding-bottom: 20px; font-weight: bold; font-size: 24px;}
.p2-payment__verify-title.green {color: #00AF7E;}
.p2-payment__verify-title.red {color: #E05F5F;}
.p2-payment__verify-subtitle {font-size: 22px; line-height: 26px;}

.p2-payment__echelon1-var {border-bottom: 1px solid #DBE2E7; padding-bottom: 33px; margin-bottom: 26px;}
.p2-payment__echelon1-var-title {text-transform: uppercase; color: #c4c4c4; font-size: 10px; line-height: 14px; margin: -11px 0 29px;}
.p2-payment__echelon1-var-body {display: flex;}
.p2-payment__echelon1-var-body-radio {margin: 57px 36px 0 0;}
.p2-payment__echelon1-var-body-radio input {position: absolute; z-index: -1; opacity: 0.01;}
.p2-payment__echelon1-var-body-radio u {display: block; width: 12px; height: 12px; border: 2px solid #C4C4C4; -webkit-border-radius: 50%; border-radius: 50%; cursor: pointer;}
.p2-payment__echelon1-var-body-radio input:checked + u {border-color: #00AF7E;}
.p2-payment__echelon1-var-body-radio input:checked + u:before {content: ""; display: block; width: 8px; height: 8px; margin: 2px; background-color: #00AF7E; -webkit-border-radius: 50%; border-radius: 50%;}
.p2-payment__echelon1-var-body-examples {display: flex; -webkit-align-items: flex-start; align-items: flex-start;}
.p2-payment__echelon1-var-body-examples img {display: block;}
.p2-payment__echelon1-var-body-examples-item p {/*text-align: center;*/ width: 128px; color: #4e4d4d; font-size: 10px; line-height: 12px; text-transform: uppercase; font-weight: bold; white-space: nowrap; padding-top: 15px;}
.p2-payment__echelon1-var-body-examples-item p.colspan span {display: block; width: 294px;}
.p2-payment__echelon1-var-body-examples-item p span.word-wrapped {white-space: initial; word-wrap: initial;}
.p2-payment__echelon1-var img + img {display: none;}
.p2-payment__echelon1-var.selected img {display: none;}
.p2-payment__echelon1-var.selected img + img {display: block;}
.p2-payment__echelon1-var.selected table img {display: block;}
.p2-payment__echelon1-var table img {display: block;}
.p2-payment__echelon1-var.selected table img:first-child {height: 80px; display: block; margin: auto;}
.p2-payment__echelon1-var table img:first-child {height: 80px; display: block; margin: auto;}
.p2-payment__echelon1-var table {border: 1px solid #DBE2E7;}
.p2-payment__echelon1-var table td {border-right: 1px solid #DBE2E7;}
.p2-payment__echelon1-var table tr td {padding: 0 10px 10px 10px;}
.p2-payment__echelon1-var table tr:first-child td {padding: 20px 20px 0 20px;}

.p2-payment__echelon1-var-form {padding: 42px 0 0 52px; display: none;}
.p2-payment__echelon1-var-form-fields {display: flex;}
.p2-payment__echelon1-var-form-field {width: 88px; height: 88px; position: relative; border: 1px solid #00AF7E; background: url("../images/payment/vars/placeholder.png") no-repeat center center; margin-right: 19px; flex: 0 0 auto;}
.p2-payment__echelon1-var-form-field input {position: absolute; top: 0; left: 0; width: 100%; height: 100%; opacity: 0.01; padding: 0; margin: 0; cursor: pointer; z-index: 2;}
.p2-payment__echelon1-var-form-text {font-size: 11px; line-height: 1.2em; color: #A6B1C1; flex: 1 1 auto; padding-left: 12px;}
.p2-payment__echelon1-var-form-submit {width: 100%; padding-top: 29px;}
.p2-payment__echelon1-var-form-submit button, .p2-payment__echelon1-var-form-submit a {width: 180px !important;}

.p2-payment__echelon2-field {display: flex; -webkit-align-items: center; align-items: center; margin-bottom: 29px;}
.p2-payment__echelon2-field-photo {margin-right: 48px; flex: 0 0 auto;}
.p2-payment__echelon2-field-photo img {display: block;}
.p2-payment__echelon2-field-photo.uploader {width: 144px; height: 130px; position: relative; border: 1px solid #00AF7E; background: url("../images/payment/vars/placeholder-big.png") no-repeat center center;}
.p2-payment__echelon2-field-photo.uploader input {position: absolute; top: 0; left: 0; width: 100%; height: 100%; opacity: 0.01; padding: 0; margin: 0; cursor: pointer; z-index: 2;}
.p2-payment__echelon2-field-info {font-size: 11px; line-height: 1.2em; color: #A6B1C1;}

.p2-payment__echelon2-submit {padding-top: 6px; border-bottom: 1px solid #DBE2E7; padding-bottom: 36px; margin-bottom: 28px;}

.p2-payment__block-finder-terminal-region1, .p2-payment__block-finder-terminal-region2 {width: 190px;}
.p2-payment__block-finder-terminal-region1 .p2-select, .p2-payment__block-finder-terminal-region2 .p2-select {width: 160px;}
.p2-payment__block-terminal-region1 {width: 110px; padding-right: 8px;color: #414750;font-size: 12px;line-height: 14px;}
.p2-payment__block-terminal-region2 {width: 110px; padding-right: 8px;color: #414750;font-size: 12px;line-height: 14px;}
.p2-payment__block-terminal-address {width: 300px; padding-right: 8px;}
.p2-payment__block-terminal-action {width: 104px;}
.p2-payment__block-terminal-action .button {width: 104px;}
.p2-payment__additional-block-load {text-align: center; font-size: 14px; padding-bottom: 4px;}
.p2-payment__additional-block-load  a{color: #00AF7E;font-size: 13px;border-bottom: 1px dashed #00AF7E;text-decoration: none;}

#google-pay {margin: 24px 0;}