:root {
  --red: #e05f5f;
  --grey: #6c7583;
  --black: #414750;
  --green: #00af7e;
  --divider: #dbe2e7;
  --lightgrey: #f6f7f9;
  --blocktabs: #edeff2;
}

@keyframes x-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*
* РЎРўРР›Р РўР•РљРЎРўРђ
*/
.x-main img {
  display: block;
}
.x-main a:not([class]) {
  color: var(--green);
  text-decoration: none;
}
.x-main a:not([class]):hover {
  text-decoration: underline;
}
.x-main button {
  font-family: inherit;
  cursor: pointer;
}
.x-main h1 {
  font-weight: normal;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.03em;
  color: var(--black);
}
.x-main h2,
#panel .x-main h2 {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.03em;
  color: var(--black);
}
.x-typo-caption {
  font-size: 10px;
  line-height: 12px;
  text-transform: uppercase;
  color: var(--grey);
}
.x-typo-caption a {
  text-decoration: none;
}
.x-typo-caption a:hover {
  text-decoration: underline;
}
.x-typo-caption a:not([class]) {
  color: currentColor;
}
.x-typo-caption b {
  font-weight: 500;
}
.x-typo-upper {
  text-transform: uppercase;
}
.x-typo-primary {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.03em;
  color: var(--black);
}
.x-typo-primary p {
  margin: 6px 0;
}
.x-typo-secondary {
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.03em;
  color: var(--black);
}
.x-typo-secondary b {
  font-weight: 500;
}
.x-typo-secondary strong {
  font-weight: bold;
}
.x-typo-secondary p {
  margin: 8px 0;
}
.x-typo-secondary ul:not([class]) {
  color: var(--grey);
}
.x-typo-secondary li {
  margin: 8px 0;
  padding-left: 17px;
  position: relative;
}
.x-typo-secondary li:before {
  content: '';
  display: block;
  position: absolute;
  top: 8px;
  left: 0;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: var(--green);
}
.x-typo-tertiary {
  font-size: 12px;
  line-height: 16px;
  letter-spacing: -0.03em;
  color: var(--grey);
}
.x-typo-tertiary b {
  font-weight: 500;
  letter-spacing: -0.1px;
}
.x-typo-tertiary ul:not([class]) {
  color: var(--grey);
}
.x-typo-tertiary li {
  margin: 4px 0;
  padding-left: 12px;
  position: relative;
}
.x-typo-tertiary li:before {
  content: '';
  display: block;
  position: absolute;
  top: 6px;
  left: 0;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: var(--green);
}
.x-typo-primary p:first-child,
.x-typo-secondary p:first-child {
  margin-top: 0;
}
.x-typo-primary p:last-child,
.x-typo-secondary p:last-child {
  margin-bottom: 0;
}
.x-color-black {
  color: var(--black) !important;
}
.x-color-grey {
  color: var(--grey) !important;
}
.x-color-red {
  color: var(--red) !important;
}
.x-color-green {
  color: var(--green) !important;
}
.x-color-white {
  color: #fff !important;
}

.x-align-center {
  text-align: center;
}
.x-align-right {
  text-align: right;
}

.x-link-tdn {
  text-decoration: none;
}

.x-hr-vertical {
  width: 1px;
  background-color: #fff;
}

/*
* Р‘РђР—Рђ
*/
.x-layout {
  min-height: 100%;
  background-color: #f3f7f9;
}
.x-layout__header-logo {
  display: flex;
  align-items: center;
}
.x-layout__header-logo svg:first-child {
  margin-right: 12px;
}
.x-layout__header-logo svg:last-child {
  margin-bottom: 4px;
}
.x-layout__header.-skin-light .x-layout__header-container {
  padding-top: 32px;
  padding-bottom: 24px;
}
.x-layout__header.-skin-light .x-layout__header-logo path:not([fill]) {
  fill: #113644;
}
.x-layout__header.-skin-dark {
  background: linear-gradient(270deg, #003d4e 0%, #002534 100.28%);
  height: 84px;
  margin-bottom: 26px;
  padding-top: 28px;
  box-sizing: border-box;
}
.x-layout__header.-skin-dark .x-layout__header-container {
  margin: auto;
  width: 100%;
  padding: 0 24px;
  box-sizing: border-box;
  max-width: 1032px;
}
.x-layout__header.-skin-dark .x-layout__header-logo path:not([fill]) {
  fill: #fff;
}
.x-layout__footer {
  font-weight: 300;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: -0.2px;
  color: var(--grey);
  padding: 32px;
}
.x-layout__footer p {
  padding-top: 16px;
}
.x-layout__footer a {
  color: currentColor;
  transition: color 150ms;
  text-decoration: none;
}
.x-layout__footer a:hover {
  color: var(--green);
}
@media only screen and (min-width: 768px) {
  .x-layout__header.-skin-light .x-layout__header-container {
    padding-left: 32px;
    padding-right: 32px;
  }
  .x-layout__footer {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }
}
@media only screen and (max-width: 767px) {
  .x-layout__header.-skin-light .x-layout__header-container {
    padding-left: 24px;
    padding-right: 24px;
  }
  .x-layout__footer {
    padding: 16px 24px 30px;
  }
  .x-layout__footer-row {
    padding-bottom: 2px;
  }
}

.x-layout .x-main,
.reg2__section .x-main {
  float: none;
  width: auto;
  padding: 0;
  border-left: 0;
  margin: 0;
}
.x-layout .x-main {
  background: #ffffff;
  box-shadow: 0px 4px 8px rgba(17, 27, 37, 0.0479506);
  max-width: 772px;
  margin: auto;
}

.x-header {
  background: linear-gradient(270deg, #003d4e 0%, #002534 100.28%);
  color: #fff;
}
.x-header__container {
  margin: auto;
  width: 984px;
  padding-top: 14px;
}
.x-header__logo img {
  display: block;
  margin-left: -2px;
}
.x-header__subnav {
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: -0.03em;
}
.x-header__subnav-link {
  transition: opacity 150ms;
  color: #fff;
  text-decoration: none;
}
.x-header__subnav-link:hover {
  opacity: 0.75;
}
.x-header__subnav-link.-current {
  opacity: 0.5;
}
.x-header__subnav-link + .x-header__subnav-link {
  margin-left: 18px;
}
.x-header__subnav-link-badge {
  display: inline-block;
  vertical-align: 1px;
  min-width: 21px;
  height: 21px;
  box-sizing: border-box;
  text-align: center;
  line-height: 21px;
  color: #fff;
  font-weight: 500;
  font-size: 13px;
  border-radius: 5px;
  background-color: var(--green);
  position: relative;
  top: 1px;
  margin: 0 -1px 0 6px;
  padding: 0 3px;
}
.x-header__profile {
  position: relative;
  margin-right: -14px;
}
.x-header__profile-handle {
  border: none;
  background: none;
  display: flex;
  align-items: center;
  color: #fff;
  font-family: inherit;
  cursor: pointer;
}
.x-header__profile-handle img {
  flex: 0 0 auto;
}
.x-header__profile-handle b {
  white-space: nowrap;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: -0.03em;
  padding: 0 5px 0 8px;
}
.x-header__profile-dropdown {
  display: block;
  position: absolute;
  z-index: 500;
  top: 100%;
  right: 0;
  background-color: #fff;
  border: 1px solid var(--divider);
  padding: 15px 20px 15px;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.03em;
  border-radius: 8px;
  margin: 18px -6px 0 0;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-16px);
  transition-property: opacity, visibility, transform;
  transition-duration: 200ms;
  white-space: nowrap;
}
.x-header__profile-dropdown.-open {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
.x-header__profile-dropdown-link {
  padding: 4px 0;
}
.x-header__profile-dropdown-link a {
  transition: color 150ms;
  text-decoration: none;
  color: var(--black);
}
.x-header__profile-dropdown-link.-logout {
  padding-top: 24px;
}
.x-header__profile-dropdown-link.-logout a {
  color: var(--red);
}
.x-header__profile-dropdown-link a:hover {
  color: var(--green);
}
.x-header__menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid rgba(219, 226, 231, 0.1);
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.03em;
  margin-top: 14px;
  padding: 16px 0 20px;
}
.x-header__menu a {
  transition: color 150ms;
  color: var(--green);
  text-decoration: none;
}
.x-header__menu a:hover,
.x-header__menu a[data-current] {
  color: #fff;
}
.x-header__menu i {
  width: 1px;
  height: 20px;
  flex: 0 0 auto;
  background-color: var(--divider);
  opacity: 0.1;
}

.x-main {
  float: left;
  width: 724px;
  padding: 33px 0 92px 27px;
  border-left: 1px solid var(--divider);
  margin-left: -1px;
  letter-spacing: -0.03em;
}

.x-block {
  position: relative;
}
.x-block.-gap-4 {
  margin-bottom: 4px;
}
.x-block.-gap-8 {
  margin-bottom: 8px;
}
.x-block.-gap-10 {
  margin-bottom: 10px;
}
.x-block.-gap-12 {
  margin-bottom: 12px;
}
.x-block.-gap-16 {
  margin-bottom: 16px;
}
.x-block.-gap-20 {
  margin-bottom: 20px;
}
.x-block.-gap-24 {
  margin-bottom: 24px;
}
.x-block.-gap-28 {
  margin-bottom: 28px;
}
.x-block.-gap-30 {
  margin-bottom: 30px;
}
.x-block.-gap-32 {
  margin-bottom: 32px;
}
.x-block.-gap-36 {
  margin-bottom: 36px;
}
.x-block.-gap-40 {
  margin-bottom: 40px;
}
.x-block.-gap-44 {
  margin-bottom: 44px;
}
.x-block.-gap-48 {
  margin-bottom: 48px;
}
.x-block.-gap-52 {
  margin-bottom: 52px;
}
.x-block.-gap-56 {
  margin-bottom: 56px;
}
.x-block.-gap-68 {
  margin-bottom: 68px;
}
.x-block.-gutter-24 {
  padding: 0 24px;
}
.x-block:empty {
  height: 1px;
  margin-top: -1px;
}

.x-block__decorator {
  position: absolute;
  top: 0;
  right: 0;
}
.x-block__decorator img {
  display: block;
}

.x-bg-bar {
  background-color: #f6f7f9;
  border-radius: 8px;
  padding: 24px;
}
.x-bg-bar__limited {
  overflow: hidden;
  height: 2000px;
  max-height: 188px;
  transition: max-height 200ms;
}
.x-bg-bar__fader {
  margin-top: 8px;
  position: relative;
}
.x-bg-bar__fader:before,
.x-bg-bar__fader:after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 100%;
  height: 92px;
  background: linear-gradient(180deg, rgba(246, 247, 249, 0) 0%, #f6f7f9 100%);
  user-select: none;
  transition-property: opacity, visibility;
  transition-duration: 200ms;
}
.x-bg-bar__fader.-is-hidden:before,
.x-bg-bar__fader.-is-hidden:after {
  opacity: 0;
  visibility: hidden;
}
.x-bg-bar.-red {
  background-color: rgba(224, 95, 95, 0.1);
}
.x-bg-bar.-green {
  background-color: rgba(0, 175, 126, 0.1);
}
.x-bg-bar.-dark {
  background-color: #f2f7f9;
}

.x-divider {
  height: 1px;
  background-color: var(--divider);
}
.x-divider.-vertical {
  width: 1px;
}
.x-divider.-vertical.-size-xs {
  height: 11px;
}
.x-divider.-vertical.-size-m {
  height: 20px;
}

.x-button {
  font-family: inherit;
}
a.x-button,
label.x-button {
  display: inline-flex;
  vertical-align: top;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  text-decoration: none;
}
.x-button input[type='file'] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.01;
  cursor: pointer;
}
.x-button.-skin-linear {
  display: inline-block;
  vertical-align: top;
  text-decoration: none;
  border: 1px solid var(--divider);
  border-radius: 4px;
  box-sizing: border-box;
  height: 44px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  color: var(--black);
  background: none;
  padding: 0 38px;
  letter-spacing: -0.03em;
}
.x-button.-skin-default {
  border: none;
  border-radius: 4px;
  box-sizing: border-box;
  height: 44px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  color: #fff;
  background: var(--green);
  padding: 0 38px;
  letter-spacing: -0.03em;
}
.x-button.-skin-red {
  border: none;
  border-radius: 4px;
  box-sizing: border-box;
  height: 44px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  color: #fff;
  background: var(--red);
  padding: 0 38px;
  letter-spacing: -0.03em;
}
.x-button.-is-stretching {
  width: 100%;
}
.x-button.-size-s {
  height: 36px;
}
.x-button[disabled] {
  background: var(--divider);
  color: rgba(108, 117, 131, 0.5);
  cursor: default;
}
a.x-button {
  line-height: 40px;
}

.x-inline-button {
  transition: color 150ms;
  border: none;
  background: none;
  display: inline-flex;
  align-items: center;
  color: var(--green);
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.03em;
  padding: 0;
  text-decoration: none;
}
.x-inline-button img {
  flex: 0 0 auto;
  margin-right: 6px;
}
/*.x-inline-button img:last-child {
  margin-right: 0;
}*/
.x-inline-button.-skin-black {
  color: var(--black);
}
.x-inline-button.-skin-upper-black {
  font-size: 12px;
  line-height: 16px;
  letter-spacing: -0.01em;
  color: var(--black);
  text-transform: uppercase;
}
.x-inline-button.-skin-upper-black img {
  margin-right: 8px;
}
.x-inline-button.-skin-upper-black:hover {
  color: var(--green);
}
.x-inline-button.-skin-red {
  color: var(--red);
}

/*
* РЎР•РўРљРђ
*/
.x-grid-row {
  display: flex;
}
.x-grid-row.-wrap {
  flex-wrap: wrap;
}
.x-grid-row.-align-justify {
  justify-content: space-between;
}
.x-grid-row.-align-center {
  justify-content: center;
}
.x-grid-row.-valign-middle {
  align-items: center;
}
.x-grid-row.-valign-baseline {
  align-items: baseline;
}
.x-grid-row.-gap-0 > .x-grid-cell + .x-grid-cell {
  margin-left: -1px;
}
.x-grid-row.-gap-2 {
  margin-left: -2px;
  margin-right: -2px;
}
.x-grid-row.-gap-2 > .x-grid-cell {
  padding-left: 2px;
  padding-right: 2px;
}
.x-grid-row.-gap-4 {
  margin-left: -4px;
  margin-right: -4px;
}
.x-grid-row.-gap-4 > .x-grid-cell {
  padding-left: 4px;
  padding-right: 4px;
}
.x-grid-row.-gap-6 {
  margin-left: -6px;
  margin-right: -6px;
}
.x-grid-row.-gap-6 > .x-grid-cell {
  padding-left: 6px;
  padding-right: 6px;
}
.x-grid-row.-gap-8 {
  margin-left: -8px;
  margin-right: -8px;
}
.x-grid-row.-gap-8 > .x-grid-cell {
  padding-left: 8px;
  padding-right: 8px;
}
.x-grid-row.-gap-10 {
  margin-left: -10px;
  margin-right: -10px;
}
.x-grid-row.-gap-10 > .x-grid-cell {
  padding-left: 10px;
  padding-right: 10px;
}
.x-grid-row.-gap-12 {
  margin-left: -12px;
  margin-right: -12px;
}
.x-grid-row.-gap-12 > .x-grid-cell {
  padding-left: 12px;
  padding-right: 12px;
}
.x-grid-row.-gap-14 {
  margin-left: -14px;
  margin-right: -14px;
}
.x-grid-row.-gap-14 > .x-grid-cell {
  padding-left: 14px;
  padding-right: 14px;
}
.x-grid-row.-gap-16 {
  margin-left: -16px;
  margin-right: -16px;
}
.x-grid-row.-gap-16 > .x-grid-cell {
  padding-left: 16px;
  padding-right: 16px;
}
.x-grid-row.-gap-24 {
  margin-left: -24px;
  margin-right: -24px;
}
.x-grid-row.-gap-24 > .x-grid-cell {
  padding-left: 24px;
  padding-right: 24px;
}
.x-grid-row.-gap-26 {
  margin-left: -26px;
  margin-right: -26px;
}
.x-grid-row.-gap-26 > .x-grid-cell {
  padding-left: 26px;
  padding-right: 26px;
}

.x-grid-cell {
  box-sizing: border-box;
}
.x-grid-cell.-size-auto {
  flex: 0 0 auto;
}
.x-grid-cell.-size-fill {
  flex: 1 1 auto;
}
.x-grid-cell.-size-1 {
  width: 8.333333%;
}
.x-grid-cell.-size-2 {
  width: 16.666667%;
}
.x-grid-cell.-size-3 {
  width: 25%;
}
.x-grid-cell.-size-4 {
  width: 33.333333%;
}
.x-grid-cell.-size-5 {
  width: 41.666667%;
}
.x-grid-cell.-size-6 {
  width: 50%;
}
.x-grid-cell.-size-7 {
  width: 58.333333%;
}
.x-grid-cell.-size-8 {
  width: 66.666667%;
}
.x-grid-cell.-size-9 {
  width: 75%;
}
.x-grid-cell.-size-10 {
  width: 83.333333%;
}
.x-grid-cell.-size-11 {
  width: 91.666667%;
}
.x-grid-cell.-size-12 {
  width: 100%;
}

.x-size-default {
  width: 320px;
}

/*
* РўРЈР›РўРРџР«
*/
.tippy-box[data-theme='default'] {
  background-color: var(--black);
  border-radius: 8px;
}
.tippy-box[data-theme='interactive'] .tippy-arrow {
  color: var(--black);
}
.tippy-box[data-theme='interactive'] .tippy-content {
  padding: 20px 24px;
}

.tippy-box[data-theme='default'] {
  background-color: var(--black);
  border-radius: 8px;
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.12);
}
.tippy-box[data-theme='default'] .tippy-arrow {
  color: var(--black);
}
.tippy-box[data-theme='default'] .tippy-content {
  padding: 13px 16px;
  font-size: 12px;
  line-height: 16px;
  user-select: none;
}

.tippy-arrow:before {
  border-color: transparent !important;
  background-repeat: no-repeat;
}
.tippy-box[data-placement^='top'] > .tippy-arrow:before {
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='12px' height='7px' viewBox='0 0 12 7' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3EPath%3C/title%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='Group' transform='translate(6.000000, 3.500000) scale(1, -1) translate(-6.000000, -3.500000) ' fill='%23414750' fill-rule='nonzero'%3E%3Cpath d='M4.4,1.13333 C5.2,0.0666666 6.8,0.066667 7.6,1.13333 L12,7 L0,7 L4.4,1.13333 Z' id='Path'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-position: bottom center;
}
.tippy-box[data-placement^='bottom'] > .tippy-arrow:before {
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='12px' height='7px' viewBox='0 0 12 7' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3EPath%3C/title%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='Group' fill='%23414750' fill-rule='nonzero'%3E%3Cpath d='M4.4,1.13333 C5.2,0.0666666 6.8,0.066667 7.6,1.13333 L12,7 L0,7 L4.4,1.13333 Z' id='Path'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-position: top center;
}
.tippy-box[data-placement^='left'] > .tippy-arrow:before {
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='8px' height='13px' viewBox='0 0 8 13' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3EPath%3C/title%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='Group' transform='translate(4.000000, 6.500000) rotate(-270.000000) translate(-4.000000, -6.500000) translate(-2.000000, 3.000000)' fill='%23414750' fill-rule='nonzero'%3E%3Cpath d='M4.4,1.13333 C5.2,0.0666666 6.8,0.066667 7.6,1.13333 L12,7 L0,7 L4.4,1.13333 Z' id='Path'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-position: right center;
}
.tippy-box[data-placement^='right'] > .tippy-arrow:before {
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='8px' height='13px' viewBox='0 0 8 13' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3EPath%3C/title%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='Group' transform='translate(4.000000, 6.500000) scale(-1, 1) rotate(-270.000000) translate(-4.000000, -6.500000) translate(-2.000000, 3.000000)' fill='%23414750' fill-rule='nonzero'%3E%3Cpath d='M4.4,1.13333 C5.2,0.0666666 6.8,0.066667 7.6,1.13333 L12,7 L0,7 L4.4,1.13333 Z' id='Path'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-position: left center;
}

/*
* РњРћР”РђР›РљР
*/
.x-modal {
  display: none;
  white-space: nowrap;
  box-sizing: border-box;
  padding: 24px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  position: fixed;
  z-index: 5000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  text-align: center;
}
.x-modal:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}
.x-modal__body {
  display: inline-block;
  vertical-align: middle;
  white-space: normal;
  background-color: #fff;
  border-radius: 8px;
  padding: 44px 48px;
  position: relative;
  box-sizing: border-box;
  text-align: left;
}
.x-modal__body-close {
  display: block;
  position: absolute;
  top: 15px;
  right: 9px;
  border: none;
  background: none;
  font-size: 0;
  line-height: 0;
}
.x-modal__body.-size-s {
  width: 488px;
}
.x-modal__body.-size-s-plus {
  width: 512px;
}
.x-modal__body.-size-m {
  width: 600px;
}
.x-modal__body.-size-m-plus {
  width: 664px;
}
.x-modal__body.-size-l {
  width: 728px;
}
.x-modal.-is-open {
  display: block;
}

/*
* Р¤РћР РњР«
*/
.x-field-label {
  font-size: 12px;
  line-height: 16px;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: var(--grey);
  margin-bottom: 8px;
  /*white-space: nowrap;*/
}
.x-field-label:last-child {
  margin-bottom: 0;
}

.x-field {
  display: flex;
  align-items: center;
  width: 100%;
  height: 40px;
  box-sizing: border-box;
  border: 1px solid var(--divider);
  background: #fff;
  text-align: left;
  padding: 0 15px;
  margin: 0;
  position: relative;
}
.x-field select {
  display: block;
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  opacity: 0.01;
}
.x-field select ~ .x-field__input {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.x-field .popup {
  left: -1px;
  right: -1px;
  width: auto;
}
.x-field__input {
  flex: 1 1 auto;
  width: 100%;
  font-family: inherit;
  font-size: 14px;
  line-height: 38px;
  font-weight: 500;
  letter-spacing: -0.03em;
  border: none;
  background: none !important;
  color: var(--black);
}
.x-field__input.-size-auto {
  flex: 0;
}
.x-field__input[disabled] {
  color: var(--grey) !important;
}
.x-field__icon {
  flex: 0 0 auto;
  margin-left: 8px;
}
.x-field__caption {
  padding-top: 8px;
  color: var(--grey);
}
.x-field.-is-active {
  border-color: var(--green);
}
.x-field.-is-invalid {
  border-color: var(--red);
}
.x-field.-is-disabled {
  background-color: rgba(219, 226, 231, 0.3);
}
.x-field.-is-disabled .x-field__input {
  color: var(--grey) !important;
}
.x-field.-is-disabled .x-field__icon {
  opacity: 0.7;
}
.x-field.-size-auto {
  flex: 0 0 auto;
}
.x-field.-size-day {
  width: 92px;
}
.x-field.-size-postal {
  width: 116px;
}
.x-field.-size-month {
  width: 120px;
}
.x-field.-size-country {
  width: 172px;
}
.x-field.-size-country-small {
  width: 140px;
}
.x-field.-size-phone {
  width: 200px;
}
.x-field.-size-phone-small {
  width: 181px;
}
.x-field.-size-code {
  width: 228px;
}
.x-field.-size-default {
  width: 320px;
}
.x-field.-size-default-double {
  width: 660px;
}
.x-field.-with-loader:after {
  content: '';
  display: block;
  position: absolute;
  top: 11px;
  right: 15px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 2px solid var(--grey);
  border-top-color: transparent;
  box-sizing: border-box;
  animation: x-spin linear infinite 750ms;
}
.x-field.-with-loader .x-field__icon {
  visibility: hidden;
}

.x-control {
  display: inline-flex;
  vertical-align: top;
  position: relative;
  cursor: pointer;
}
.x-control input {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  opacity: 0.01;
  z-index: -1;
}
.x-control__cover {
  flex: 0 0 auto;
  position: relative;
  box-sizing: border-box;
  width: 20px;
  height: 20px;
  border: 1px solid rgba(108, 117, 131, 0.3);
  margin-right: 8px;
  background-color: #fff;
}
.x-control input[type='radio'] + .x-control__cover {
  border-radius: 50%;
}
.x-control input[type='radio']:checked + .x-control__cover {
  border-color: var(--green);
}
.x-control input[type='radio']:checked + .x-control__cover:before {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background-color: var(--green);
  width: 8px;
  height: 8px;
}
.x-control input[type='checkbox']:checked + .x-control__cover {
  border-color: var(--green);
  background-color: var(--green);
  background-image: url("data:image/svg+xml,%3Csvg width='9' height='7' viewBox='0 0 9 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.44734 2.625L3.27273 4.32659L7.55266 0H8.08731C8.59137 0 9 0.391751 9 0.875C9 1.10706 8.90384 1.32962 8.73268 1.49372L3.27273 7L0.267322 4.11872C-0.0891073 3.77701 -0.0891073 3.22299 0.267322 2.88128C0.438485 2.71719 0.670633 2.625 0.912694 2.625H1.44734Z' fill='white'/%3E%3C/svg%3E%0A");
  background-position: 4px 6px;
  background-repeat: no-repeat;
}
.x-control__label {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.04em;
  color: var(--black);
}

.x-switcher {
  display: inline-block;
  vertical-align: middle;
  width: 52px;
  height: 28px;
  border-radius: 14px;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  cursor: pointer;
}
.x-switcher input {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0.01;
}
.x-switcher__bg {
  display: block;
  width: 100%;
  height: 100%;
  background-color: var(--divider);
  transition: background-color 150ms;
}
.x-switcher__pip {
  display: block;
  position: absolute;
  top: 3px;
  left: 3px;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
  transition: transform 150ms;
}
.x-switcher input:checked ~ .x-switcher__bg {
  background-color: var(--green);
}
.x-switcher input:checked ~ .x-switcher__pip {
  transform: translateX(24px);
}

/*
* Р­Р›Р•РњР•РќРўР«
*/
.x-checklist li {
  padding-left: 32px;
  position: relative;
  margin: 20px 0;
}
.x-checklist li:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  background-image: url('../images/x/progress-success.svg');
}

.x-details-table th,
.x-details-table td {
  padding-top: 4px;
  padding-bottom: 4px;
}
.x-details-table th {
  text-transform: uppercase;
  text-align: left;
  font-weight: normal;
  color: var(--grey);
}
.x-details-table td {
  text-align: right;
  font-weight: 500;
  padding-left: 42px;
}

.x-card {
  position: relative;
  width: 464px;
  padding: 316px 0 0 160px;
}
.x-card__side {
  position: absolute;
  box-sizing: border-box;
  background-color: #fff;
  border: 2px solid var(--divider);
  border-radius: 8px;
  width: 464px;
  height: 264px;
}
.x-card__side.-front {
  top: 0;
  left: 0;
  z-index: 2;
  padding: 27px 30px;
}
.x-card__side.-back {
  top: 53px;
  right: 0;
  z-index: 1;
  padding: 158px 30px 0 334px;
}
.x-card__side.-back:before {
  content: '';
  display: block;
  position: absolute;
  top: 30px;
  left: 0;
  right: 0;
  height: 64px;
  background-color: var(--divider);
}
.x-card__hint {
  padding-top: 13px;
}

.x-tabs__section {
  display: none;
}
.x-tabs__section.-active {
  display: block;
}

.x-big-tabs {
  display: flex;
  border-bottom: 1px solid var(--divider);
}
.x-big-tabs__tab {
  width: 100%;
  flex: 1 1 auto;
  text-align: center;
  border: none;
  background: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.03em;
  color: var(--grey);
  padding: 15px 0;
}
.x-big-tabs__tab img {
  display: inline-block;
  vertical-align: -3px;
}
.x-big-tabs__tab.-active {
  position: relative;
  color: var(--green);
}
.x-big-tabs__tab.-active:after {
  content: '';
  display: block;
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 3px;
  border-radius: 2px;
  background-color: var(--green);
}
.x-big-tabs__tab.-active.-completed {
  color: var(--black);
}

.x-small-tabs {
  display: flex;
  border-bottom: 1px solid var(--divider);
  text-transform: uppercase;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: -0.01em;
  position: relative;
}
.x-small-tabs__tab {
  color: var(--grey);
  padding-bottom: 13px;
  border-bottom: 3px solid transparent;
  margin-bottom: -1px;
  text-decoration: none;
}
.x-small-tabs__tab:hover {
  color: var(--green);
  text-decoration: none;
}
.x-small-tabs__tab.-active {
  color: var(--black);
  border-bottom-color: var(--black);
}
.x-small-tabs__addon {
  flex: 1 1 auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  margin-top: -4px;
}
.x-small-tabs.-align-justify {
  justify-content: space-between;
}
.x-small-tabs.-align-left .x-small-tabs__tab {
  margin-right: 32px;
}

.x-apple-tabs__body {
  display: inline-flex;
  border-radius: 6px;
  background-color: var(--blocktabs);
  padding: 2px;
}
.x-apple-tabs__button {
  height: 36px;
  border-radius: 4px;
  text-transform: uppercase;
  text-align: center;
  line-height: 36px;
  padding: 0 20px;
  text-decoration: none;
  border: none;
  background: none;
  color: var(--black);
  font-size: 12px;
  font-weight: 500;
  letter-spacing: -0.01em;
}
.x-apple-tabs__button.-is-current {
  background-color: #fff;
}

.x-doc-uploader {
  display: flex;
  align-items: center;
  padding: 27px 0;
  position: relative;
}
.x-doc-uploader.-valign-center {
  align-items: center;
}
.x-doc-uploader__adder {
  position: absolute;
  bottom: 27px;
  left: 0;
}
.x-doc-uploader__group {
  display: flex;
  align-items: center;
  flex: 1 1 auto;
}
.x-doc-uploader__icon {
  flex: 0 0 auto;
  margin: 0 24px 0 16px;
}
.x-doc-uploader__preview {
  flex: 0 0 auto;
  margin-right: 20px;
}
.x-doc-uploader__title {
  flex: 1 1 auto;
  max-width: 540px;
}
.x-doc-uploader__hint {
  width: 292px;
  flex: 0 0 auto;
  margin-left: 16px;
}

.x-doc {
  width: 148px;
  height: 112px;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
}
.x-doc img:first-child {
  display: block;
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  width: 150%;
  height: auto;
  transform: translate(-50%, -50%);
  filter: blur(16px);
}
.x-doc img:last-child {
  display: block;
  position: relative;
  z-index: 2;
  height: 100%;
  margin: auto;
}

.x-faq__question {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border: none;
  background: none;
  text-align: left;
  padding: 19px 0;
}
.x-faq__answer {
  display: none;
  margin-top: -7px;
  padding: 0 28px 23px 0;
}
.x-faq.-is-open .x-faq__question {
  color: var(--green);
}
.x-faq.-is-open .x-faq__question img {
  transform: rotate(180deg);
}
.x-faq.-is-open .x-faq__answer {
  display: block;
}

.x-tooltip {
  display: inline-block;
  vertical-align: middle;
  width: 24px;
  height: 24px;
  box-sizing: border-box;
  border-radius: 50%;
  border: 1px solid var(--divider);
  background: none;
  color: var(--green);
  padding: 0;
  font-size: 0;
  color: transparent;
  background-image: url("data:image/svg+xml,%3Csvg width='4' height='6' viewBox='0 0 4 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.30697 4.63019H2.37402V5.66502H1.30697V4.63019ZM0 2.05206C0.0286458 1.37172 0.266168 0.88952 0.712565 0.605448C0.994249 0.424025 1.34039 0.333313 1.75098 0.333313C2.29047 0.333313 2.73806 0.462219 3.09375 0.720032C3.45182 0.977844 3.63086 1.35979 3.63086 1.86586C3.63086 2.17619 3.55328 2.43759 3.39811 2.65004C3.3074 2.77895 3.13314 2.94366 2.87533 3.14419L2.62109 3.34113C2.48264 3.44855 2.39073 3.57387 2.34538 3.7171C2.31673 3.80781 2.30122 3.94866 2.29883 4.13963H1.33203C1.34635 3.7362 1.38455 3.4581 1.44661 3.30532C1.50868 3.15015 1.66862 2.97231 1.92643 2.77179L2.18783 2.56769C2.27376 2.50323 2.34299 2.43281 2.39551 2.35642C2.49099 2.22513 2.53874 2.08071 2.53874 1.92316C2.53874 1.74173 2.48503 1.57702 2.3776 1.42902C2.27257 1.27863 2.07921 1.20343 1.79753 1.20343C1.52062 1.20343 1.32368 1.29534 1.20671 1.47915C1.09212 1.66296 1.03483 1.85393 1.03483 2.05206H0Z' fill='%2300AF7E'/%3E%3C/svg%3E%0A");
  background-position: center;
  background-repeat: no-repeat;
}
.x-tooltip.-size-s {
  width: 16px;
  height: 16px;
}
.x-tooltip.-active {
  background-color: var(--green);
  border-color: var(--green);
  background-image: url("data:image/svg+xml,%3Csvg width='4' height='6' viewBox='0 0 4 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.30697 4.63019H2.37402V5.66502H1.30697V4.63019ZM0 2.05206C0.0286458 1.37172 0.266168 0.88952 0.712565 0.605448C0.994249 0.424025 1.34039 0.333313 1.75098 0.333313C2.29047 0.333313 2.73806 0.462219 3.09375 0.720032C3.45182 0.977844 3.63086 1.35979 3.63086 1.86586C3.63086 2.17619 3.55328 2.43759 3.39811 2.65004C3.3074 2.77895 3.13314 2.94366 2.87533 3.14419L2.62109 3.34113C2.48264 3.44855 2.39073 3.57387 2.34538 3.7171C2.31673 3.80781 2.30122 3.94866 2.29883 4.13963H1.33203C1.34635 3.7362 1.38455 3.4581 1.44661 3.30532C1.50868 3.15015 1.66862 2.97231 1.92643 2.77179L2.18783 2.56769C2.27376 2.50323 2.34299 2.43281 2.39551 2.35642C2.49099 2.22513 2.53874 2.08071 2.53874 1.92316C2.53874 1.74173 2.48503 1.57702 2.3776 1.42902C2.27257 1.27863 2.07921 1.20343 1.79753 1.20343C1.52062 1.20343 1.32368 1.29534 1.20671 1.47915C1.09212 1.66296 1.03483 1.85393 1.03483 2.05206H0Z' fill='%23FFFFFF'/%3E%3C/svg%3E%0A");
}

.x-card-ref {
  margin: 30px 0;
  background-color: #001525;
  background-image: url('../images/x/card-ref.jpg');
  background-position: top right;
  color: #fff;
  max-height: 108px;
  transition: max-height 200ms;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.x-block .x-card-ref {
  margin: 0;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  background-image: url('../images/x/card-ref@2x.jpg');
}
.x-card-ref__toggler {
  position: absolute;
  z-index: 10;
  top: 23px;
  right: 32px;
  border: none;
  background: none;
  color: #fff;
}
.x-card-ref__toggler:before {
  content: attr(data-text-closed);
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.03em;
  margin-right: 4px;
}
.x-card-ref__toggler svg {
  transition: transform 200ms;
}
.x-card-ref__short,
.x-card-ref__long {
  transition: opacity 200ms, visibility 200ms;
  will-change: opacity, visibility;
}
.x-card-ref__short p,
.x-card-ref__long p {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.03em;
}
.x-card-ref__short {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 468px;
  padding: 20px 36px 0;
}
.x-card-ref__short h2 {
  color: #fff;
}
.x-card-ref__long {
  opacity: 0;
  visibility: hidden;
  padding: 32px 36px 52px;
  width: 360px;
}
.x-card-ref__long h1 {
  color: #fff;
  margin-bottom: 4px;
}
.x-card-ref__long table {
  margin: 13px 0 44px;
  font-size: 12px;
  line-height: 16px;
  white-space: nowrap;
}
.x-card-ref__long table th,
.x-card-ref__long table td {
  padding-right: 10px;
}
.x-card-ref__long table th {
  text-align: left;
  color: var(--grey);
  font-weight: normal;
  border-bottom: 1px solid var(--black);
  padding: 11px 0;
}
.x-card-ref__long table td {
  padding-top: 4px;
}
.x-card-ref__long table tbody tr:first-child td {
  padding-top: 12px;
}
.x-card-ref.-is-open {
  max-height: 444px;
}
.x-card-ref.-is-open .x-card-ref__toggler:before {
  content: attr(data-text-open);
}
.x-card-ref.-is-open .x-card-ref__toggler svg {
  transform: rotate(180deg) translateY(2px);
}
.x-card-ref.-is-open .x-card-ref__short {
  opacity: 0;
  visibility: hidden;
}
.x-card-ref.-is-open .x-card-ref__long {
  opacity: 1;
  visibility: visible;
}

.x-card-offer {
  margin: 30px 0;
  background-color: #f3f7f9;
  color: #414750;
  max-height: 72px;
  transition: max-height 200ms;
  will-change: max-height;
  position: relative;
  overflow: hidden;
  z-index: 1;
  border-radius: 8px;
}
.x-block .x-card-offer {
  margin: 0;
}
.x-card-offer__toggler {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 72px;
  border: none;
  background: none;
}
.x-card-offer__arrow {
  position: absolute;
  z-index: 9;
  top: 35px;
  right: 23px;
  transition: transform 200ms;
  font-size: 0;
  line-height: 0;
}
.x-card-offer__arrow path {
  fill: #414750;
  transition: fill 200ms;
}
.x-card-offer__short,
.x-card-offer__long {
  transition: opacity 200ms, visibility 200ms;
  will-change: opacity, visibility;
}
.x-card-offer__short p,
.x-card-offer__long p {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.03em;
}
.x-card-offer__short {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-content: center;
  padding: 16px 24px;
}
.x-card-offer__short img {
  flex: 0 0 auto;
  margin-right: 24px;
}
.x-card-offer__short p {
  width: 468px;
}
.x-card-offer__long {
  opacity: 0;
  visibility: hidden;
  position: relative;
}
.x-card-offer__long-body {
  padding: 32px 36px 40px;
  width: 360px;
}
.x-card-offer__long-image {
  position: absolute;
  top: 0;
  right: 0;
}
.x-card-offer__long-brands {
  position: absolute;
  width: 281px;
  top: 85px;
  right: 50px;
  text-align: center;
}
.x-card-offer__long-brands p {
  color: var(--grey);
  margin-top: 28px;
}
.x-card-offer__long h1 {
  margin-bottom: 24px;
}
.x-card-offer__long p {
  width: 288px;
}
.x-card-offer__long ol {
  width: 288px;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.03em;
  padding: 0;
  margin: 0 0 40px;
}
.x-card-offer__long ol li {
  padding: 0 0 0 11px;
  margin: 0 0 8px 12px;
}
.x-card-offer__long table {
  margin: 14px 0 31px;
  font-size: 12px;
  line-height: 16px;
  white-space: nowrap;
}
.x-card-offer__long table th,
.x-card-offer__long table td {
  padding-right: 10px;
}
.x-card-offer__long table th {
  text-align: left;
  color: var(--grey);
  font-weight: normal;
  border-bottom: 1px solid var(--divider);
  padding: 11px 0;
}
.x-card-offer__long table td {
  padding-top: 4px;
}
.x-card-offer__long table tbody tr:first-child td {
  padding-top: 12px;
}
.x-card-offer.-is-open .x-card-offer__arrow {
  transform: rotate(180deg) translateY(2px);
}
.x-card-offer.-is-open .x-card-offer__arrow.-opened-white path {
  fill: #fff;
}
.x-card-offer.-is-open .x-card-offer__short {
  opacity: 0;
  visibility: hidden;
}
.x-card-offer.-is-open .x-card-offer__long {
  opacity: 1;
  visibility: visible;
}

.x-card-choose {
  padding: 31px;
  border: 1px solid var(--divider);
}
.x-card-choose.-is-highlighted {
  background-color: var(--lightgrey);
}
.x-card-choose figure {
  text-align: center;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: -0.03em;
  color: var(--grey);
  position: relative;
  margin: 0;
}
.x-card-choose figure img {
  display: block;
  border-radius: 10px;
  margin-bottom: 14px;
  position: relative;
  z-index: 2;
  width: 236px;
  height: 150px;
  background-color: #fff;
}
.x-card-choose figure:before {
  content: '';
  display: block;
  position: absolute;
  top: 18px;
  left: 18px;
  right: 18px;
  width: 198px;
  height: 124px;
  box-shadow: 0px 28px 29px rgba(0, 0, 0, 0.24);
  border-radius: 12px;
}
.x-card-choose__info {
  position: relative;
  padding-top: 8px;
  width: 364px;
}
.x-card-choose__contactless {
  position: absolute;
  top: -20px;
  right: -44px;
  display: flex;
  align-items: center;
}
.x-card-choose__contactless img {
  flex: 0 0 auto;
  width: 40px;
  height: 40px;
}
.x-card-choose__contactless span {
  padding: 0 4px 2px 0;
}
.x-card-choose__fee.-refill {
  width: 135px;
}
.x-card-choose__fee.-cost {
  width: 120px;
}
.x-card-choose__fee.-buy {
  width: auto;
}
.x-card-choose__tip {
  width: 200px;
  background-color: var(--lightgrey);
  border: 1px solid var(--divider);
  padding: 11px;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: -0.03em;
  color: var(--black);
  box-sizing: border-box;
}

.x-toggler {
  border: none;
  background: none;
}
.x-toggler:before {
  content: attr(data-text-closed);
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.03em;
  margin-right: 4px;
}
.x-toggler svg {
  transition: transform 200ms;
  fill: currentColor;
}
.x-toggler.-is-active:before {
  content: attr(data-text-open);
}
.x-toggler.-is-active svg {
  transform: rotate(180deg) translateY(2px);
}

.x-common-table {
  width: 100%;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.03em;
}
.x-common-table th,
.x-common-table td {
  padding: 16px 0 15px;
  vertical-align: top;
}
.x-common-table th {
  text-align: left;
  font-weight: normal;
  color: var(--grey);
  padding-right: 36px;
}
.x-common-table td {
  color: var(--black);
}
.x-common-table tr:not(:first-child) th,
.x-common-table tr:not(:first-child) td {
  border-top: 1px solid var(--divider);
}
.x-common-table__badges {
  margin: -4px 0;
}
.x-common-table__badges img {
  display: block;
  width: 100%;
}
.x-common-table__badges.-bg-white img {
  border-radius: 50%;
  background-color: var(--blocktabs);
}
.x-common-table__badges.-bg-gray img {
  border-radius: 50%;
  background-color: var(--lightgrey);
}

.x-limit-table {
  width: 100%;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.03em;
}
.x-limit-table thead th:not(:first-child),
.x-limit-table tbody td:not(:first-child) {
  padding-left: 36px;
}
.x-limit-table thead th {
  text-align: left;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: -0.03em;
  color: var(--grey);
  border-bottom: 1px solid var(--divider);
  padding: 19px 0;
}
.x-limit-table tbody td {
  padding: 8px 0;
  vertical-align: top;
  color: var(--black);
}
.x-limit-table tbody tr:first-child td {
  padding-top: 16px;
}

.x-accordeon {
  display: none;
}
.x-accordeon.-is-open {
  display: block;
}

.x-badge-count {
  border-radius: 50%;
  width: 100%;
  position: relative;
  background-color: var(--lightgrey);
}
.x-badge-count:before {
  content: '';
  display: block;
  padding-top: 100%;
}
.x-badge-count span {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.x-badge-count.-bg-white {
  background-color: var(--blocktabs);
}
.x-badge-count.-bg-gray {
  background-color: var(--lightgrey);
}

.x-dropdown {
  background-color: #fff;
  border: 1px solid var(--divider);
  border-radius: 8px;
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.12);
  padding: 20px;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.03em;
  white-space: nowrap;
}
.x-dropdown a {
  text-decoration: none;
}
.x-dropdown a:not([class]) {
  color: var(--black);
}
.x-dropdown a:hover {
  text-decoration: underline;
}
.x-dropdown__link + .x-dropdown__link {
  margin-top: 12px;
}

.x-more {
  display: inline-block;
  vertical-align: 0.3em;
  position: relative;
}
.x-more__handle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 16px;
  border-radius: 5px;
  background: var(--blocktabs);
  color: var(--black);
  border: none;
}
.x-more__handle:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: currentColor;
  box-shadow: 6px 0 0 currentColor, -6px 0 0 currentColor;
}
.x-more__dropdown {
  display: none;
  position: absolute;
  z-index: 1000;
  top: 100%;
  margin-top: 8px;
}
.x-more.-at-left {
  margin-right: 7px;
}
.x-more.-at-right {
  margin-left: 7px;
}
.x-more.-open-left .x-more__dropdown {
  right: 0;
}
.x-more.-open-right .x-more__dropdown {
  left: 0;
}
.x-more.-is-open .x-more__handle {
  background-color: var(--grey);
  color: #fff;
}
.x-more.-is-open .x-more__dropdown {
  display: block;
}

.x-slot {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--divider);
  background-color: var(--lightgrey);
  padding: 0 16px;
  height: 100%;
  box-sizing: border-box;
}

.x-qr-preview {
  border: none;
  background: var(--lightgrey);
  padding: 12px 12px 11px;
  border-radius: 8px;
}
.x-qr-preview img {
  width: 80px;
  margin-bottom: 9px;
}
.x-qr-preview span {
  display: block;
}

.x-summary {
  display: flex;
  align-items: flex-start;
  border: 1px solid var(--divider);
  border-radius: 8px;
  padding: 23px 23px 22px;
}
.x-summary__block-label {
  display: flex;
  align-items: flex-start;
  margin-bottom: 4px;
}
.x-summary__block-label-tooltip {
  margin-left: 5px;
}
.x-summary__delimiter {
  flex: 0 0 auto;
  width: 1px;
  height: 52px;
  background-color: var(--divider);
  margin: 0 31px 0 32px;
}

.x-transaction {
  position: relative;
  padding: 22px 0 25px;
}
.x-transaction table {
  font-size: 14px;
  line-height: 20px;
}
.x-transaction table th,
.x-transaction table td {
  padding-top: 6px;
  padding-bottom: 6px;
}
.x-transaction table th {
  text-align: left;
  font-weight: normal;
  color: var(--grey);
  width: 176px;
  padding-right: 12px;
}
.x-transaction table td {
  color: var(--black);
}
.x-transaction__status {
  position: absolute;
  bottom: 26px;
  right: 0;
  border-radius: 3px;
  display: flex;
  align-items: center;
  padding: 4px 8px;
}
.x-transaction__status img {
  margin-left: 5px;
}
.x-transaction__status.-color-grey {
  background-color: var(--blocktabs);
}
.x-transaction__status.-color-grey span {
  color: var(--grey);
}
.x-transaction__status.-color-green {
  background-color: rgba(0, 175, 126, 0.1);
}
.x-transaction__status.-color-green span {
  color: var(--green);
}

.x-page {
  display: inline-flex;
  vertical-align: top;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  background-color: var(--lightgrey);
  color: var(--black);
  border-radius: 6px;
}
.x-page + .x-page {
  margin-left: 8px;
}
.x-page.-is-current {
  background-color: var(--black);
  color: #fff;
}
.x-page.-is-disabled img {
  opacity: 0.2;
}

.x-pin {
  display: inline-flex;
  align-items: center;
  background-color: #f2f7f9;
  padding: 10px 10px 10px 24px;
}
.x-pin__value {
  font-size: 24px;
  line-height: 24px;
  letter-spacing: -0.03em;
  margin-right: 24px;
}

.x-prop {
  display: flex;
  align-items: center;
  color: var(--green);
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.03em;
  font-weight: normal;
  background-color: var(--lightgrey);
  border-radius: 20px;
  height: 40px;
  box-sizing: border-box;
  padding: 8px 12px;
}
.x-prop img {
  flex: 0 0 auto;
  margin-right: 8px;
}

.x-survey {
  display: flex;
  align-items: center;
  position: fixed;
  bottom: 70px;
  right: 20px;
  height: 45px;
  background: linear-gradient(180deg, #012838 0%, #013d4e 100%);
  border: none;
  cursor: pointer;
  font-family: Gerbera, Arial, sans-serif;
  transition-property: transform, opacity, visibility;
  transition-duration: 200ms;
  transform-origin: bottom right;
  z-index: 999997;
  transform: scale(0);
  opacity: 0;
  visibility: hidden;
}
.x-survey.-is-ready {
  transform: scale(1);
  opacity: 1;
  visibility: visible;
}
.x-survey__label {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -0.35px;
  color: #fff;
  margin-right: 12px;
}
.x-survey__progress {
  font-weight: 300;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: -0.35px;
  color: #fff;
  opacity: 0.5;
  min-width: 35px;
  padding-right: 1px;
  text-align: right;
}
.x-survey__badge {
  background: #00af7e;
  border-radius: 5px;
  width: 21px;
  height: 21px;
  text-align: center;
  font-weight: 500;
  font-size: 13px;
  line-height: 22px;
  letter-spacing: -0.03em;
  color: #fff;
}
.x-survey.-shape-rect {
  border-radius: 6px;
  justify-content: space-between;
  padding: 0 16px;
}
.x-survey.-shape-rect svg {
  display: none;
}
.x-survey.-shape-circle {
  width: 45px;
  border-radius: 50%;
  justify-content: center;
}
.x-survey.-shape-circle .x-survey__progress {
  text-align: center;
}
.x-survey.-shape-circle .x-survey__label {
  display: none;
}
.x-survey.-status-waiting .x-survey__label {
  margin-right: 0;
}
.x-survey.-status-waiting .x-survey__progress,
.x-survey.-status-waiting .x-survey__badge {
  display: none;
}
.x-survey.-status-started.-badge-current .x-survey__progress,
.x-survey.-status-started.-badge-progress .x-survey__badge,
.x-survey.-status-finished.-badge-current .x-survey__progress,
.x-survey.-status-finished.-badge-progress .x-survey__badge {
  display: none;
}
.x-survey.-shape-circle.-status-started svg,
.x-survey.-shape-circle.-status-finished svg {
  display: none;
}
.x-survey.-status-finished {
  transform: scale(0);
  opacity: 0;
  visibility: hidden;
}
.qs-embed-modal {
  position: fixed;
  z-index: -1;
  background: linear-gradient(180deg, #012838 0%, #013d4e 100%);
  border-radius: 6px;
  width: 280px;
  right: 20px;
  bottom: 70px;
  will-change: transform, opacity, visibility;
  transition-property: transform, opacity, visibility;
  transition-duration: 200ms;
  transform-origin: bottom right;
  opacity: 0;
}
.qs-embed-modal.-is-ready {
  transform: scale(0);
  opacity: 0;
  visibility: hidden;
  z-index: 999999;
}
.qs-embed-modal.-is-open {
  transform: scale(1);
  opacity: 1;
  visibility: visible;
}
.qs-embed-iframe {
  display: block;
  width: 100%;
  border: none;
  border-radius: 6px;
  transition: max-height 150ms;
  max-height: 0;
  height: 1000px;
}
.qs-embed-collapse {
  position: absolute;
  bottom: 100%;
  right: 0;
  margin-bottom: 8px;
  width: 24px;
  height: 24px;
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='12' cy='12' r='11.6364' stroke='%236C7583' stroke-width='0.727273'/%3E%3Crect x='7' y='11' width='10' height='2' rx='1' fill='%236C7583'/%3E%3C/svg%3E%0A");
  font-size: 0;
  line-height: 0;
  color: rgba(255, 255, 255, 0);
  cursor: pointer;
  border-radius: 50%;
}
.qs-embed-close {
  position: absolute;
  bottom: 100%;
  right: 30px;
  margin-bottom: 8px;
  width: 24px;
  height: 24px;
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='0.5'%3E%3Ccircle cx='12' cy='12' r='11.6364' stroke='%236C7583' stroke-width='0.727273'/%3E%3Cpath d='M8.49072 8.49091L15.6907 15.6909' stroke='%236C7583' stroke-width='1.29091' stroke-linecap='round'/%3E%3Cpath d='M15.6909 8.49091L8.49092 15.6909' stroke='%236C7583' stroke-width='1.29091' stroke-linecap='round'/%3E%3C/g%3E%3C/svg%3E%0A");
  font-size: 0;
  line-height: 0;
  color: rgba(255, 255, 255, 0);
  cursor: pointer;
  border-radius: 50%;
}

.cookie-policy-banner {
  display: none;
  align-items: center;
  position: fixed;
  bottom: 32px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10000;
  background: #414750;
  box-shadow: 0px 7px 20px rgba(0, 0, 0, 0.12);
  border-radius: 8px;
  color: #fff;
  padding: 12px;
  white-space: nowrap;
}
.cookie-policy-banner img {
  flex: 0 0 auto;
  margin: 0 8px;
}
.cookie-policy-banner p {
  margin: 0;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.03em;
  min-width: 370px;
}
.cookie-policy-banner a {
  color: #00af7e;
  text-decoration: none;
}
.cookie-policy-banner a:hover {
  text-decoration: underline;
}
.cookie-policy-banner button {
  border: 1px solid #6c7583;
  box-sizing: border-box;
  border-radius: 4px;
  text-transform: uppercase;
  height: 40px;
  color: #fff;
  padding: 0 24px;
  background: none;
  font-weight: 500;
  font-size: 12px;
  letter-spacing: -0.01em;
  margin-left: 16px;
  flex: 0 0 auto;
  transition-property: background-color, border-color;
  transition-duration: 150ms;
  cursor: pointer;
}
.cookie-policy-banner button:hover {
  background-color: #00af7e;
  border-color: #00af7e;
}
.cookie-policy-banner.-active {
  display: flex;
}